{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/logo-icon.png" type="image/png">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
	<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/table-content.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
	<link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Announcements</title>
</head>

<body>
    <div class="container">
        {% include "assets/dir-sidebar.html" %}

        <div class="right-section">
            <header class="header">
                <button class="toggle-sidebar" id="toggleSidebar"><i class="fa-solid fa-bars"></i></button>
                <div class="header-right">
                    <button class="toggle-notification" id="notification"><i class="fa-solid fa-bell"></i></button>
                    <!---->
                    <div class="dropdown">
                        <button class="profile m-0" type="button" id="profileDropdown" data-bs-toggle="dropdown">
                            <div class="profile-pic">
                                <img src="{% if user_profile.profile_picture %}/media/{{ user_profile.profile_picture }}{% else %}{% static 'images/default_profile_picture.png' %}{% endif %}"
                                     id="profilePicture" 
                                     class="profile-modal-pic" 
                                     style="width: 50px; height: 50px; object-fit: cover; border-radius: 50%;">
                            </div>                                                                                
                            <div class="profile-info">
                                <span class="profile-name">{{ user_profile.firstname }} {{user_profile.lastname}}</span>
                                <span class="profile-role">{{ user_profile.role }}</span>
                            </div>
                        </button>
                        <ul class="drop-profile dropdown-menu" aria-labelledby="profileDropdown">
                            <li>
                                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#profileModal">
                                    <i class='bx bx-user-circle drop-icon'></i>
                                    <span class="drop-name">Profile</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#settingsModal">
                                    <i class='bx bx-cog drop-icon'></i> 
                                    <span class="drop-name">Settings</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'user_logout' %}">
                                    <i class='bx bx-log-out drop-icon'></i> 
                                    <span class="drop-name">Log Out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!---->
                </div>
            </header>
            
            <main class="main-content">
                <div class="title-container d-flex justify-content-between align-items-center">
                    <h3 class="fw-semibold m-0">Post Announcements</h3>
                </div>

                <div class="content-wrapper my-3 px-4 py-3 bg-white rounded shadow-sm">
                    <form id="checkboxForm" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="offices" id="offices" value="">
                        <input type="hidden" name="all_offices" id="all_offices" value="false">
                        <div class="pt-1 mb-2">
                            <label for="OfficeRecipient" class="form-label">Recipient Office</label>
                            <div class="mx-3" style="font-size: 13px;">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" value="All" id="checkAll">
                                    <label class="form-check-label" for="checkAll">
                                        All
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" value="Admin" id="checkAdmin">
                                    <label class="form-check-label" for="checkAdmin">
                                        Admin
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" value="Accounting" id="checkAccounting">
                                    <label class="form-check-label" for="checkAccounting">
                                        Accounting
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" value="Budgeting" id="checkBudget">
                                    <label class="form-check-label" for="checkBudget">
                                        Budgeting
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" value="Cashier" id="checkCashier">
                                    <label class="form-check-label" for="checkCashier">
                                        Cashier
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" value="Payroll" id="checkPayroll">
                                    <label class="form-check-label" for="checkPayroll">
                                        Payroll
                                    </label>
                                </div>
                            </div>
                        </div>
                
                        <!-- Error message for checkbox validation -->
                        <div id="checkboxError" class="text-danger mx-3 mb-3" style="display: none;">
                            <i class='bx bxs-info-circle bx-rotate-180' style='color:#dc3545' ></i></i>&nbsp; Please select at least one recipient office.
                        </div>

                        <!-- Error message for required fields -->
                        <div id="fieldError" class="text-danger mx-3 mb-3" style="display: none;">
                            <i class='bx bxs-info-circle bx-rotate-180' style='color:#dc3545'></i>&nbsp; Please fill in all required fields before submitting.
                        </div>
                
                        <div class="mb-3">
                            <label for="announcementTitle" class="form-label">Announcement Title</label>
                            <input class="form-control" maxlength="100" name="announcementTitle" id="announcementTitle" placeholder="e.g. Upcoming System Maintenance" required>
                        </div>
                
                        <div class="mb-3">
                            <label for="Description" class="form-label">Description</label>
                            <textarea type="text" maxlength="200" class="form-control" name="description"  id="description" placeholder="e.g. Please be advised for an upcoming maintenance service. Expect 1-2 days system shutdown." required></textarea>
                        </div>
                
                        <!-- -->
                        <div class="mb-3">
                            <label for="formFile" class="form-label">
                                Upload Attachment&nbsp;
                                <span class="text-muted fw-regular opacity-50">(Optional, Upload PDF only)</span>
                            </label>
                            <div class="input-group">
                                <input class="form-control form-file" type="file" id="formFile" name="attachment" accept=".pdf, application/pdf">
                            </div>
                            <!-- Hidden input to store the default attachment value -->
                            <input type="hidden" id="hiddenAttachment" name="hiddenAttachment" value="/default_attachment.pdf">
                        </div>
                        <!-- -->

                        <!-- End Date -->
                        <div class="mb-3">
                            <label for="endDate" class="form-label">End Date</label>
                            <input type="date" class="form-control" name="endDate" id="endDate" required>
                        </div>
                
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-primary mb-1" id="openModalBtn">Confirm</button>
                        </div>

                    </form>
                </div>

                <!-- EDIT ANNOUNCEMENT -->
                <div class="rounded-2 p-3 mb-3" style="background-color: white; height: auto;">
                    <p class="mb-0 fw-bold"><i class='bx bxs-megaphone' style="color: #007bff;"></i> Edit Announcements</p>

                    <div id="successMessage" class="alert alert-success" style="display: none;">
                        Announcement deleted successfully.
                    </div>

                    <div class="announcements-container">
                        {% for announcement in announcements %}
                        <div class="d-flex justify-content-between align-items-center border border-primary rounded-2 my-2 p-3" style="background-color: #F5F7F8; border-color: #007bff; border-radius: 10px;" data-id="{{ announcement.id }}">
                            <div>
                                <h5 class="mb-1 fw-bold title" style="color: #5BC0EB;">{{ announcement.title }}</h5>
                                <p></p>
                                <p class="mb-0 description">{{ announcement.description }}</p>
                                <p></p>
                                <p class="mb-0 text-muted" style="font-size: 0.9em;">
                                    <i class='bx bx-calendar' style="color: #007bff;"></i>
                                    <span class="dateCreated">Date Created: {{ announcement.created_at|date:"F j, Y" }}</span>
                                </p>
                                <p></p>
                                <!-- End Date -->
                                <p class="mb-0 text-muted" style="font-size: 0.9em;">
                                    <i class='bx bx-calendar-exclamation' style="color: #ff0000;"></i>
                                    <span class="dateEnd">End Date: {{ announcement.end_date|date:"F j, Y" }}</span>
                                </p>
                            </div>
                            <div class="d-flex align-items-center">
                                {% if announcement.attachment %}
                                <button type="button" class="preview btn btn-sm btn-blue me-2" onclick="viewFile('{{ announcement.attachment.name }}')" title="View File">
                                    <i class="fa-solid fa-eye"></i>
                                </button>
                                {% endif %}
                                <!-- Edit Button -->
                                <button type="button" class="btn btn-sm btn-green mx-1" title="Edit Announcement" 
                                    onclick="console.log('{{ announcement.title|escapejs }}'); openEditModal('{{ announcement.id }}', '{{ announcement.title|escapejs }}', '{{ announcement.description|escapejs }}', '{{ announcement.attachment.url|default:'' }}', '{{ announcement.end_date|date:'Y-m-d' }}')">
                                    <i class="fa-solid fa-edit"></i>
                                </button>

                                <!-- Delete Button -->
                                <button type="button" class="btn btn-sm btn-red" onclick="deleteAnnouncement(this, '{{ announcement.id }}')" data-id="{{ announcement.id }}" title="Delete Announcement">
                                    <i class="fa-solid fa-trash-can"></i>
                                </button>

                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </main>
        </div>
    </div>
    
    <!-- Edit Announcement Modal -->
    <div class="modal fade" id="editAnnouncementModal" tabindex="-1" aria-labelledby="editAnnouncementModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editAnnouncementModalLabel">Edit Announcement</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editAnnouncementForm" enctype="multipart/form-data">
                        <input type="hidden" id="announcementId" name="announcementId">
                        <div class="mb-3">
                            <label for="editAnnouncementTitle" class="form-label">Title</label>
                            <textarea class="form-control" id="editAnnouncementTitle" name="announcementTitle" rows="2" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="announcementDescription" class="form-label">Description</label>
                            <textarea class="form-control" id="announcementDescription" name="announcementDescription" rows="3" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="announcementAttachment" class="form-label">Attachment</label>
                            <input type="file" class="form-control" id="announcementAttachment" name="attachment" accept=".pdf">
                            <p class="small" id="existingAttachment" style="margin-top: 5px;"></p>
                        </div>
                        <!-- End Date -->
                        <div class="mb-3">
                            <label for="editAnnouncementEndDate" class="form-label">End Date</label>
                            <input type="date" class="form-control" id="editAnnouncementEndDate" name="announcementEndDate" required>
                        </div>                        
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Confirmation Modal -->
    <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModalLabel">Confirm Deletion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this announcement?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Delete</button>
                </div>
            </div>
        </div>
    </div>  

    <!-- Attachment Modal -->
    <div class="modal fade" id="attachmentModal" tabindex="-1" aria-labelledby="attachmentModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="attachmentModalLabel">View Attachment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalBody">
                    <!-- The file will be displayed here -->
                    <iframe id="attachmentViewer" src="" frameborder="0" style="width: 100%; height: 500px;"></iframe>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal to Confirm Announcement Posting -->
    <div class="modal fade" id="confirmRecordCreation" tabindex="-1" aria-labelledby="confirmRecordCreationLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 px-3 py-2 bg-white shadow">
                <div class="modal-header pb-0 border-bottom-0">
                    <h5 class="modal-title" id="confirmRecordCreationLabel">Post Announcement</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to post announcement? Please review the information before proceeding.</p>
                </div>
                <div class="modal-footer p-3 pt-0 border-top-0">
                    <button type="button" class="m-0 mb-2 btn btn-primary" id="confirmCreate" data-bs-toggle="modal">Confirm</button>
                    <button type="button" class="m-0 mb-2 btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Profile Modal -->
    <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 px-0 pb-2 bg-white shadow">
                <div class="title-cover modal-header pb-1 pt-4 border-bottom-0" style="padding-left: 32px; padding-right: 32px;">
                    <h5 class="modal-title" id="departmentReportModalLabel">Your Profile</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="cover modal-body py-3 pb-0" style="padding-left: 32px; padding-right: 32px;">
                    <div class="text-center">
                        <img src="{% if user_profile.profile_picture %}/media/{{ user_profile.profile_picture }}{% else %}{% static 'images/default_profile_picture.png' %}{% endif %}" 
                             id="profilePicture" 
                             class="profile-modal-pic">
                    </div>
                </div>                

                <div class="modal-body pt-1" style="padding-left: 32px; padding-right: 32px;">
                    <div class="mb-3">
                        <h4 id="fullName" class="text-center my-1 p-0">{{ user_profile.firstname }} {% if user_profile.middlename %}{{user_profile.middlename|slice:":1"}}.{%endif%} {{user_profile.lastname}}</h4>
                        <p id="role" class="text-center p-0">{{ user_profile.role }}</p>
                    </div>

                    <div class="row mb-3 g-3">
                        <div class="col text-start">
                            <p id="userIDLabel" class="d-flex align-items-center gap-2">
                                <i class="fa-solid fa-circle-user profile-icon"></i><strong>User ID</strong>
                            </p>
                        </div>
                        <div class="col text-end">
                            <p id="userIDValue">{{ user_profile.user_id }}</p>
                        </div>
                    </div>

                    <div class="row mb-3 g-3">
                        <div class="col text-start">
                            <p id="emailAddress" class="d-flex align-items-center gap-2">
                                <i class="fa-solid fa-envelope profile-icon"></i><strong>Email Address</strong>
                            </p>
                        </div>
                        <div class="col text-end">
                            <p id="employeeEmail">{{ user_profile.email }}</p>
                        </div>
                    </div>
                
                    <div class="row mb-3 g-3">
                        <div class="col text-start">
                            <p id="contactNumber" class="d-flex align-items-center gap-2">
                                <i class="fa-solid fa-phone profile-icon"></i><strong>Contact Number</strong>
                            </p>
                        </div>
                        <div class="col text-end">
                            <p id="employeeContact">{{ user_profile.contact_no }}</p>
                        </div>
                    </div>

                    <button type="button" class="w-100 mt-1 mb-2 btn btn-primary" data-bs-toggle="modal" data-bs-target="#editProfileModal">Edit Profile</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Profile Modal -->
    <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 px-3 py-2 bg-white shadow">
                <div class="modal-header pb-0 border-bottom-0">
                    <h5 class="modal-title" id="departmentReportModalLabel">Edit Profile Information</h5>
                    <button type="button" id="clostEditProfileModalBtn" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form id="editProfileForm" method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="d-flex align-items-center justify-content-center mb-3">
                            <div class="me-3">
                                <img src="{% if user_profile.profile_picture %}/media/{{ user_profile.profile_picture }}{% else %}{% static 'images/default_profile_picture.png' %}{% endif %}" 
                                    alt="Profile Picture" id="editProfilePicture" class="profile-modal-pic" style="width: 115px; height: 115px;">
                            </div>
                            <div>
                                <div class="mb-2">
                                    <input type="file" name="new_profile_photo" id="changePhotoInput" style="display:none;" accept="image/*" value="{% if user_profile.profile_picture %}/media/{{ user_profile.profile_picture }}{% endif %}" onchange="previewImage(event)">
                                    <button type="button" class="btn btn-primary me-2" onclick="document.getElementById('changePhotoInput').click()">Change Photo</button>
                                    <button type="button" class="btn btn-secondary" id="deletePhotoButton" onclick="deletePhoto()">Delete Photo</button>
                                </div>
                                <p class="mt-2 text-muted"><small>Upload PNG or JPG. (max 300 x 300px)</small></p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="editFirstName" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="editFirstName" name="new_firstname" value="{{ user_profile.firstname }}" maxlength="40" required>
                        </div>
                        <div class="mb-3">
                            <label for="editMiddleName" class="form-label">Middle Name (optional)</label>
                            <input type="text" class="form-control" id="editMiddleName" name="new_middlename" value="{{ user_profile.middlename }}" maxlength="40">
                        </div>
                        <div class="mb-3">
                            <label for="editLastName" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="editLastName" name="new_lastname" value="{{ user_profile.lastname }}" maxlength="40" required>
                        </div>
                        <div class="mb-3">
                            <label for="editContactNumber" class="form-label">Contact Number</label>
                            <input type="text" class="form-control" id="editContactNumber" name="new_contact_no" value="{{ user_profile.contact_no }}" maxlength="11" required>
                        </div>
                        <input type="hidden" name="temp_delete_profile" id="tempDeleteProfile" value="no">
                    </form>
                    <button type="button" id="saveEditProfileBtn" class="w-100 mt-1 mb-2 btn btn-primary">Save Changes</button>
                </div>
            </div>
        </div>
    </div>


    <script src="{% static 'js/toggle-sidebar.js' %}"></script>  
    <script src="{% static 'js/tabs-nav.js' %}"></script>
    <script src="{% static 'js/records-count.js' %}"></script>
    <script src="{% static 'js/announcement.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="{% static 'js/profile.js' %}"></script>
    {% include "assets/profile-reset-inputs.html" %}
    <script>
        document.getElementById('formFile').addEventListener('change', function(event) {
            const file = event.target.files[0];
            const hiddenInput = document.getElementById('hiddenAttachment');
    
            // Validate file type
            if (file && file.type !== 'application/pdf') {
                alert('Please upload a valid PDF file.');
                event.target.value = ''; // Clear the input
                hiddenInput.value = 'default_attachment.pdf'; // Reset to default attachment
            } else if (file) {
                hiddenInput.value = ''; // Clear the default value if a valid file is selected
            } else {
                hiddenInput.value = 'default_attachment.pdf'; // Retain the default value if no file is selected
            }
        });
    </script>
    <!-- -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const params = new URLSearchParams(window.location.search);
            const status = params.get('status');
            if (status) {
                // Assuming you want to add the class to the element with ID 'targetElement'
                document.querySelector('#announcements').classList.add(status);
            }
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const checkAll = document.getElementById('checkAll');
            const otherCheckboxes = document.querySelectorAll('#checkAdmin, #checkAccounting, #checkBudget, #checkCashier, #checkPayroll');
            const form = document.getElementById('checkboxForm');
            const checkboxError = document.getElementById('checkboxError');
            const fieldError = document.getElementById('fieldError');
            const openModalBtn = document.getElementById('openModalBtn');
            const confirmCreate = document.getElementById('confirmCreate');
            const confirmModal = new bootstrap.Modal(document.getElementById('confirmRecordCreation'));
            const officesInput = document.getElementById('offices');
            const allOfficesInput = document.getElementById('all_offices');
    
            // Function to validate checkboxes
            function validateCheckboxes() {
                return Array.from(document.querySelectorAll('input[type="checkbox"]')).some(checkbox => checkbox.checked);
            }
    
            // Function to validate required fields
            function validateRequiredFields() {
                const title = document.getElementById('announcementTitle').value.trim();
                const description = document.getElementById('description').value.trim();
                const endDate = document.getElementById('endDate').value; // 
                return title !== '' && description !== '' && endDate !== ''; //
            }
    
            // Disable other checkboxes when "All" is checked
            checkAll.addEventListener('change', function() {
                otherCheckboxes.forEach(checkbox => {
                    checkbox.disabled = checkAll.checked;
                    if (checkAll.checked) {
                        checkbox.checked = false; // Uncheck the others
                    }
                });
            });
    
            // Disable "All" checkbox when any other is checked
            otherCheckboxes.forEach(checkbox => {
                checkbox.addEventListener('change', function() {
                    if (this.checked) {
                        checkAll.disabled = true; // Disable "All" when any other is checked
                    } else {
                        // Re-enable "All" if none of the other checkboxes are checked
                        const anyChecked = Array.from(otherCheckboxes).some(checkbox => checkbox.checked);
                        if (!anyChecked) {
                            checkAll.disabled = false;
                        }
                    }
                });
            });
    
            // Open the modal after validating checkboxes and form
            openModalBtn.addEventListener('click', function() {
                checkboxError.style.display = 'none'; // Hide checkbox error if it was previously shown
                fieldError.style.display = 'none'; // Hide field error if it was previously shown
    
                if (!validateRequiredFields()) {
                    fieldError.style.display = 'block'; // Show error if required fields are empty
                    return;
                }
    
                if (validateCheckboxes()) {
                    checkboxError.style.display = 'none'; // Hide error if validation passes
    
                    // Collect the selected offices
                    const selectedOffices = [];
                    if (checkAll.checked) {
                        officesInput.value = "All";
                        allOfficesInput.value = "true"; // Set true if 'All' is checked
                    } else {
                        otherCheckboxes.forEach(checkbox => {
                            if (checkbox.checked) {
                                selectedOffices.push(checkbox.value);
                            }
                        });
                        officesInput.value = selectedOffices.join(', '); // Join selected offices
                        allOfficesInput.value = "false"; // Set false if 'All' is not checked
                    }
    
                    confirmModal.show(); // Show confirmation modal
                } else {
                    checkboxError.style.display = 'block'; // Show error if no checkbox is checked
                }
            });
    
            // If confirmed, submit the form
            confirmCreate.addEventListener('click', function() {
                form.submit(); // Programmatically submit the form
            });
        });
    </script>

</body>
</html>

<!-- TEST COMMIT -->