{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/logo-icon.png" type="image/png">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/table-content.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document Management</title>
</head>

<body>
    <div class="container">
        {% include "assets/dir-sidebar.html" %}

        <div class="right-section">
            <header class="header">
                <button class="toggle-sidebar" id="toggleSidebar"><i class="fa-solid fa-bars"></i></button>
                <div class="header-right">
                    <!-- NOTIFICATIONS UI -->
                    {% include "partials/display-notifications.html" %}
                    <!---->
                    <div class="dropdown">
                        <button class="profile m-0" type="button" id="profileDropdown" data-bs-toggle="dropdown">
                            <div class="profile-pic">
                                <img src="{% if user_profile.profile_picture %}/media/{{ user_profile.profile_picture }}{% else %}{% static 'images/default_profile_picture.png' %}{% endif %}"
                                     id="profilePicture" 
                                     class="profile-modal-pic" 
                                     style="width: 50px; height: 50px; object-fit: cover; border-radius: 50%;">
                            </div>                                                                                
                            <div class="profile-info">
                                <span class="profile-name">{{ user_profile.firstname }} {{user_profile.lastname}}</span>
                                <span class="profile-role">{{ user_profile.role }}</span>
                            </div>
                        </button>
                        <ul class="drop-profile dropdown-menu" aria-labelledby="profileDropdown">
                            <li>
                                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#profileModal">
                                    <i class='bx bx-user-circle drop-icon'></i>
                                    <span class="drop-name">Profile</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#settingsModal">
                                    <i class='bx bx-cog drop-icon'></i> 
                                    <span class="drop-name">Settings</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'user_logout' %}">
                                    <i class='bx bx-log-out drop-icon'></i> 
                                    <span class="drop-name">Log Out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!---->
                </div>
            </header>
            
            <main class="main-content">
                <div class="title-container d-flex justify-content-between align-items-center">
                    <h3 class="fw-semibold m-0">Document Management</h3>
                    <div class="d-flex justify-content-between align-items-center" style="gap: 12px;">
                        <div class="search-container">
                            <input type="text" id="searchInput" data-url="{% url 'update_document_types_display' %}" class="form-search form-control shadow-sm" placeholder="Search a document type">
                            <i class="fa-solid fa-search search-icon"></i>  
                            <i class="fa-solid fa-xmark clear-icon" style="display: none;"></i>
                        </div>
                        <button type="button" class="btn btn-primary" style="max-height: 37.85; padding: 7.63px 11.2px;" data-bs-toggle="modal" data-bs-target="#addDocumentTypeModal">
                            <i class="fa-solid fa-plus"></i>&nbsp; Create Document Type
                        </button>     
                    </div>
                </div>

                <div class="my-3 px-3 py-2 pb-3 bg-white rounded shadow-sm">
                    <div class="table-responsive table-wrapper d-flex">
                        <table class="table mb-1 with-action">
                            <thead>
                                <tr>
                                    <th>
                                        Document Type 
                                        <a href="?status=active&sort_by=document_type&order=asc"><i class='bx bxs-sort-alt'></i></a>
                                    </th>
                                    <th>
                                        Category
                                        <a href="?status=active&sort_by=category&order=asc"><i class='bx bxs-sort-alt'></i></a>
                                    </th>
                                    <th>Route</th>
                                    <th>
                                        Priority Level
                                        <a href="?status=active&sort_by=priority_level_id&order=asc"><i class='bx bxs-sort-alt'></i></a>
                                    </th>
                                    <th>Action</th>
                                </tr>
                            </thead>
        
                            <tbody id="docTableBody"></tbody>    
                                            
                        </table>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <!-- Add Document Type Modal -->
    <div class="modal fade" id="addDocumentTypeModal" tabindex="-1" aria-labelledby="addDocumentTypeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 px-3 py-2 bg-white shadow">
                <div class="modal-header pb-0 border-bottom-0">
                    <h5 class="modal-title" id="addDocumentTypeModalLabel">New Document Type</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
        
                <div class="modal-body mt-1 pt-2">    
                    <div id="alert-container"></div>

                    <form id="addDocumentTypeForm" method="post" action="{% url 'director_doc_management' %}">
                        {% csrf_token %}
                        <input type="hidden" name="form_source" value="director">
                        <!-- Document Type Input -->
                        <div class="mb-3">
                            <label for="documentType" class="form-label">Document Type</label>
                            <input type="text" class="form-control" id="documentType" placeholder="Enter Document Type" name="document_type" maxlength="43" required>
                        </div>
            
                        <!-- Category Select -->
                        <div class="mb-3">
                            <label for="category" class="form-label">Category</label>
                            <select class="form-select" id="category" name="category" required>
                                <option value="" disabled selected hidden>Select Category</option>
                                <option value="Regular">Regular</option>
                                <option value="Trust">Trust</option>
                            </select>
                        </div>
            
                        <!-- Route Input -->
                        <div class="mb-3">
                            <div class="row">
                                <div class="col">
                                    <label for="route" class="form-label">Route</label>
                                </div>
                                <div class="col text-end">
                                    <a href="#" id="add-route-step" class="route-link"><i class="fa-solid fa-plus"></i> &nbsp;Add Route</a>
                                </div>
                            </div>

                            <div id="route-steps-container">
                                <!-- Initial Route Step -->
                                <div class="input-group m-0 route-step">
                                    <span class="input-group-text">Route 1</span>
                                    <select class="form-select route-select" name="route[]" required>
                                        <option value="" disabled selected hidden>Select Office</option>
                                        <option value="Director">Director</option>
                                        <option value="Accounting">Accounting</option>
                                        <option value="Budgeting">Budgeting</option>
                                        <option value="Cashier">Cashier</option>
                                        <option value="Payroll">Payroll</option>
                                    </select>
                                    <a href="#" class="btn btn-danger btn-x-red remove-route-step"><i class="fa-solid fa-trash-can"></i></a>
                                </div>
                            </div>
                        </div>

                        <!-- Priority Level Select -->
                        <div class="mb-3">
                            <label for="priorityLevel"  class="form-label">Priority Level</label>
                            <select class="form-select" id="priorityLevel" name="priority_level" required>
                                <option value="" disabled selected hidden>Select Priority Level</option>
                                <option value="normal">Normal</option>
                                <option value="urgent">Urgent</option>
                                <option value="very urgent">Very Urgent</option>
                            </select>
                        </div>
            
                        <!-- Submit Button -->
                        <input class="w-100 mt-1 mb-2 btn btn-primary" type="submit" value="Create Document Type">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Document Type Modal -->
    <div class="modal fade" id="editDocumentTypeModal" tabindex="-1" aria-labelledby="editDocumentTypeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 px-3 py-2 bg-white shadow">
                <div class="modal-header pb-0 border-bottom-0">
                    <h5 class="modal-title" id="editDocumentTypeModalLabel">Edit Document Type</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body mt-1 pt-2">
                    <div id="alert-container-edit"></div>

                    <form id="editDocumentTypeForm" method="post" action="{% url 'edit_document_type' %}">
                        {% csrf_token %}
                        <input type="hidden" name="form_source" value="director">
                        <!-- Document Type Input -->
                        <div class="mb-3">
                            <label for="editDocumentType" class="form-label">Document Type</label>
                            <input type="text" name="edit_document_type"  class="form-control" id="editDocumentType" placeholder="Enter Document Type" required>
                        </div>

                        <input type="hidden" value="" name="edit_document_no" id="editDocumentNo">

                        <!-- Category Select -->
                        <div class="mb-3">
                            <label for="editCategory" class="form-label">Category</label>
                            <select class="form-select" name="edit_category" id="editCategory" required>
                                <option value="" disabled selected hidden>Select Category</option>
                                <option value="Regular">Regular</option>
                                <option value="Trust">Trust</option>
                            </select>
                        </div>

                        <!-- Route Input -->
                        <div class="mb-3">
                            <div class="row">
                                <div class="col">
                                    <label for="editRoute" class="form-label">Route</label>
                                </div>
                                <div class="col text-end">
                                    <a href="#" id="edit-add-route-step" class="route-link"><i class="fa-solid fa-plus"></i> &nbsp;Add Route</a>
                                </div>
                            </div>

                            <div id="edit-route-steps-container">
                                <!-- Initial Route Step -->
                                <div class="input-group m-0 editroute-step">
                                    <span class="input-group-text">Route 1</span>
                                    <select class="form-select edit-route-select" name="editRoutes[]" required>
                                        <option value="" selected disabled hidden>Select Department</option>
                                        <option value="Director">Director</option>
                                        <option value="Accounting">Accounting</option>
                                        <option value="Budgeting">Budgeting</option>
                                        <option value="Cashier">Cashier</option>
                                        <option value="Payroll">Payroll</option>
                                    </select>
                                    <a href="#" class="btn btn-danger btn-x-red edit-remove-route-step"><i class="fa-solid fa-trash-can"></i></a>
                                </div>
                            </div>
                        </div>

                        <!-- Priority Level Select -->
                        <div class="mb-3">
                            <label for="editPriorityLevel" class="form-label">Priority Level</label>
                            <select class="form-select" name="edit_priority_level" id="editPriorityLevel" required>
                                <option value="" disabled selected hidden>Select Priority Level</option>
                                <option value="Normal">Normal</option>
                                <option value="Urgent">Urgent</option>
                                <option value="Very Urgent">Very Urgent</option>
                            </select>
                        </div>

                        <!-- Submit Button -->
                        <button class="w-100 mb-2 mt-1 btn btn-primary" type="submit">Update Document Type</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Delete Document Type Modal -->
    <div class="modal fade" id="deleteDocumentTypeModal" tabindex="-1" aria-labelledby="deleteDocumentTypeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 px-3 py-2 bg-white shadow">
                <div class="modal-header pb-0 border-bottom-0">
                    <h5 class="modal-title" id="deleteDocumentTypeModalLabel">Delete Document Type</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="m-0">Are you sure you want to delete this document type? This action cannot be undone.</p>
                </div>
                <div class="modal-footer p-3 pt-0 border-top-0">
                    <button type="button" class="m-0 my-2 btn btn-light" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="m-0 my-2 btn btn-danger" id="confirmDelete">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Profile Modal -->
    <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 px-0 pb-2 bg-white shadow">
                <div class="title-cover modal-header pb-1 pt-4 border-bottom-0" style="padding-left: 32px; padding-right: 32px;">
                    <h5 class="modal-title" id="departmentReportModalLabel">Your Profile</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="cover modal-body py-3 pb-0" style="padding-left: 32px; padding-right: 32px;">
                    <div class="text-center">
                        <img src="{% if user_profile.profile_picture %}/media/{{ user_profile.profile_picture }}{% else %}{% static 'images/default_profile_picture.png' %}{% endif %}" 
                             id="profilePicture" 
                             class="profile-modal-pic">
                    </div>
                </div>                

                <div class="modal-body pt-1" style="padding-left: 32px; padding-right: 32px;">
                    <div class="mb-3">
                        <h4 id="fullName" class="text-center my-1 p-0">{{ user_profile.firstname }} {% if user_profile.middlename %}{{user_profile.middlename|slice:":1"}}.{%endif%} {{user_profile.lastname}}</h4>
                        <p id="role" class="text-center p-0">{{ user_profile.role }}</p>
                    </div>

                    <div class="row mb-3 g-3">
                        <div class="col text-start">
                            <p id="userIDLabel" class="d-flex align-items-center gap-2">
                                <i class="fa-solid fa-circle-user profile-icon"></i><strong>User ID</strong>
                            </p>
                        </div>
                        <div class="col text-end">
                            <p id="userIDValue">{{ user_profile.user_id }}</p>
                        </div>
                    </div>

                    <div class="row mb-3 g-3">
                        <div class="col text-start">
                            <p id="emailAddress" class="d-flex align-items-center gap-2">
                                <i class="fa-solid fa-envelope profile-icon"></i><strong>Email Address</strong>
                            </p>
                        </div>
                        <div class="col text-end">
                            <p id="employeeEmail">{{ user_profile.email }}</p>
                        </div>
                    </div>
                
                    <div class="row mb-3 g-3">
                        <div class="col text-start">
                            <p id="contactNumber" class="d-flex align-items-center gap-2">
                                <i class="fa-solid fa-phone profile-icon"></i><strong>Contact Number</strong>
                            </p>
                        </div>
                        <div class="col text-end">
                            <p id="employeeContact">{{ user_profile.contact_no }}</p>
                        </div>
                    </div>

                    <button type="button" class="w-100 mt-1 mb-2 btn btn-primary" data-bs-toggle="modal" data-bs-target="#editProfileModal">Edit Profile</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Profile Modal -->
    <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 px-3 py-2 bg-white shadow">
                <div class="modal-header pb-0 border-bottom-0">
                    <h5 class="modal-title" id="departmentReportModalLabel">Edit Profile Information</h5>
                    <button type="button" id="clostEditProfileModalBtn" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form id="editProfileForm" method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="d-flex align-items-center justify-content-center mb-3">
                            <div class="me-3">
                                <img src="{% if user_profile.profile_picture %}/media/{{ user_profile.profile_picture }}{% else %}{% static 'images/default_profile_picture.png' %}{% endif %}" 
                                    alt="Profile Picture" id="editProfilePicture" class="profile-modal-pic" style="width: 115px; height: 115px;">
                            </div>
                            <div>
                                <div class="mb-2">
                                    <input type="file" name="new_profile_photo" id="changePhotoInput" style="display:none;" accept="image/*" value="{% if user_profile.profile_picture %}/media/{{ user_profile.profile_picture }}{% endif %}" onchange="previewImage(event)">
                                    <button type="button" class="btn btn-primary me-2" onclick="document.getElementById('changePhotoInput').click()">Change Photo</button>
                                    <button type="button" class="btn btn-secondary" id="deletePhotoButton" onclick="deletePhoto()">Delete Photo</button>
                                </div>
                                <p class="mt-2 text-muted"><small>Upload PNG or JPG. (max 300 x 300px)</small></p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="editFirstName" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="editFirstName" name="new_firstname" value="{{ user_profile.firstname }}" maxlength="40" required>
                        </div>
                        <div class="mb-3">
                            <label for="editMiddleName" class="form-label">Middle Name (optional)</label>
                            <input type="text" class="form-control" id="editMiddleName" name="new_middlename" value="{{ user_profile.middlename }}" maxlength="40">
                        </div>
                        <div class="mb-3">
                            <label for="editLastName" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="editLastName" name="new_lastname" value="{{ user_profile.lastname }}" maxlength="40" required>
                        </div>
                        <div class="mb-3">
                            <label for="editContactNumber" class="form-label">Contact Number</label>
                            <input type="text" class="form-control" id="editContactNumber" name="new_contact_no" value="{{ user_profile.contact_no }}" maxlength="11" required>
                        </div>
                        <input type="hidden" name="temp_delete_profile" id="tempDeleteProfile" value="no">
                    </form>
                    <button type="button" id="saveEditProfileBtn" class="w-100 mt-1 mb-2 btn btn-primary">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
    
    <script src="{% static 'js/toggle-sidebar.js' %}"></script>  
    <script src="{% static 'js/records-count.js' %}"></script>
    <script src="{% static 'js/clear-search.js' %}"></script>
    <script src="{% static 'js/doc-management.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/profile.js' %}"></script>
    {% include "assets/profile-reset-inputs.html" %}
    <script>
        // Counter for the number of steps
        let routeStepCount = 1;
        
        // Add a new route step only if the current step has a selected value
        document.getElementById('add-route-step').addEventListener('click', function(event) {


            event.preventDefault(); // Prevent the link from navigating
            
            // Get the last select element
            const lastRouteStep = document.querySelector('#route-steps-container .route-step:last-child select');
            console.log(lastRouteStep);
            console.log("last route dine: " + lastRouteStep.value);
            // Check if the last select has a value selected
            if (lastRouteStep && lastRouteStep.value !== "") {
                routeStepCount++;
                const routeStepsContainer = document.getElementById('route-steps-container');

                // Create a new div for the route step
                const newRouteStep = document.createElement('div');
                newRouteStep.classList.add('input-group', 'm-0', 'route-step');

                // Set the inner HTML for the new route step
                newRouteStep.innerHTML = `
                    <span class="input-group-text">Route ${routeStepCount}</span>
                    <select class="form-select route-select" name="route[]" required>
                        <option value="" disabled selected hidden>Select Office</option>
                        <option value="Director">Director</option>
                        <option value="Accounting">Accounting</option>
                        <option value="Budgeting">Budgeting</option>
                        <option value="Cashier">Cashier</option>
                        <option value="Payroll">Payroll</option>
                    </select>
                    <a href="#" class="btn btn-danger btn-x-red remove-route-step"><i class="fa-solid fa-trash-can"></i></a>
                `;

                // Append the new route step to the container
                routeStepsContainer.appendChild(newRouteStep);

                // Update the available options for the new select element
                updateRouteOptions();
            } else {
                // Create a Bootstrap alert
                const alertContainer = document.getElementById('alert-container');
                const alert = document.createElement('div');
                alert.classList.add('alert', 'alert-warning', 'alert-dismissible', 'fade', 'show');
                alert.role = 'alert';
                alert.innerHTML = `
                    Please select an office before adding a new step.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                `;
                alertContainer.appendChild(alert);

                // Optional: Automatically remove the alert after a few seconds
                setTimeout(() => {
                    alert.classList.remove('show');
                    alert.addEventListener('transitionend', () => alert.remove());
                }, 3000); // Alert will auto-close after 3 seconds
            }
        });

        // Remove a route step and update the numbering and available options
        document.addEventListener('click', function(e) {
            if (e.target && e.target.closest('.remove-route-step')) {
                e.preventDefault(); // Prevent link navigation
                const routeStep = e.target.closest('.route-step');
                
                if (routeStep.querySelector('.input-group-text').textContent === 'Route 1') {
                    const selectElement = routeStep.querySelector('.form-select');
                    if (selectElement.value) {
                        selectElement.value = ""; // Reset the value to placeholder if an option is selected
                    }
                } else {
                    routeStep.remove();
                    updateRouteStepNumbers();
                    updateRouteOptions();
                }
            }
        });

        // Function to update step numbers after removal
        function updateRouteStepNumbers() {
            const routeSteps = document.querySelectorAll('.route-step');
            routeStepCount = routeSteps.length;
            routeSteps.forEach((step, index) => {
                const stepLabel = step.querySelector('.input-group-text');
                stepLabel.textContent = `Route ${index + 1}`;
            });
        }

        // Function to update the available options for each route select element
        function updateRouteOptions() {
            let previousSelected = "";
            const routeSteps = document.querySelectorAll('.route-step select');
             // Store the previously selected department

            routeSteps.forEach((select, index) => {
                const currentSelected = select.value;
                let isValidSelection = false; // Flag to check if the current selection is valid

                // Clear all options and re-add them
                const options = ['Director', 'Accounting', 'Budgeting', 'Cashier', 'Payroll'];
                select.innerHTML = '<option value="" disabled selected hidden>Select Office</option>';

                options.forEach(option => {
                    if (index === 0 || option !== previousSelected) {
                        const optionElement = document.createElement('option');
                        optionElement.value = option;
                        optionElement.textContent = option;

                        // Add option element to the select
                        select.appendChild(optionElement);

                        // Check if the current selected value is still a valid option
                        if (option === currentSelected) {
                            isValidSelection = true;
                        }
                    }
                });

                // Set the previously selected department for the next step
                previousSelected = currentSelected;

                // Re-select the current value if it is still valid, otherwise reset to placeholder
                if (isValidSelection) {
                    select.value = currentSelected;
                } else {
                    select.value = ""; // Reset to the placeholder
                }
            });
        }

        let editRouteStepCount = 1;
        

        // Add a new route step only if the current step has a selected value
        document.getElementById('edit-add-route-step').addEventListener('click', function(event) {
            event.preventDefault(); // Prevent the link from navigating
            
            // Get the last select element
            const editLastRouteStep = document.querySelector('#edit-route-steps-container .edit-route-step');
            console.log("last route ng kineme: " + editLastRouteStep);
            // Check if the last select has a value selected
            if (editLastRouteStep && editLastRouteStep.value !== "") {
                editRouteStepCount++;
                const routeStepsContainer = document.getElementById('edit-route-steps-container');

                // Create a new div for the route step
                const newRouteStep = document.createElement('div');
                newRouteStep.classList.add('input-group', 'm-0', 'edit-route-step');

                // Set the inner HTML for the new route step
                newRouteStep.innerHTML = `
                    <span class="input-group-text">Route ${editRouteStepCount}</span>
                    <select class="form-select edit-route-select" name="editRoutes[]" required>
                        <option value="" disabled selected hidden>Select Office</option>
                        <option value="Director">Director</option>
                        <option value="Accounting">Accounting</option>
                        <option value="Budgeting">Budgeting</option>
                        <option value="Cashier">Cashier</option>
                        <option value="Payroll">Payroll</option>
                    </select>
                    <a href="#" class="btn btn-danger btn-x-red edit-remove-route-step"><i class="fa-solid fa-trash-can"></i></a>
                `;

                // Append the new route step to the container
                routeStepsContainer.appendChild(newRouteStep);

                // Update the available options for the new select element
                editUpdateRouteOptions();
            } else {
                // Create a Bootstrap alert
                const alertContainer = document.getElementById('alert-container-edit');
                const alert = document.createElement('div');
                alert.classList.add('alert', 'alert-warning', 'alert-dismissible', 'fade', 'show');
                alert.role = 'alert';
                alert.innerHTML = `
                    Please select an office before adding a new step.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                `;
                alertContainer.appendChild(alert);
s
                // Optional: Automatically remove the alert after a few seconds
                setTimeout(() => {
                    alert.classList.remove('show');
                    alert.addEventListener('transitionend', () => alert.remove());
                }, 3000); // Alert will auto-close after 3 seconds
            }
        });

        // Remove a route step and update the numbering and available options
        document.addEventListener('click', function(e) {
            if (e.target && e.target.closest('.edit-remove-route-step')) {
                e.preventDefault(); // Prevent link navigation
                const routeStep = e.target.closest('.edit-route-step');
                
                if (routeStep.querySelector('.input-group-text').textContent === 'Route 1') {
                    const selectElement = routeStep.querySelector('.form-select');
                    if (selectElement.value) {
                        selectElement.value = ""; // Reset the value to placeholder if an option is selected
                    }
                } else {
                    routeStep.remove();
                    editUpdateRouteStepNumbers();
                    editUpdateRouteOptions();
                }
            }
        });

        // Function to update step numbers after removal
        function editUpdateRouteStepNumbers() {
            const routeSteps = document.querySelectorAll('.edit-route-step');
            editRouteStepCount = routeSteps.length;
            routeSteps.forEach((step, index) => {
                const stepLabel = step.querySelector('.input-group-text');
                stepLabel.textContent = `Route ${index + 1}`;
            });
        }

        // Function to update the available options for each route select element
        function editUpdateRouteOptions() {
            let editPreviousSelected = "";
            const routeSteps = document.querySelectorAll('.edit-route-step select');
             // Store the previously selected department

            routeSteps.forEach((select, index) => {
                const editCurrentSelected = select.value;
                let isValidSelection = false; // Flag to check if the current selection is valid

                // Clear all options and re-add them
                const options = ['Director', 'Accounting', 'Budgeting', 'Cashier', 'Payroll'];
                select.innerHTML = '<option value="" disabled selected hidden>Select Office</option>';

                options.forEach(option => {
                    if (index === 0 || option !== editPreviousSelected) {
                        const optionElement = document.createElement('option');
                        optionElement.value = option;
                        optionElement.textContent = option;

                        // Add option element to the select
                        select.appendChild(optionElement);

                        // Check if the current selected value is still a valid option
                        if (option === editCurrentSelected) {
                            isValidSelection = true;
                        }
                    }
                });

                // Set the previously selected department for the next step
                editPreviousSelected = editCurrentSelected;

                // Re-select the current value if it is still valid, otherwise reset to placeholder
                if (isValidSelection) {
                    select.value = editCurrentSelected;
                } else {
                    select.value = ""; // Reset to the placeholder
                }
            });
        }
    </script>
</body>
</html>
