{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/logo-icon.png" type="image/png">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
	<link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <title>Dashboard</title>
</head>

<body>
    <div class="container">
        {% include "assets/dir-sidebar.html" %}

        <div class="right-section">
            <header class="header">
                <button class="toggle-sidebar" id="toggleSidebar"><i class="fa-solid fa-bars"></i></button>
                <div class="header-right">
                    <!-- NOTIFICATIONS UI -->
                    {% include "partials/display-notifications.html" %}
                    <!---->
                    <div class="dropdown">
                        <button class="profile m-0" type="button" id="profileDropdown" data-bs-toggle="dropdown">
                            <div>
                                <img src="{% if user_profile.profile_picture %}/media/{{ user_profile.profile_picture }}{% else %}{% static 'images/default_profile_picture.png' %}{% endif %}"
                                     id="profilePicture" 
                                     class="profile-modal-pic" 
                                     style="width:50px; height:50px; object-fit: cover; border-radius: 50%;">
                            </div>                                                                                
                            <div class="profile-info">
                                <span class="profile-name">{{ user_profile.firstname }} {{user_profile.lastname}}</span>
                                <span class="profile-role">{{ user_profile.role }}</span>
                            </div>
                        </button>
                        <ul class="drop-profile dropdown-menu" aria-labelledby="profileDropdown">
                            <li>
                                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#profileModal">
                                    <i class='bx bx-user-circle drop-icon'></i>
                                    <span class="drop-name">Profile</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#settingsModal">
                                    <i class='bx bx-cog drop-icon'></i> 
                                    <span class="drop-name">Settings</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'user_logout' %}">
                                    <i class='bx bx-log-out drop-icon'></i> 
                                    <span class="drop-name">Log Out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </header>
            
            <main class="main-content">
                <div class="title-container d-flex justify-content-between align-items-center">
                    <h3 class="fw-semibold m-0">Dashboard</h3>
                    <div class="m-0" id="datetime-container">
                        <span id="day"></span> | 
                        <span id="date"></span> | 
                        <span id="time"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="rounded-2 p-3 mt-3" style="background-color: #007bff; color:white; height: auto;">
                            <div class="row p-2">
                                <div class="col-6 d-flex align-items-center">
                                    <p class="fs-3 p-0 m-0 fw-bolder d-flex align-items-center"><i class='bx bxs-wink-smile'></i>&nbsp;Welcome, Director!</p>
                                    <!-- <p class="fs-6 p-0 m-0 fw-bold">Office - ACO</p> -->
                                </div>
                                <div class="col-6">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-9 text-end p-0 m-0 pe-3">
                                            <p class="p-0 m-0">See latest updates</p>
                                        </div>
                                        <div class="col-3 p-0 pe-3">
                                            <select class="form-select fw-bold" id="inputGroupSelect" style="font-size: 14px !important; background-color: #007bff; color: white; border-color: white;">
                                                <option value="today" selected>Today</option>
                                                <option value="month">This Month</option>
                                                <option value="year">This Year</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 1st Row - Total Documents and Pending Account Approval -->
                <div class="row py-2">
                    <!-- 1st Column | Total Records -->
                    <div class="col-6">
                        <div class="container d-block rounded-2 p-3 my-3" style="background-color: white; height: auto;">
                            <div class="row">
                                <h4><span id="overallTotalRecords" class="fw-bolder my-3 px-2 rounded-2" style="background-color: #007bff; color:white;">0</span>&nbsp;Total Records</h4>
                            </div>
                                    
                            <div class="chart-container my-2">
                                <!-- Bar 1 -->
                                <div class="bar">
                                    <div id="directorTotalRecords" class="percent-label">0</div>
                                    <div class="bar-shape"></div>
                                    <div class="office-label">DIR</div>
                                  </div>
                                  <!-- Bar 2 -->
                                  <div class="bar">
                                    <div id="admTotalRecords" class="percent-label">0</div>
                                    <div class="bar-shape"></div>
                                    <div class="office-label">ADM</div>
                                  </div>
                                  <!-- Bar 3 -->
                                  <div class="bar">
                                    <div id="csrTotalRecords" class="percent-label">0</div>
                                    <div class="bar-shape"></div>
                                    <div class="office-label">CSR</div>
                                  </div>
                                  <!-- Bar 4 -->
                                  <div class="bar">
                                    <div id="bdmTotalRecords" class="percent-label">0</div>
                                    <div class="bar-shape"></div>
                                    <div class="office-label">BDM</div>
                                  </div>
                                  <!-- Bar 5 -->
                                  <div class="bar">
                                    <div id="accTotalRecords" class="percent-label">0</div>
                                    <div class="bar-shape"></div>
                                    <div class="office-label">ACC</div>
                                  </div>
                                  <!-- Bar 6 -->
                                  <div class="bar">
                                    <div id="prlTotalRecords" class="percent-label">0</div>
                                    <div class="bar-shape"></div>
                                    <div class="office-label">PRL</div>
                                  </div>
                            </div>
                        </div>

                        <!-- [ANALYTICS] Donut Chart - Performance -->
                        <div class="rounded-2 p-3 my-3" style="background-color: white; height: auto;">
                            <div class="row">
                                <div class="col-8">
                                    <h4 class="mb-0 fw-bold d-flex align-items-center">
                                        <i class='bx bxs-user-check' style="color: #007bff;"></i>&nbsp;Performance
                                    </h4>
                                </div>
                                <div class="col-4">
                                    <select class="form-select" id="targetOfficePerformanceSelect" style="font-size: 12px !important;">
                                        <option selected value="DIR">DIR</option>
                                        <option value="ADM">Administrative</option>
                                        <option value="ACC">Accounting</option>
                                        <option value="BMD">Budget</option>
                                        <option value="CSR">Cashier</option>
                                        <option value="PRL">Payroll</option>
                                    </select>
                                </div>
                            </div>

                            <div class="canvas-container my-2 d-flex align-items-center justify-content-center" style="height: 100%;">
                                <canvas id="officePerformanceChart"></canvas>
                            </div>
                            <!-- <p class="text-center fw-bold text-success pt-1 mb-0">Congratulations, you have a good performance!</p> -->
                            <!-- <p class="text-center fw-bold text-warning pt-1 mb-0">Your performance is currently going slow.</p> -->
                            <!-- <p class="text-center fw-bold text-danger pt-1 mb-0">You need to address your current performance</p> -->
                        </div>

                        <div class="rounded-2 p-3 my-3" style="background-color: white;">
                            <h4 class="mb-0 fw-bold d-flex align-items-center"><i class='bx bx-list-check' style="color: #007bff;"></i>&nbsp;For Approval</h4>
                            <table class="table table-sm my-1" style="table-layout: fixed; width: 100%;">
                                <thead>
                                  <tr>
                                    <th scope="col" style="width: 30%;">Tracking Number</th>
                                    <th>
                                        Priority 
                                        <a href="?status=active&sort_by=priority_level&order=asc"><i class='bx bxs-sort-alt'></i></a>
                                    </th>
                                    <th scope="col" style="width: 35%;">Action</th>
                                  </tr>
                                </thead>
                            </table>
                            <div style="max-height: 302px; overflow-y: auto;">
                                <table class="table table-sm table-hover" style="table-layout: fixed; width: 100%;">
                                    <tbody>
                                        {% for record in records %}
                                            <tr>
                                                <td style="width: 30%;">{{record.tracking_no}}</th>
                                                {% if record.document_type.priority_level.priority_level == 'very urgent' %}
                                                    <td><span class="badge badge-red rounded-pill fw-semibold">VERY URGENT</span></td>
                                                {% elif record.document_type.priority_level.priority_level == 'urgent' %}
                                                    <td><span class="badge badge-yellow rounded-pill fw-semibold">URGENT</span></td>
                                                {% elif record.document_type.priority_level.priority_level == 'normal' %}
                                                    <td><span class="badge badge-green rounded-pill fw-semibold">NORMAL</span></td>
                                                {% elif record.document_type.priority_level.priority_level == 'for pref. action' %}
                                                    <td><span class="badge badge-gray rounded-pill fw-semibold">FOR PREF. ACTION</span></td>
                                                {% endif %}
                                                 
                                                <td style="width: 35%;">                    
                                                    <button type="button" class="btn btn-sm btn-blue viewDocumentBtn" data-document-no="{{ document.document_no }}" 
                                                        data-bs-toggle="modal" data-bs-target="#viewDocumentModal"
                                                        data-bs-toggle="tooltip" title="View Document Details">
                                                        <i class="fa-solid fa-eye"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-6">
                        <!-- [ANALYTICS] Pie Chart Document Status -->
                        <div class="rounded-2 p-3 my-3" style="background-color: white; height:auto;">
                            <div class="row mb-2">
                                <div class="col-6">
                                    <h4 class="mb-2 fw-bold d-flex align-items-center">
                                        <i class='bx bxs-hourglass' style="color: #007bff;"></i>&nbsp;Document Status
                                    </h4>
                                </div>
                                <div class="col-2 d-flex align-items-center justify-content-end pe-0">
                                    <button type="button" id="generateDocumentStatusReportBtn" class="btn btn-sm btn-blue"
                                        title="Generate Status Report"
                                        style="width: 30px; height: 30px;">
                                        <i class="fa-regular fa-file-lines"></i>
                                    </button>
                                </div>
                                <div class="col-4 d-flex">
                                    <select class="form-select" id="documentStatusSelect" style="font-size: 12px !important;">
                                        <option value="all-documents" selected>All Documents</option>
                                        <option value="For DIR Approval">For DIR Approval</option>
                                        <option value="For Routing">For Routing</option>
                                        <option value="For SRO Receiving">For SRO Receiving</option>
                                        <option value="For ACT Receiving">For ACT Receiving</option>
                                        <option value="For Resolving">For Resolving</option>
                                        <option value="For Archiving">For Archiving</option>
                                    </select>
                                </div>

                            </div>
                            
                            <div class="canvas-container d-flex align-items-center">
                                <canvas id="docStatusChart"></canvas>
                            </div>
                        </div>
                          
                        <!-- 2nd Column | Announcements -->
                        <div class="rounded-2 p-3 my-3" style="background-color: white; height: auto;">
                            <h4 class="mb-0 fw-bold d-flex align-items-center"><i class='bx bxs-megaphone' style="color: #007bff;"></i>&nbsp;Latest Announcements</h4>
                            <!-- Announcements -->
                            <div class="container d-block px-2 pt-3" style="max-height: 250px; overflow-y: auto;">
                                {% if announcements %}
                                    {% for ann in announcements %}
                                        <p class="announcements border border-danger rounded-2 my-2 p-2" style="background-color: #F5F7F8;">
                                            {{ann.description}}
                                        </p>
                                    {% endfor %}
                                {% else %}
                                    <p style="text-align: center; opacity: 50%; padding-top: 50px;">No announcements to show</p>
                                {% endif %}
                            </div>
                        </div>

                        <div class="row px-3 my-3 d-flex justify-content-center">
                            <div class="col-4 ps-0 mt-0 rounded-2">
                                <a class="clickable-box rounded-2 p-3 w-100" href="{% url 'director_generate_reports' 'all-reports' %}?status=active">
                                    <h5 class="text-center mb-0"><i class='bx bxs-report'></i>&nbsp; Generate<br>Report</h5>
                                </a>
                            </div>

                            <div class="col-4 mt-0 rounded-2">
                                <a class="clickable-box rounded-2 p-3 w-100" href="{% url 'director_unacted_records' %}?status=active">
                                    <h5 class="text-center mb-0"><i class='bx bxs-message-error'></i>&nbsp; Unacted<br>Documents</h5>
                                </a>                                                            
                            </div>

                            <div class="col-4 pe-0 mt-0 rounded-2">
                                <a class="clickable-box rounded-2 p-3 w-100" href="{% url 'director_announcements' %}?status=active">
                                    <h5 class="text-center mb-0"><i class='bx bxs-megaphone'></i>&nbsp; Post<br>Announcements</h5>
                                </a>
                            </div>
                        </div>

                        <!-- [ANALYTICS] Line Graph -->
                        <div class="container d-block rounded-2 p-3 my-3" style="background-color: white; height: auto;">
                            <div class="row">
                                <div class="col-8">
                                    <h4 class="mb-0 fw-bold d-flex align-items-center"><i class='bx bxs-trophy' style="color: #007bff;"></i>&nbsp;Employee Performance</h4>
                                    <div id="selectedFilters" class="mt-2"></div>
                                </div>
                                
                                <div class="col-4 d-flex justify-content-end">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="filterDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                          Select Filters
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="filterDropdown">
                                          <div class="dropdown-header">Office</div>
                                            <div class="form-check">
                                                <input type="radio" class="form-check-input" id="option_all" name="target_office_radio" value="All Offices" checked>
                                                <label class="form-check-label" for="option_all">All Offices</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="radio" class="form-check-input" id="option_accounting" name="target_office_radio" value="ACC">
                                                <label class="form-check-label" for="option_accounting">Accounting</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="radio" class="form-check-input" id="option_budget" name="target_office_radio" value="BMD">
                                                <label class="form-check-label" for="option_budget">Budget</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="radio" class="form-check-input" id="option_cashier" name="target_office_radio" value="CSR">
                                                <label class="form-check-label" for="option_cashier">Cashier</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="radio" class="form-check-input" id="option_payroll" name="target_office_radio" value="PRL">
                                                <label class="form-check-label" for="option_payroll">Payroll</label>
                                            </div>
                                          <div class="dropdown-header">Performance Type</div>
                                            <div class="form-check">
                                                <input type="radio" class="form-check-input" id="option_top_employees" name="target_report_type_radio" value="Top-Employees" checked>
                                                <label class="form-check-label" for="option_top_employees">Top Employees</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="radio" class="form-check-input" id="option_underperforming" name="target_report_type_radio" value="Underperforming">
                                                <label class="form-check-label" for="option_underperforming">Underperforming</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex align-items-center justify-content-center py-2">
                                <canvas id="employeePerformanceChart" height="auto"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <!-- Profile Modal -->
    <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 px-0 pb-2 bg-white shadow">
                <div class="title-cover modal-header pb-1 pt-4 border-bottom-0" style="padding-left: 32px; padding-right: 32px;">
                    <h5 class="modal-title" id="departmentReportModalLabel">Your Profile</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="cover modal-body py-3 pb-0" style="padding-left: 32px; padding-right: 32px;">
                    <div class="text-center">
                        <img src="{% if user_profile.profile_picture %}/media/{{ user_profile.profile_picture }}{% else %}{% static 'images/default_profile_picture.png' %}{% endif %}" 
                             id="profilePicture" 
                             class="profile-modal-pic">
                    </div>
                </div>                

                <div class="modal-body pt-1" style="padding-left: 32px; padding-right: 32px;">
                    <div class="mb-3">
                        <h4 id="fullName" class="text-center my-1 p-0">{{ user_profile.firstname }} {% if user_profile.middlename %}{{user_profile.middlename|slice:":1"}}.{%endif%} {{user_profile.lastname}}</h4>
                        <p id="role" class="text-center p-0">{{ user_profile.role }}</p>
                    </div>

                    <div class="row mb-3 g-3">
                        <div class="col text-start">
                            <p id="userIDLabel" class="d-flex align-items-center gap-2">
                                <i class="fa-solid fa-circle-user profile-icon"></i><strong>User ID</strong>
                            </p>
                        </div>
                        <div class="col text-end">
                            <p id="userIDValue">{{ user_profile.user_id }}</p>
                        </div>
                    </div>

                    <div class="row mb-3 g-3">
                        <div class="col text-start">
                            <p id="emailAddress" class="d-flex align-items-center gap-2">
                                <i class="fa-solid fa-envelope profile-icon"></i><strong>Email Address</strong>
                            </p>
                        </div>
                        <div class="col text-end">
                            <p id="employeeEmail">{{ user_profile.email }}</p>
                        </div>
                    </div>
                
                    <div class="row mb-3 g-3">
                        <div class="col text-start">
                            <p id="contactNumber" class="d-flex align-items-center gap-2">
                                <i class="fa-solid fa-phone profile-icon"></i><strong>Contact Number</strong>
                            </p>
                        </div>
                        <div class="col text-end">
                            <p id="employeeContact">{{ user_profile.contact_no }}</p>
                        </div>
                    </div>

                    <button type="button" class="w-100 mt-1 mb-2 btn btn-primary" data-bs-toggle="modal" data-bs-target="#editProfileModal">Edit Profile</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Profile Modal -->
    <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 px-3 py-2 bg-white shadow">
                <div class="modal-header pb-0 border-bottom-0">
                    <h5 class="modal-title" id="departmentReportModalLabel">Edit Profile Information</h5>
                    <button type="button" id="clostEditProfileModalBtn" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form id="editProfileForm" method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="d-flex align-items-center justify-content-center mb-3">
                            <div class="me-3">
                                <img src="{% if user_profile.profile_picture %}/media/{{ user_profile.profile_picture }}{% else %}{% static 'images/default_profile_picture.png' %}{% endif %}" 
                                    alt="Profile Picture" id="editProfilePicture" class="profile-modal-pic" style="width: 115px; height: 115px;">
                            </div>
                            <div>
                                <div class="mb-2">
                                    <input type="file" name="new_profile_photo" id="changePhotoInput" style="display:none;" accept="image/*" value="{% if user_profile.profile_picture %}/media/{{ user_profile.profile_picture }}{% endif %}" onchange="previewImage(event)">
                                    <button type="button" class="btn btn-primary me-2" onclick="document.getElementById('changePhotoInput').click()">Change Photo</button>
                                    <button type="button" class="btn btn-secondary" id="deletePhotoButton" onclick="deletePhoto()">Delete Photo</button>
                                </div>
                                <p class="mt-2 text-muted"><small>Upload PNG or JPG. (max 300 x 300px)</small></p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="editFirstName" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="editFirstName" name="new_firstname" value="{{ user_profile.firstname }}" maxlength="40" required>
                        </div>
                        <div class="mb-3">
                            <label for="editMiddleName" class="form-label">Middle Name (optional)</label>
                            <input type="text" class="form-control" id="editMiddleName" name="new_middlename" value="{{ user_profile.middlename }}" maxlength="40">
                        </div>
                        <div class="mb-3">
                            <label for="editLastName" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="editLastName" name="new_lastname" value="{{ user_profile.lastname }}" maxlength="40" required>
                        </div>
                        <div class="mb-3">
                            <label for="editContactNumber" class="form-label">Contact Number</label>
                            <input type="text" class="form-control" id="editContactNumber" name="new_contact_no" value="{{ user_profile.contact_no }}" maxlength="11" required>
                        </div>
                        <input type="hidden" name="temp_delete_profile" id="tempDeleteProfile" value="no">
                    </form>
                    <button type="button" id="saveEditProfileBtn" class="w-100 mt-1 mb-2 btn btn-primary">Save Changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Attachment Modal -->
    <div class="modal fade" id="attachmentModal" tabindex="-1" aria-labelledby="attachmentModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="attachmentModalLabel">View Attachment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalBody">
                    <!-- The file will be displayed here -->
                    <iframe id="attachmentViewer" src="" frameborder="0" style="width: 100%; height: 500px;"></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- Settings Modal -->
    <div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 px-3 py-2 bg-white shadow">
                <div class="modal-header pb-0 border-bottom-0">
                    <h5 class="modal-title" id="settingsModalLabel">Account Settings</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body mt-1 pt-2">
                    <div class="mb-3">
                        <label for="password" class="form-label">Account Password</label>
                        <p class="mb-2">If you wish to change your password, please click the button below.</p>
                        <button type="button" class="btn btn-secondary w-100" data-bs-toggle="modal" data-bs-target="#changePasswordModal" style="font-size: 14px;" >Set New Password</button>
                    </div>

                    <div class="mb-2">
                        <label for="receiveEmails" class="form-label">Receive Emails</label>
                        <div class="row">
                            <div class="col">
                                <p class="mb-2">Choose whether to receive updates and notifications via email.</p>
                            </div>
                            <div class="col-auto">
                                <div class="form-check form-switch mt-2">
                                    <input class="form-check-input" type="checkbox" id="receiveEmails" role="switch" style="transform: scale(1.25);">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mb-1">
                        <label for="twoFactorAuth" class="form-label">Two-Factor Authentication</label>
                        <div class="row">
                            <div class="col">
                                <p class="mb-2">Choose whether to enable two-factor authentication for added security.</p>
                            </div>
                            <div class="col-auto">
                                <div class="form-check form-switch mt-2">
                                    <input class="form-check-input" type="checkbox" id="twoFactorAuth" role="switch" style="transform: scale(1.25);">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Change Password Modal -->
    <div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 px-3 py-2 bg-white shadow">
                <div class="modal-header pb-0 border-bottom-0">
                    <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="mb-3">Your password must contain at least 8 characters with a special character and an uppercase letter.</p>

                    <form>
                        <div class="mb-3">
                            <label for="currentPassword" class="form-label">Current Password</label>
                            <input type="password" name="current_password" class="form-control" id="password" placeholder="Enter Current Password" required>
                            <i class="fa-regular fa-eye toggle-pass" id="togglePassword"></i>
                        </div>
                        <div class="mb-3">
                            <label for="newPassword" class="form-label">New Password</label>
                            <input type="password" name="new_password" class="form-control" id="password2" placeholder="Enter New Password" required>
                            <i class="fa-regular fa-eye toggle-pass" id="togglePassword2"></i>
                        </div>
                        <div class="mb-3">
                            <label for="confirmNewPassword" class="form-label">Confirm New Password</label>
                            <input type="password" name="confirm_new_password" class="form-control" id="password3" placeholder="Confirm New Password" required>
                            <i class="fa-regular fa-eye toggle-pass" id="togglePassword3"></i>
                        </div>

						<button type="submit" class="w-100 mt-1 mb-2 btn btn-primary">Create New Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/toggle-sidebar.js' %}"></script>
    <script src="{% static 'js/profile.js' %}"></script>
    {% include "assets/profile-reset-inputs.html" %}
    <script>
        function updateTime() {
            const now = new Date();

            const dayOptions = { weekday: 'long' };
            const dateOptions = { year: 'numeric', month: 'short', day: 'numeric' };

            const day = now.toLocaleDateString('en-US', dayOptions);
            const date = now.toLocaleDateString('en-US', dateOptions);
            const time = now.toLocaleTimeString('en-US', { hour12: true });

            document.getElementById('day').textContent = day;
            document.getElementById('date').textContent = date;
            document.getElementById('time').textContent = time;
        }

        setInterval(updateTime, 1000);
        updateTime();
    </script>
    <!-- Include Chart.js for pie chart functionality -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () { 

            const inputGroupSelect = document.getElementById('inputGroupSelect');
            const documentStatus = document.getElementById('documentStatusSelect');
            const targetOffice =  document.getElementById('targetOfficePerformanceSelect');
            let chart; 
            let officePerformanceChart;
            let employeePerformanceChart;

            function updateChart(data) {

                if (chart) {
                    chart.destroy();
                }

                const ctx1 = document.getElementById('docStatusChart').getContext('2d');
                chart = new Chart(ctx1, {
                    type: 'pie',
                    data: {
                        labels: ['Very Urgent', 'Urgent', 'Normal', 'For Pref. Action'],
                        datasets: [{
                            label: 'Document',
                            data: [data.very_urgent, data.urgent, data.normal, data.for_pref_action],
                            backgroundColor: ['#EA2E2E', '#FF7E07', '#22a03f', '#FFC107']
                        }]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        animation: false,
                        plugins: {
                            legend: {
                                display: true,
                                position: 'bottom'
                            },
                            title: {
                                display: false // Set to false to remove the chart title
                            }
                        }
                    }
                });
            }

            function handleSelectChange() {

                const timeSpan = inputGroupSelect.value;

                fetch(`/director-total-records/${timeSpan}/`)
                    .then(response => response.json())
                    .then(data => {
                        
                        document.getElementById('overallTotalRecords').textContent = data.overall_total_records;
                        document.getElementById('directorTotalRecords').textContent = data.director_total_records;
                        document.getElementById('admTotalRecords').textContent = data.adm_total_records;
                        document.getElementById('csrTotalRecords').textContent = data.csr_total_records;
                        document.getElementById('bdmTotalRecords').textContent = data.bdm_total_records;
                        document.getElementById('accTotalRecords').textContent = data.acc_total_records;
                        document.getElementById('prlTotalRecords').textContent = data.prl_total_records;

                        const records = {
                            directorTotalRecords: data.director_total_records,
                            admTotalRecords: data.adm_total_records,
                            csrTotalRecords: data.csr_total_records,
                            bdmTotalRecords: data.bdm_total_records,
                            accTotalRecords: data.acc_total_records,
                            prlTotalRecords: data.prl_total_records
                        };

                        const maxRecord = Math.max(...Object.values(records));
                        const maxRecordId = Object.keys(records).find(key => records[key] === maxRecord);

                        // Scale factor for height; adjust 200px as needed for max height
                        const maxHeight = 200;
                        const scale = maxRecord > 0 ? maxHeight / maxRecord : 0;

                        document.querySelectorAll('.bar').forEach(bar => bar.classList.remove('selected'));
                        Object.keys(records).forEach(recordId => {
                            const barShape = document.querySelector(`#${recordId}`).parentNode.querySelector('.bar-shape');
                            const height = records[recordId] * scale;
                            barShape.style.height = height > 0 ? `${height}px` : '0px'; // Set height to 0 if count is zero
                        });

                        if (maxRecord > 0) {
                            document.getElementById(maxRecordId).parentNode.classList.add('selected');
                        }
                    })
                    .catch(error => console.error('Error:', error));

                handleDocumentStatusSelectChange();
                handleOfficePerformanceSelectChange();
                updateSelectedFilters();
            }

            function handleDocumentStatusSelectChange() {
                const timeSpan = inputGroupSelect.value;
                const documentStatusValue = documentStatus.value;

                fetch(`/director-document-status/${timeSpan}/${documentStatusValue}/`)
                    .then(response => response.json())
                    .then(data => {
                        updateChart(data);
                    })
                    .catch(error => console.error('Error:', error));
            }

            function updateOfficePerformanceChart(data) {

                if (officePerformanceChart) {
                    officePerformanceChart.destroy();
                }

                let label, chartData;

                if (data.target_office === 'DIR' || data.target_office === 'ADM') {
                    label = ['Unacted', 'Pending', 'Delayed'];
                    chartData = [data.unacted, data.pending, data.delayed];
                } else {
                    label = ['Unacted', 'Pending', 'Delayed', 'Resolved'];
                    chartData = [data.unacted, data.pending, data.delayed, data.resolved];
                }

                const ctx3 = document.getElementById('officePerformanceChart').getContext('2d');
                officePerformanceChart = new Chart(ctx3, {
                    type: 'doughnut',
                    data: {
                        labels: label,
                        datasets: [{
                            label: '# of Votes',
                            data: chartData,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,  // This will allow the canvas to fill its container
                        animation: false,
                        plugins: {
                            legend: {
                                position: 'top',
                            },
                            tooltip: {
                                callbacks: {
                                    label: function(tooltipItem) {
                                        return tooltipItem.label + ': ' + tooltipItem.raw;
                                    }
                                }
                            }
                        }
                    }
                });
            }

            function updateEmployeePerformanceChart(data) {

                if (employeePerformanceChart) {
                    employeePerformanceChart.destroy();
                }

                const label = Object.keys(data.sorted_performances); 
                const chartData = Object.values(data.sorted_performances);

                const isUnderperforming = data.target_report_type === 'Underperforming';
                const lineColor = isUnderperforming ? '#ff4d4d' : '#007bff'; // Red for Underperforming, blue otherwise
                const backgroundColor = isUnderperforming ? 'rgba(255, 77, 77, 0.1)' : 'rgba(0, 123, 255, 0.1)';
                const pointColor = isUnderperforming ? '#b32424' : '#004da0'; // Darker red points for Underperforming

                const ctx = document.getElementById('employeePerformanceChart').getContext('2d');
                employeePerformanceChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: label, // Time periods
                        datasets: [
                            {
                                label: isUnderperforming ? 'Underperforming Level' : 'Performance Level',
                                data: chartData, // resolved document tot/unacted+delayed tot
                                borderColor: lineColor, // Line color
                                backgroundColor: backgroundColor, // Fill color
                                tension: 0.4,
                                fill: true,
                                pointBackgroundColor: pointColor, // Points color
                                tension: 0.4, // Smooth curve
                                fill: true, // Fill the area under the line
                                pointRadius: 5 // Point size
                            }
                        ]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true,
                                max: 100
                            }
                        },
                        plugins: {
                            legend: {
                                display: false, // Show the legend
                                position: 'bottom'
                            }
                        },
                        animation: false,
                    }
                });

            }

            function handleOfficePerformanceSelectChange() {
                const timeSpan = inputGroupSelect.value;
                const targetOfficeValue = targetOffice.value;

                fetch(`/director-office-performance/${timeSpan}/${targetOfficeValue}/`)
                    .then(response => response.json())
                    .then(data => {
                        updateOfficePerformanceChart(data); 
                    })
                    .catch(error => console.error('Error:', error));
            }

            const selectedFiltersDiv = document.getElementById('selectedFilters');
            const radioButtons = document.querySelectorAll('.form-check-input');

            radioButtons.forEach(radio => {
                radio.addEventListener('change', updateSelectedFilters);
            });

            updateSelectedFilters();

            function updateSelectedFilters() {

                const selectedGroup1 = document.querySelector('input[name="target_office_radio"]:checked');
                const selectedGroup2 = document.querySelector('input[name="target_report_type_radio"]:checked');

                const selectedValues = [];
                if (selectedGroup1) {
                    selectedValues.push(selectedGroup1.value);
                }
                if (selectedGroup2) {
                    selectedValues.push(selectedGroup2.value);
                }

                selectedFiltersDiv.innerHTML = selectedValues.length ? '<b>Filter by:</b> ' + selectedValues.join(', ') : 'No filters selected';
                
                const timeSpan = inputGroupSelect.value;
                const targetReportType = selectedGroup2.value;
                const targetOffice = selectedGroup1.value;
                
                fetch(`/director-employee-performance/${timeSpan}/${targetReportType}/${targetOffice}/`)
                    .then(response => response.json())
                    .then(data => {
                        updateEmployeePerformanceChart(data); 
                    })
                    .catch(error => console.error('Error:', error));
            }

            inputGroupSelect.addEventListener('change', handleSelectChange);
            documentStatus.addEventListener('change', handleDocumentStatusSelectChange);
            targetOffice.addEventListener('change', handleOfficePerformanceSelectChange);
            handleSelectChange();
            
            setInterval(handleSelectChange, 3000);

            document.getElementById('generateDocumentStatusReportBtn').addEventListener('click', function() {
                
                const timeSpan = inputGroupSelect.value;
                const documentStatusValue = documentStatus.value;

                window.open(`/generate-document-status-report/${timeSpan}/${documentStatusValue}`, '_blank');
            });

        });
    </script>

</body>
</html>
