{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/logo-icon.png" type="image/png">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/table-content.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
	<link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>New Record</title>
</head>

<body>
    <div class="container">
        {% include "assets/ado-sidebar.html" %}

        <div class="right-section">
            <header class="header">
                <button class="toggle-sidebar" id="toggleSidebar"><i class="fa-solid fa-bars"></i></button>
                <div class="header-right">
                    <!---->
                    <div class="dropdown">
                        <button class="toggle-notification" type="button" id="notificationDropdown" data-bs-toggle="dropdown" title="Notifications">
                            <i class="fa-solid fa-bell"></i>
                        </button>
                        <div class="drop-notif dropdown-menu dropdown-menu-center" aria-labelledby="notificationDropdown"> 
                            <h5 class="mb-1" id="notificationDropdownLabel">Notifications</h5>
                            <ul class="notif-tabs">
                                <li class="tab-item">
                                    <a class="tab-link active">All</a>
                                </li>
                                <li class="tab-item">
                                    <a class="tab-link">Unread</a>
                                </li>
                            </ul>
                            <h6 class="notif-label mt-2">New</h6>
                            <!-- Notification Item 1 -->
                            <div class="dropdown-item d-flex align-items-center">
                                <img src="{% static 'images/default-profile.png' %}" alt="Profile Picture" class="rounded-circle me-2" style="width: 40px; height: 40px;">
                                <div>
                                    <strong>John Doe</strong> has commented on your post.
                                    <small class="text-muted d-block">Just now</small>
                                </div>
                            </div>
                            <!-- Notification Item 2 -->
                            <div class="dropdown-item d-flex align-items-center">
                                <img src="{% static 'images/default-profile.png' %}" alt="Profile Picture" class="rounded-circle me-2" style="width: 40px; height: 40px;">
                                <div>
                                    <strong>Jane Smith</strong> liked your photo.
                                    <small class="text-muted d-block">5 minutes ago</small>
                                </div>
                            </div>                            
                            <h6 class="notif-label">Earlier</h6>
                            <!-- Notification Item 1 -->
                            <div class="dropdown-item d-flex align-items-center">
                                <img src="{% static 'images/default-profile.png' %}" alt="Profile Picture" class="rounded-circle me-2" style="width: 40px; height: 40px;">
                                <div>
                                    <strong>John Doe</strong> has commented on your post.
                                    <small class="text-muted d-block">Just now</small>
                                </div>
                            </div>
                            <!-- Notification Item 2 -->
                            <div class="dropdown-item d-flex align-items-center">
                                <img src="{% static 'images/default-profile.png' %}" alt="Profile Picture" class="rounded-circle me-2" style="width: 40px; height: 40px;">
                                <div>
                                    <strong>Jane Smith</strong> liked your photo.
                                    <small class="text-muted d-block">5 minutes ago</small>
                                </div>
                            </div>  
                        </div>
                    </div>
                    <!---->
                    <div class="dropdown">
                        <button class="profile m-0" type="button" id="profileDropdown" data-bs-toggle="dropdown">
                            <div class="profile-pic">
                                <img src="{% if user_profile.profile_picture %}/media/{{ user_profile.profile_picture }}{% else %}{% static 'images/default_profile_picture.png' %}{% endif %}"
                                     id="profilePicture" 
                                     class="profile-modal-pic" 
                                     style="width: 50px; height: 50px; object-fit: cover; border-radius: 50%;">
                            </div>                                                                                
                            <div class="profile-info">
                                <span class="profile-name">{{ user_profile.firstname }} {{user_profile.lastname}}</span>
                                <span class="profile-role">{{ user_profile.role }}</span>
                            </div>
                        </button>
                        <ul class="drop-profile dropdown-menu" aria-labelledby="profileDropdown">
                            <li>
                                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#profileModal">
                                    <i class='bx bx-user-circle drop-icon'></i>
                                    <span class="drop-name">Profile</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#settingsModal">
                                    <i class='bx bx-cog drop-icon'></i> 
                                    <span class="drop-name">Settings</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'user_logout' %}">
                                    <i class='bx bx-log-out drop-icon'></i> 
                                    <span class="drop-name">Log Out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!---->
                </div>
            </header>
            
            <main class="main-content">
                <div class="title-container d-flex justify-content-between align-items-center">
                    <h3 class="fw-semibold m-0">Create New Record</h3>
                </div>
                
                <div class="content-wrapper my-3 p-4 pt-3 bg-white rounded shadow-sm">
                    <p class="fw-bold pt-1" style="font-size: 18px">
                        <i class="fa-solid fa-circle-info" style="color: #2E72EA;"></i>&nbsp; Document Information
                    </p>
                    <form method="post" action="{% url 'add_record' %}" id="recordForm" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row mb-3 g-3">
                            <div class="col-12 col-md-4">
                                <label for="TrackingNumber" class="form-label">Tracking Number</label>
                                <input type="text" maxlength="18" class="form-control" name="tracking_no" id="TrackingNumber" aria-describedby="TrackingNumber" placeholder="e.g. 112922032-DEPT-001" required>
                            </div>
        
                            <div class="col-12 col-md-4">
                                <label for="SenderName" class="form-label">Sender Name</label>
                                <input type="text" maxlength="40" class="form-control" name="sender_name" id="SenderName" aria-describedby="SenderName" placeholder="e.g. Juan S. Dela Cruz" required>
                            </div>
        
                            <div class="col-12 col-md-4">
                                <label for="SenderDepartment" class="form-label">Sender Department</label>
                                <select class="form-select" name="sender_dept" id="SenderDepartment" aria-label="SenderDepartment" required>
                                    <option value="">Select Sender Department</option>
                                    <option value="Accounting">Accounting</option>
                                    <option value="Budgeting">Budgeting</option>
                                    <option value="Cashier">Cashier</option>
                                    <option value="Payroll">Payroll</option>
                                </select>
                            </div>
                        </div>
        
                        <div class="row mb-3 g-3">
                            <div class="col-12 col-md-6">
                                <label for="DocumentCategory" class="form-label">Select Document Category</label>
                                <select class="form-select" id="DocumentCategory" aria-label="DocumentCategory" required>
                                    <option value="">Select Document Category</option>
                                    <option value="Regular">Regular</option>
                                    <option value="Trust">Trust</option>
                                </select>
                            </div>
        
                            <div class="col-12 col-md-6">
                                <label for="DocumentType" class="form-label">Select Document Type</label>
                                <select class="form-select" name="doc_type" id="DocumentType" aria-label="DocumentType" disabled required>
                                    <option value="" disabled selected hidden>Select Document Type</option>
                                </select>
                            </div>
                        </div>
        
                        <div class="mb-3">
                            <label for="Subject" class="form-label">Subject / Particulars</label>
                            <input class="form-control" maxlength="110" name="subject" id="Subject" placeholder="e.g. Request for Amendment of Expense List for Cash Advance Under Special Order No. 34" required>
                        </div>
        
                        <div class="mb-3">
                            <label for="Remarks" class="form-label">Remarks</label>
                            <textarea type="text" maxlength="190" class="form-control" name="remarks"  id="Remarks" placeholder="e.g. For Immediate Approval of Cash Disbursement"></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="attachments" class="form-label">Upload Attachment</label>
                            <div class="input-group">
                                <input class="form-control form-file" type="file" accept=".pdf" id="formFile" name="attachment">
                            </div>
                        </div>
        
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-primary mb-1" id="submitBtn">Confirm</button>
                        </div>
                    </form>
                </div>
            </main>
        </div>
    </div>

    <!-- Confirm Record Creation Modal -->
    <div class="modal fade" id="confirmRecordCreation" tabindex="-1" aria-labelledby="confirmRecordCreationLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 px-3 py-2 bg-white shadow">
                <div class="modal-header pb-0 border-bottom-0">
                    <h5 class="modal-title" id="confirmRecordCreationLabel">Confirm Record Creation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to confirm this document creation? Please ensure all document details are correct before proceeding.</p>
                </div>
                <div class="modal-footer p-3 pt-0 border-top-0">
                    <button type="button" class="m-0 mb-2 btn btn-primary" id="confirmCreate" data-bs-toggle="modal">Confirm</button>
                    <button type="button" class="m-0 mb-2 btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Generated QR Code Modal -->
    <div class="modal fade" id="generateQRCode" tabindex="-1" aria-labelledby="generateQRCodeLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 400px;">
            <div class="modal-content rounded-4 px-3 py-2 bg-white shadow">
                <div class="modal-header pb-0 border-bottom-0 d-flex justify-content-between align-items-center" style="font-size: 13.5px;">
                    <button type="button" class="btn-close" style="visibility: hidden;"></button>
                    <h5 class="fw-bold mb-0 text-center flex-grow-1" id="confirmRecordCreationLabel">Document QR Code</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>                
                <div class="modal-body text-center">
                    <p class="mb-2">Scan the code to quickly access the document details or perform a specified action.</p>
                    <p class="fw-bold my-0" id="routesQr"></p>
                    <p class="fs-6 fw-bold my-0" id="str_routesQr" style="display:none;"></p>
                    <img id='qrCodeImage' src="" alt="Document QR Code" style="height: 218px; width: auto;">
                    <p class="fw-bold my-0" id="trackingNoQr"></p>
                </div>
                <div class="modal-footer p-3 pt-0 border-top-0 d-flex flex-column align-items-center">
                    <button type="button" class="m-0 mb-1 btn btn-primary w-100" id="printQR">Print QR Code</button>
                    <button type="button" class="m-0 mb-2 btn btn-secondary w-100" id="saveQR">Save a Copy</button>
                </div>                
            </div>
        </div>
    </div>

    <!-- Record Already Exists Modal -->
    <div class="modal fade" id="recordExistsModal" tabindex="-1" aria-labelledby="recordExistsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 px-3 py-2 bg-white shadow">
                <div class="modal-header pb-0 border-bottom-0">
                    <h5 class="modal-title" id="recordExistsModalLabel">
                        <i class="fa-solid fa-triangle-exclamation" style="color: #EA2E2E;"></i> &nbsp;Record Already Exists
                    </h5>
                </div>
                <div class="modal-body pb-2">
                    <p>A record with the <strong>Tracking No. <span id="existingTrackingNo"></span></strong> already exists in the system.
                       Please review the existing record or use a unique tracking number.</p>
                </div>
                <div class="modal-footer p-3 pt-0 border-top-0">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Profile Modal -->
    <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 px-0 pb-2 bg-white shadow">
                <div class="title-cover modal-header pb-1 pt-4 border-bottom-0" style="padding-left: 32px; padding-right: 32px;">
                    <h5 class="modal-title" id="departmentReportModalLabel">Your Profile</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="cover modal-body py-3 pb-0" style="padding-left: 32px; padding-right: 32px;">
                    <div class="text-center">
                        <img src="{% if user_profile.profile_picture %}/media/{{ user_profile.profile_picture }}{% else %}{% static 'images/default_profile_picture.png' %}{% endif %}" 
                             id="profilePicture" 
                             class="profile-modal-pic">
                    </div>
                </div>                

                <div class="modal-body pt-1" style="padding-left: 32px; padding-right: 32px;">
                    <div class="mb-3">
                        <h4 id="fullName" class="text-center my-1 p-0">{{ user_profile.firstname }} {% if user_profile.middlename %}{{user_profile.middlename|slice:":1"}}.{%endif%} {{user_profile.lastname}}</h4>
                        <p id="role" class="text-center p-0">{{ user_profile.role }}</p>
                    </div>

                    <div class="row mb-3 g-3">
                        <div class="col text-start">
                            <p id="userIDLabel" class="d-flex align-items-center gap-2">
                                <i class="fa-solid fa-circle-user profile-icon"></i><strong>User ID</strong>
                            </p>
                        </div>
                        <div class="col text-end">
                            <p id="userIDValue">{{ user_profile.user_id }}</p>
                        </div>
                    </div>

                    <div class="row mb-3 g-3">
                        <div class="col text-start">
                            <p id="emailAddress" class="d-flex align-items-center gap-2">
                                <i class="fa-solid fa-envelope profile-icon"></i><strong>Email Address</strong>
                            </p>
                        </div>
                        <div class="col text-end">
                            <p id="employeeEmail">{{ user_profile.email }}</p>
                        </div>
                    </div>
                
                    <div class="row mb-3 g-3">
                        <div class="col text-start">
                            <p id="contactNumber" class="d-flex align-items-center gap-2">
                                <i class="fa-solid fa-phone profile-icon"></i><strong>Contact Number</strong>
                            </p>
                        </div>
                        <div class="col text-end">
                            <p id="employeeContact">{{ user_profile.contact_no }}</p>
                        </div>
                    </div>

                    <button type="button" class="w-100 mt-1 mb-2 btn btn-primary" data-bs-toggle="modal" data-bs-target="#editProfileModal">Edit Profile</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Profile Modal -->
    <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 px-3 py-2 bg-white shadow">
                <div class="modal-header pb-0 border-bottom-0">
                    <h5 class="modal-title" id="departmentReportModalLabel">Edit Profile Information</h5>
                    <button type="button" id="clostEditProfileModalBtn" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form id="editProfileForm" method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="d-flex align-items-center justify-content-center mb-3">
                            <div class="me-3">
                                <img src="{% if user_profile.profile_picture %}/media/{{ user_profile.profile_picture }}{% else %}{% static 'images/default_profile_picture.png' %}{% endif %}" 
                                    alt="Profile Picture" id="editProfilePicture" class="profile-modal-pic" style="width: 115px; height: 115px;">
                            </div>
                            <div>
                                <div class="mb-2">
                                    <input type="file" name="new_profile_photo" id="changePhotoInput" style="display:none;" accept="image/*" value="{% if user_profile.profile_picture %}/media/{{ user_profile.profile_picture }}{% endif %}" onchange="previewImage(event)">
                                    <button type="button" class="btn btn-primary me-2" onclick="document.getElementById('changePhotoInput').click()">Change Photo</button>
                                    <button type="button" class="btn btn-secondary" id="deletePhotoButton" onclick="deletePhoto()">Delete Photo</button>
                                </div>
                                <p class="mt-2 text-muted"><small>Upload PNG or JPG. (max 300 x 300px)</small></p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="editFirstName" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="editFirstName" name="new_firstname" value="{{ user_profile.firstname }}" maxlength="40" required>
                        </div>
                        <div class="mb-3">
                            <label for="editMiddleName" class="form-label">Middle Name (optional)</label>
                            <input type="text" class="form-control" id="editMiddleName" name="new_middlename" value="{{ user_profile.middlename }}" maxlength="40">
                        </div>
                        <div class="mb-3">
                            <label for="editLastName" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="editLastName" name="new_lastname" value="{{ user_profile.lastname }}" maxlength="40" required>
                        </div>
                        <div class="mb-3">
                            <label for="editContactNumber" class="form-label">Contact Number</label>
                            <input type="text" class="form-control" id="editContactNumber" name="new_contact_no" value="{{ user_profile.contact_no }}" maxlength="11" required>
                        </div>
                        <input type="hidden" name="temp_delete_profile" id="tempDeleteProfile" value="no">
                    </form>
                    <button type="button" id="saveEditProfileBtn" class="w-100 mt-1 mb-2 btn btn-primary">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
        
        
    <script src="{% static 'js/toggle-sidebar.js' %}"></script>  
    <script src="{% static 'js/new-record.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/profile.js' %}"></script>
    {% include "assets/profile-reset-inputs.html" %}
</body>
</html>
