{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/logo-icon.png" type="image/png">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
	<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
	<link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Admin Officer New Record</title>
</head>

<body id="bodyPd">
    {% include "assets/admin-officer-navbar.html" %}

    <div class="container">
        <h3 class="fw-semibold pb-2">Create New Record</h3>
        <div class="create-record container p-3 rounded" style="background-color: white;">
            <h5 class="fw-semibold pb-2"><i class='bx bxs-info-circle py-0' style="color: #2E72EA;"></i>    Document Information</h5 >
            <form method="post" action="{% url 'new_record_admin_officer' %}" id="recordForm">
                {% csrf_token %}
                <div class="row mb-3 g-2">
                    <div class="col-12 col-md-4">
                        <label for="TrackingNumber" class="form-label">Tracking Number</label>
                        <input type="text" class="form-control" name="tracking_no" id="TrackingNumber" aria-describedby="TrackingNumber" placeholder="e.g. 112922032-DEPT-001" required>
                    </div>

                    <div class="col-12 col-md-4">
                        <label for="SenderName" class="form-label">Sender Name</label>
                        <input type="text" class="form-control" name="sender_name" id="SenderName" aria-describedby="SenderName" placeholder="e.g. Juan S. Dela Cruz" required>
                    </div>

                    <div class="col-12 col-md-4">
                        <label for="SenderDepartment" class="form-label">Sender Department</label>
                        <select class="form-select" name="sender_dept" id="SenderDepartment" aria-label="SenderDepartment" required>
                            <option value="">Select Sender Department</option>
                            <option value="Admin">Admin</option>
                            <option value="Finance">Finance</option>
                            <option value="Budget">Budget</option>
                            <option value="Cashier">Cashier</option>
                        </select>
                    </div>
                </div>

                <div class="row mb-3 g-2">
                    <div class="col-12 col-md-6">
                        <label for="DocumentCategory" class="form-label">Select Document Category</label>
                        <select class="form-select" id="DocumentCategory" aria-label="DocumentCategory" required>
                            <option value="" disabled selected hidden>Document Category</option>
                            <option value="Regular">Regular</option>
                            <option value="SCPF">SCPF</option>
                        </select>
                    </div>

                    <div class="col-12 col-md-6">
                        <label for="DocumentType" class="form-label">Select Document Type</label>
                        <select class="form-select" name="doc_type" id="DocumentType" aria-label="DocumentType" disabled required>
                            <option value="">Select Document Type</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="Subject" class="form-label">Subject / Particulars</label>
                    <input class="form-control" name="subject" id="Subject" placeholder="e.g. Request for Amendment of Expense List for Cash Advance Under Special Order No. 34" required>
                </div>

                <div class="mb-3">
                    <label for="Remarks" class="form-label">Remarks</label>
                    <textarea type="text" class="form-control" name="remarks"  id="Remarks" placeholder="e.g. For Immediate Approval of Cash Disbursement"></textarea>
                </div>

                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-primary" id="submitBtn">Confirm</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal to Confirm Record Creation -->
    <div class="modal fade" id="confirmRecordCreation" tabindex="-1" aria-labelledby="confirmRecordCreationLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="confirmRecordCreationLabel">Confirm Record Creation</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="fs-6">Are you sure you want to confirm this document creation?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="confirmCreate" data-bs-toggle="modal" data-bs-target="#generateQRCode">Confirm</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal to Generate QR Code -->

    {% if showQRModal %}
        <div class="modal fade" id="generateQRCode" tabindex="-1" aria-labelledby="generateQRCodeLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content rounded-4 shadow">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5 mx-auto" id="confirmRecordCreationLabel">Document QR Code</h1>
                        <button type="button" class="btn-close ps-0 ms-0" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>                
                    <div class="modal-body text-center">
                        <p class="fs-6">Scan the code to quickly access the document details or perform a specified action.</p>
                        <p class="fs-6 fw-bold my-0">{{ str_routes }}</p>
                        <img id='qrCodeImage' src="{{ qr_code_url }}" alt="Document QR Code" style="height: 218px; width: auto;">
                        <p class="fs-6 fw-bold my-0">{{ str_tracking_no }}</p>
                    </div>
                    <div class="modal-footer d-flex flex-column align-items-center">
                        <button type="button" class="btn btn-primary mb-2 w-50" id="printQR">Print QR Code</button>
                        <button type="button" class="btn btn-secondary w-50" id="saveQR">Save a Copy</button>
                    </div>                
                </div>
            </div>
        </div>
    {% endif %}

    <script src="{% static 'js/tabs-nav.js' %}"></script>  
    <script src="{% static 'js/records-count.js' %}"></script>
    <script src="{% static 'js/new-record.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        // On page load, read the URL parameter and update the class
        document.addEventListener('DOMContentLoaded', function () {
            const params = new URLSearchParams(window.location.search);
            const status = params.get('status');
            if (status) {
                // Assuming you want to add the class to the element with ID 'targetElement'
                document.querySelector('#new').classList.add(status);
            }

            try {
                const generateQRCodeModal = new bootstrap.Modal(document.getElementById('generateQRCode'));
                // Automatically show the generateQRCode modal when the page loads
                if (generateQRCodeModal) {
                    generateQRCodeModal.show();
                }
            } catch (error) {
                console.error("QR Code modal could not be shown:", error);
            }

        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.querySelector('form');
            const submitBtn = document.getElementById('submitBtn');
            const modal = new bootstrap.Modal(document.getElementById('confirmRecordCreation'));
    
            // Add an event listener to the submit button
            submitBtn.addEventListener('click', function (event) {
                // Prevent default form submission
                event.preventDefault();
    
                // Check if the form is valid
                if (form.checkValidity()) {
                    // If the form is valid, show the confirmation modal
                    modal.show();
                } else {
                    // If the form is invalid, trigger validation messages
                    form.reportValidity();
                }
            });
        });
    </script>
    <script>
        document.getElementById('DocumentCategory').addEventListener('change', function() {
            var category = this.value;
            var docTypeSelect = document.getElementById('DocumentType');

            if (category) {
                fetch(`/load-document-types/?category=${category}`)
                .then(response => response.json())
                .then(data => {
                    // Clear previous options
                    docTypeSelect.innerHTML = '<option value="">Select Document Type</option>';
                    // Enable the dropdown
                    docTypeSelect.disabled = false;
                    // Populate new options
                    data.forEach(function(item) {
                        var option = new Option(item.document_type, item.document_no);
                        docTypeSelect.add(option);
                    });
                });
            } else {
                docTypeSelect.innerHTML = '<option value="">Select Document Type</option>';
                docTypeSelect.disabled = true;
            }
        });

        document.getElementById('confirmCreate').addEventListener('click', function() {
            document.getElementById('recordForm').submit();
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const printQRButton = document.getElementById('printQR');
            const saveQRButton = document.getElementById('saveQR');
            const qrCodeImage = document.getElementById('qrCodeImage');
            if (printQRButton) {
                printQRButton.addEventListener('click', function () {
                    const printWindow = window.open('', '', 'height=600,width=700');
                    printWindow.document.write('<html><head><title>Print QR Code</title>');
                    printWindow.document.write('<style>');
                    printWindow.document.write('body, html { font-family: Inter, sans-serif; text-align: center; margin: 0; padding: 0; }');
                    printWindow.document.write('img { max-width: 45mm;}'); // Limit QR code width to 45mm
                    printWindow.document.write('p { font-size: 18px; font-weight: bold; margin: 0; padding: 0; }'); // Adjust font size
                    printWindow.document.write('@media print { body, html { margin: 0; padding: 0; } }'); // Additional print-specific styles
                    printWindow.document.write('</style>');
                    printWindow.document.write('</head><body>');;    
                    printWindow.document.write('<div style="width: 155px; display: flex; flex-direction: column; align-items: center;">'); // Centering div
                    printWindow.document.write('<p>{{ str_routes }}</p>');
                    printWindow.document.write('<p style="font-size: 9px; font-weight: 400">({{ str_routes_titles }})</p>');
                    printWindow.document.write('<img src="' + qrCodeImage.src + '" />');
                    printWindow.document.write('<p style="font-size: 13px;">{{ str_tracking_no }}</p>');
                    printWindow.document.write('<p style="font-size: 8px; font-weight: 400">(Document Tracking Number)</p>');
                    printWindow.document.write('</div>');
                    printWindow.document.write('</body></html>');
                    printWindow.document.close();
                    printWindow.focus();
                    printWindow.print();
            });
            }
            if (saveQRButton) {
                saveQRButton.addEventListener('click', function () {
                    const canvas = document.createElement('canvas');
                    const ctx = canvas.getContext('2d');
                    const strRoutes = "{{ str_routes|escapejs }}";
                    const strTrackingNo = "{{ str_tracking_no|escapejs }}";
                    const documentNo = "{{ document_no }}"
                    const qrCodeImg = new Image();
                    qrCodeImg.src = qrCodeImage.src;
                    qrCodeImg.onload = function () {
                        canvas.width = qrCodeImg.width;
                        canvas.height = qrCodeImg.height + 60; // Extra space for text
                        // Fill the canvas with a white background
                        ctx.fillStyle = 'white';
                        ctx.fillRect(0, 0, canvas.width, canvas.height);
                        // Draw the QR code image
                        ctx.drawImage(qrCodeImg, 0, 30); // Adjust y position for QR code
                        // Set font for the text
                        ctx.font = 'bold 31px Inter, sans-serif';
                        ctx.textAlign = 'center';
                        ctx.fillStyle = 'black'; // Set text color to black
                        // Add text above and below the QR code
                        ctx.fillText(strRoutes, canvas.width / 2, 43);
                        ctx.font = 'bold 20px Inter, sans-serif';
                        ctx.fillText(strTrackingNo, canvas.width / 2, canvas.height - 24);
                        // Trigger download
                        const link = document.createElement('a');
                        link.href = canvas.toDataURL('image/png');
                        link.download = 'doc_' + documentNo + '_qr_code.png';
                        document.body.appendChild(link);
                        link.click();
                        document.body.removeChild(link);
                    };
                });
            }
        });
    </script>
</body>
</html>

<!-- TEST COMMIT -->