{% load static %}
{% load tz %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/logo-icon.png" type="image/png">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/table-content.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
	<link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Activity Logs</title>
</head>

<body>
    <div class="container">
        {% include "assets/sro-sidebar.html" %}

        <div class="right-section">
            <header class="header">
                <button class="toggle-sidebar" id="toggleSidebar"><i class="fa-solid fa-bars"></i></button>
                <div class="header-right">
                    <button class="toggle-notification" id="notification" title="Notifications"><i class="fa-solid fa-bell"></i></button>
                    <!---->
                    <div class="dropdown">
                        <button class="profile m-0" type="button" id="profileDropdown" data-bs-toggle="dropdown">
                            <div class="profile-pic">
                                <img src="{% if user_profile.profile_picture %}/media/{{ user_profile.profile_picture }}{% else %}{% static 'images/default_profile_picture.png' %}{% endif %}"
                                     id="profilePicture" 
                                     class="profile-modal-pic" 
                                     style="width: 50px; height: 50px; object-fit: cover; border-radius: 50%;">
                            </div>                                                                                
                            <div class="profile-info">
                                <span class="profile-name">{{ user_profile.firstname }} {{user_profile.lastname}}</span>
                                <span class="profile-role">{{ user_profile.role }}</span>
                            </div>
                        </button>
                        <ul class="drop-profile dropdown-menu" aria-labelledby="profileDropdown">
                            <li>
                                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#profileModal">
                                    <i class='bx bx-user-circle drop-icon'></i>
                                    <span class="drop-name">Profile</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#settingsModal">
                                    <i class='bx bx-cog drop-icon'></i> 
                                    <span class="drop-name">Settings</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'user_logout' %}">
                                    <i class='bx bx-log-out drop-icon'></i> 
                                    <span class="drop-name">Log Out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!---->
                </div>
            </header>
            <main class="main-content">
                <div class="title-container d-flex justify-content-between align-items-center">
                    <h3 class="fw-semibold m-0">Activity Logs</h3>
                    <div class="d-flex justify-content-between align-items-center" style="gap: 12px;">
                        <div class="search-container">
                            <input type="text" id="searchInput" class="form-search form-control shadow-sm" style="font-size: 14px !important;" placeholder="Search your activity">
                            <i class="fa-solid fa-search search-icon"></i>  
                            <i class="fa-solid fa-xmark clear-icon" style="display: none;"></i>
                        </div>
                    </div>
                </div>

                <div class="my-3 px-3 py-2 bg-white rounded shadow-sm">
                    <ul class="custom-tabs">
                        <li class="tab-item">
                            <a class="tab-link {% if activity_type == 'recent' %}active{% endif %}" href="{% url 'sro_activity_logs' 'recent' %}?status=active">Recents</a>
                        </li>
                        <li class="tab-item">
                            <a class="tab-link {% if activity_type == 'all-activity' %}active{% endif %}" href="{% url 'sro_activity_logs' 'all-activity' %}?status=active">All Activity</a>
                        </li>
                    </ul>
                    {% if activity_type == 'recent' %}
                        <div class="activity-tab-wrapper d-flex mt-2">
                            <div class="activity-feed w-100 ">
                                <!-- Today's Activities -->
                                <div class="activity-class">
                                    <h6 class="activity-label">Today</h6>
                                        {% if today_logs %}
                                            {% for log in today_logs %}
                                                <div class="activity-item d-flex justify-content-between align-items-center">
                                                    <div class="d-flex">
                                                        {% if log.activity == 'Document Forwarded to Action Officer' %}
                                                            <div class="activity-icon-wrapper rounded d-flex justify-content-center align-items-center feed-green">
                                                                <i class="fa-solid fa-share"></i>
                                                            </div>
                                                            <p class="mb-0">
                                                                <strong class="d-block">Document Forwarded to ACT: Tracking No.: {{log.document_id.tracking_no}}, Received by: {{log.receiver_id.firstname}} {{log.receiver_id.lastname}}</strong>
                                                                The document has been forwarded to the assigned recipient for further processing.
                                                            </p>
                                                        {% elif log.activity == 'Document Resolved' %}
                                                            <div class="activity-icon-wrapper rounded d-flex justify-content-center align-items-center feed-green">
                                                                <i class="fa-solid fa-flag"></i>
                                                            </div>
                                                            <p class="mb-0">
                                                                <strong class="d-block">Document Resolved {% if log.receiver_id %}and forwarded to {{log.receiver_id.office_id.office_name}} Office.{% else %}and for archiving.{% endif %}: Tracking No. {{log.document_id.tracking_no}}</strong>
                                                                The document has been resolved.
                                                            </p>
                                                        {% endif %}
                                                    </div>
                                                    <p class="text-end mb-0" style="white-space: nowrap;">{{log.time_stamp|date:"Y-m-d"}}<br>{{log.time_stamp|date:"h:i A"}}</p>
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            <p class="activity-label" style="opacity: 50%; padding-left: 30px;"><i>No logs for today.</i></p>
                                        {% endif %}
                                </div>
                        
                                <!-- Yesterday's Activities -->
                                <div class="activity-class">
                                    <h6 class="activity-label">Yesterday</h6>
                                        {% if yesterday_logs %}
                                            {% for log in yesterday_logs %}
                                                <div class="activity-item d-flex justify-content-between align-items-center">
                                                    <div class="d-flex">
                                                        {% if log.activity == 'Document Forwarded to Action Officer' %}
                                                            <div class="activity-icon-wrapper rounded d-flex justify-content-center align-items-center feed-green">
                                                                <i class="fa-solid fa-share"></i>
                                                            </div>
                                                            <p class="mb-0">
                                                                <strong class="d-block">Document Forwarded to ACT: Tracking No.: {{log.document_id.tracking_no}}, Received by: {{log.receiver_id.firstname}} {{log.receiver_id.lastname}}</strong>
                                                                The document has been forwarded to the assigned recipient for further processing.
                                                            </p>
                                                        {% elif log.activity == 'Document Resolved' %}
                                                            <div class="activity-icon-wrapper rounded d-flex justify-content-center align-items-center feed-green">
                                                                <i class="fa-solid fa-flag"></i>
                                                            </div>
                                                            <p class="mb-0">
                                                                <strong class="d-block">Document Resolved {% if log.receiver_id %}and forwarded to {{log.receiver_id.office_id.office_name}} Office.{% else %}and for archiving.{% endif %}: Tracking No. {{log.document_id.tracking_no}}</strong>
                                                                The document has been resolved.
                                                            </p>
                                                        {% endif %}
                                                    </div>
                                                    <p class="text-end mb-0" style="white-space: nowrap;">{{log.time_stamp|date:"Y-m-d"}}<br>{{log.time_stamp|date:"h:i A"}}</p>
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            <p class="activity-label" style="opacity: 50%; padding-left: 30px;"><i>No logs for yesterday.</i></p>
                                        {% endif %}
                                </div>

                                <!-- This Week Activities -->
                                <div class="activity-class">
                                    <h6 class="activity-label">This Week</h6>
                                    {% if this_week_logs %}
                                        {% for log in this_week_logs %}
                                            <div class="activity-item d-flex justify-content-between align-items-center">
                                                <div class="d-flex">
                                                    {% if log.activity == 'Document Forwarded to Action Officer' %}
                                                        <div class="activity-icon-wrapper rounded d-flex justify-content-center align-items-center feed-green">
                                                            <i class="fa-solid fa-share"></i>
                                                        </div>
                                                        <p class="mb-0">
                                                            <strong class="d-block">Document Forwarded to ACT: Tracking No.: {{log.document_id.tracking_no}}, Received by: {{log.receiver_id.firstname}} {{log.receiver_id.lastname}}</strong>
                                                            The document has been forwarded to the assigned recipient for further processing.
                                                        </p>
                                                    {% elif log.activity == 'Document Resolved' %}
                                                        <div class="activity-icon-wrapper rounded d-flex justify-content-center align-items-center feed-green">
                                                            <i class="fa-solid fa-flag"></i>
                                                        </div>
                                                        <p class="mb-0">
                                                            <strong class="d-block">Document Resolved {% if log.receiver_id %}and forwarded to {{log.receiver_id.office_id.office_name}} Office.{% else %}and for archiving.{% endif %}: Tracking No. {{log.document_id.tracking_no}}</strong>
                                                            The document has been resolved.
                                                        </p>
                                                    {% endif %}
                                                </div>
                                                <p class="text-end mb-0" style="white-space: nowrap;">{{log.time_stamp|date:"Y-m-d"}}<br>{{log.time_stamp|date:"h:i A"}}</p>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <p class="activity-label" style="opacity: 50%; padding-left: 30px;"><i>No logs for this week.</i></p>
                                    {% endif %}
                                </div>

                                <!-- Last 15 Days Activities -->
                                <div class="activity-class">
                                    <h6 class="activity-label">Last 15 Days</h6>
                                    {% if last_fifteen_days_logs %}
                                        {% for log in last_fifteen_days_logs %}
                                            <div class="activity-item d-flex justify-content-between align-items-center">
                                                <div class="d-flex">
                                                    {% if log.activity == 'Document Forwarded to Action Officer' %}
                                                        <div class="activity-icon-wrapper rounded d-flex justify-content-center align-items-center feed-green">
                                                            <i class="fa-solid fa-share"></i>
                                                        </div>
                                                        <p class="mb-0">
                                                            <strong class="d-block">Document Forwarded to ACT: Tracking No.: {{log.document_id.tracking_no}}, Received by: {{log.receiver_id.firstname}} {{log.receiver_id.lastname}}</strong>
                                                            The document has been forwarded to the assigned recipient for further processing.
                                                        </p>
                                                    {% elif log.activity == 'Document Resolved' %}
                                                        <div class="activity-icon-wrapper rounded d-flex justify-content-center align-items-center feed-green">
                                                            <i class="fa-solid fa-flag"></i>
                                                        </div>
                                                        <p class="mb-0">
                                                            <strong class="d-block">Document Resolved {% if log.receiver_id %}and forwarded to {{log.receiver_id.office_id.office_name}} Office.{% else %}and for archiving.{% endif %}: Tracking No. {{log.document_id.tracking_no}}</strong>
                                                            The document has been resolved.
                                                        </p>
                                                    {% endif %}
                                                </div>
                                                <p class="text-end mb-0" style="white-space: nowrap;">{{log.time_stamp|date:"Y-m-d"}}<br>{{log.time_stamp|date:"h:i A"}}</p>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <p class="activity-label" style="opacity: 50%; padding-left: 30px;"><i>No logs from 15 days.</i></p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if activity_type == 'all-activity' %}
                    <div class="table-tab-wrapper table-responsive d-flex mt-2">
                        <table class="table mb-1 table-logs">
                            <thead>
                                <tr>
                                    <th>Timestamp</th>
                                    <th>Tracking Number</th>
                                    <th>Particulars</th>
                                    <th>Sender Name</th>
                                    <th>Remarks</th>
                                    <th>Activity</th>
                                </tr>
                            </thead>
                            <tbody id="docTableBody">
                                {% if records %}
                                    {% for record in records %}
                                        <tr>
                                            <td style="white-space: nowrap;">{{ record.time_stamp|date:"Y-m-d" }}<br>{{ record.time_stamp|date:"h:i A" }}</td>
                                            <td style="white-space: nowrap;">{{ record.document_id.tracking_no }}</td>
                                            <td>{{ record.document_id.subject }}</td>
                                            <td style="white-space: nowrap;">{{ record.document_id.sender_name }}</td>
                                            <td>
                                                {% if record.remarks %}
                                                    {{ record.remarks.remarks }}
                                                {% else %}
                                                    {{record.document_id.remarks}}
                                                {% endif %}
                                            </td>
                                            <td>{{ record.activity }}</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="6" class="text-center table-empty">No data to display in table.</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>

                    <p class="d-block text-start my-0 p-2 fw-semibold" id="record-count" style="color: #000000; opacity: 0.6;">
                        Showing total of {{records|length}} activity log{{ records|length|pluralize:"s" }}
                    </p>
                    {% endif %}
                </div>
            </main>
        </div>
    </div>

    <!-- Profile Modal -->
    <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 px-0 pb-2 bg-white shadow">
                <div class="title-cover modal-header pb-1 pt-4 border-bottom-0" style="padding-left: 32px; padding-right: 32px;">
                    <h5 class="modal-title" id="departmentReportModalLabel">Your Profile</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="cover modal-body py-3 pb-0" style="padding-left: 32px; padding-right: 32px;">
                    <div class="text-center">
                        <img src="{% if user_profile.profile_picture %}/media/{{ user_profile.profile_picture }}{% else %}{% static 'images/default_profile_picture.png' %}{% endif %}" 
                             id="profilePicture" 
                             class="profile-modal-pic">
                    </div>
                </div>                

                <div class="modal-body pt-1" style="padding-left: 32px; padding-right: 32px;">
                    <div class="mb-3">
                        <h4 id="fullName" class="text-center my-1 p-0">{{ user_profile.firstname }} {% if user_profile.middlename %}{{user_profile.middlename|slice:":1"}}.{%endif%} {{user_profile.lastname}}</h4>
                        <p id="role" class="text-center p-0">{{ user_profile.role }}</p>
                    </div>

                    <div class="row mb-3 g-3">
                        <div class="col text-start">
                            <p id="userIDLabel" class="d-flex align-items-center gap-2">
                                <i class="fa-solid fa-circle-user profile-icon"></i><strong>User ID</strong>
                            </p>
                        </div>
                        <div class="col text-end">
                            <p id="userIDValue">{{ user_profile.user_id }}</p>
                        </div>
                    </div>

                    <div class="row mb-3 g-3">
                        <div class="col text-start">
                            <p id="emailAddress" class="d-flex align-items-center gap-2">
                                <i class="fa-solid fa-envelope profile-icon"></i><strong>Email Address</strong>
                            </p>
                        </div>
                        <div class="col text-end">
                            <p id="employeeEmail">{{ user_profile.email }}</p>
                        </div>
                    </div>
                
                    <div class="row mb-3 g-3">
                        <div class="col text-start">
                            <p id="contactNumber" class="d-flex align-items-center gap-2">
                                <i class="fa-solid fa-phone profile-icon"></i><strong>Contact Number</strong>
                            </p>
                        </div>
                        <div class="col text-end">
                            <p id="employeeContact">{{ user_profile.contact_no }}</p>
                        </div>
                    </div>

                    <button type="button" class="w-100 mt-1 mb-2 btn btn-primary" data-bs-toggle="modal" data-bs-target="#editProfileModal">Edit Profile</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Profile Modal -->
    <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 px-3 py-2 bg-white shadow">
                <div class="modal-header pb-0 border-bottom-0">
                    <h5 class="modal-title" id="departmentReportModalLabel">Edit Profile Information</h5>
                    <button type="button" id="clostEditProfileModalBtn" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form id="editProfileForm" method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="d-flex align-items-center justify-content-center mb-3">
                            <div class="me-3">
                                <img src="{% if user_profile.profile_picture %}/media/{{ user_profile.profile_picture }}{% else %}{% static 'images/default_profile_picture.png' %}{% endif %}" 
                                    alt="Profile Picture" id="editProfilePicture" class="profile-modal-pic" style="width: 115px; height: 115px;">
                            </div>
                            <div>
                                <div class="mb-2">
                                    <input type="file" name="new_profile_photo" id="changePhotoInput" style="display:none;" accept="image/*" value="{% if user_profile.profile_picture %}/media/{{ user_profile.profile_picture }}{% endif %}" onchange="previewImage(event)">
                                    <button type="button" class="btn btn-primary me-2" onclick="document.getElementById('changePhotoInput').click()">Change Photo</button>
                                    <button type="button" class="btn btn-secondary" id="deletePhotoButton" onclick="deletePhoto()">Delete Photo</button>
                                </div>
                                <p class="mt-2 text-muted"><small>Upload PNG or JPG. (max 300 x 300px)</small></p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="editFirstName" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="editFirstName" name="new_firstname" value="{{ user_profile.firstname }}" maxlength="40" required>
                        </div>
                        <div class="mb-3">
                            <label for="editMiddleName" class="form-label">Middle Name (optional)</label>
                            <input type="text" class="form-control" id="editMiddleName" name="new_middlename" value="{{ user_profile.middlename }}" maxlength="40">
                        </div>
                        <div class="mb-3">
                            <label for="editLastName" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="editLastName" name="new_lastname" value="{{ user_profile.lastname }}" maxlength="40" required>
                        </div>
                        <div class="mb-3">
                            <label for="editContactNumber" class="form-label">Contact Number</label>
                            <input type="text" class="form-control" id="editContactNumber" name="new_contact_no" value="{{ user_profile.contact_no }}" maxlength="11" required>
                        </div>
                        <input type="hidden" name="temp_delete_profile" id="tempDeleteProfile" value="no">
                    </form>
                    <button type="button" id="saveEditProfileBtn" class="w-100 mt-1 mb-2 btn btn-primary">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/toggle-sidebar.js' %}"></script>
    <script src="{% static 'js/clear-search.js' %}"></script>
    <script src="{% static 'js/profile.js' %}"></script>
    {% include "assets/profile-reset-inputs.html" %}
</body>
</html>
