{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/logo-icon.png" type="image/png">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
	<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
	<link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Unacted Records</title>
</head>

<body>
    <div class="container">
        {% include "assets/sro-sidebar.html" %}

        <div class="right-section">
            <header class="header">
                <button class="toggle-sidebar" id="toggleSidebar"><i class="fa-solid fa-bars"></i></button>
                <div class="header-right">
                    <button class="toggle-notification" id="notification"><i class="fa-solid fa-bell"></i></button>
                    <div class="dropdown">
                        <button class="profile m-0" type="button" id="profileDropdown" data-bs-toggle="dropdown" title="Account Menu">
                            <div class="profile-pic placeholder"></div>
                            <div class="profile-info">
                                <span class="profile-name">{{ user_name }}</span>
                                <span class="profile-role">Sub-Receiving Officer</span>
                            </div>
                        </button>
                        <ul class="drop-profile dropdown-menu" aria-labelledby="profileDropdown">
                            <li>
                                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#profileModal">
                                    <i class='bx bx-user-circle drop-icon'></i>
                                    <span class="drop-name">Profile</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#settingsModal">
                                    <i class='bx bx-cog drop-icon'></i> 
                                    <span class="drop-name">Settings</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'user_logout' %}">
                                    <i class='bx bx-log-out drop-icon'></i> 
                                    <span class="drop-name">Log Out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </header>
            
            <main class="main-content">
                <div class="title-container d-flex justify-content-between align-items-center">
                    <h3 class="fw-semibold m-0">Unacted Records</h3>
                </div>
            </main>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/toggle-sidebar.js' %}"></script>
    <script>
        // On page load, read the URL parameter and update the class
        document.addEventListener('DOMContentLoaded', function () {
            const params = new URLSearchParams(window.location.search);
            const status = params.get('status');
            if (status) {
                // Assuming you want to add the class to the element with ID 'targetElement'
                document.querySelector('#unacted-docs').classList.add(status);
            }
        });
    </script>
</body>
</html>
