{% load static %}
{% load tz %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/logo-icon.png" type="image/png">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/table-content.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
	<link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Records</title>
</head>

<body>
    <div class="container">
        {% include "assets/act-sidebar.html" %}

        <div class="right-section">
            <header class="header">
                <button class="toggle-sidebar" id="toggleSidebar"><i class="fa-solid fa-bars"></i></button>
                <div class="header-right">
                    <button class="toggle-notification" id="notification" title="Notifications"><i class="fa-solid fa-bell"></i></button>
                    <!---->
                    <div class="dropdown">
                        <button class="profile m-0" type="button" id="profileDropdown" data-bs-toggle="dropdown">
                            <div class="profile-pic">
                                <img src="{% if user_profile.profile_picture %}/media/{{ user_profile.profile_picture }}{% else %}{% static 'images/default_profile_picture.png' %}{% endif %}"
                                     id="profilePicture" 
                                     class="profile-modal-pic" 
                                     style="width: 50px; height: 50px; object-fit: cover; border-radius: 50%;">
                            </div>                                                                                
                            <div class="profile-info">
                                <span class="profile-name">{{ user_profile.firstname }} {{user_profile.lastname}}</span>
                                <span class="profile-role">{{ user_profile.role }}</span>
                            </div>
                        </button>
                        <ul class="drop-profile dropdown-menu" aria-labelledby="profileDropdown">
                            <li>
                                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#profileModal">
                                    <i class='bx bx-user-circle drop-icon'></i>
                                    <span class="drop-name">Profile</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#settingsModal">
                                    <i class='bx bx-cog drop-icon'></i> 
                                    <span class="drop-name">Settings</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'user_logout' %}">
                                    <i class='bx bx-log-out drop-icon'></i> 
                                    <span class="drop-name">Log Out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!---->
                </div>
            </header>
            
            <main class="main-content">
                <div class="title-container d-flex justify-content-between align-items-center">
                    <h3 class="fw-semibold m-0">Records</h3>
                    <div class="d-flex justify-content-between align-items-center" style="gap: 12px;">
                        <div class="search-container">
                            <input type="text" id="searchInput" data-url="{% url 'action_officer_update_records_display' %}" class="form-search form-control shadow-sm" style="font-size: 14px !important;" placeholder="Search a document">
                            <i class="fa-solid fa-search search-icon"></i>  
                            <i class="fa-solid fa-xmark clear-icon" style="display: none;"></i>
                        </div>
                        <button type="button" class="btn btn-primary m-0 shadow-sm" style="font-size: 14px; max-height: 37.85; padding: 7.63px 11.2px;" data-bs-toggle="modal" data-bs-target="#scanQRCodeModal">
                            <i class="fa-solid fa-qrcode" style="font-size: 16px !important;"></i>&nbsp; Scan QR Code
                        </button>
                        <div class="dropdown">
                            <button 
                                type="button" 
                                class="btn btn-primary m-0 shadow-sm" 
                                id="filterButton" 
                                data-bs-toggle="dropdown" 
                                aria-expanded="false"
                                style="max-height: 37.85px; padding: 7.63px 11.2px;">
                                <i class="fa-solid fa-filter" style="font-size: 14px !important;"></i>&nbsp; Filter
                            </button>
                            <ul class="drop-filter dropdown-menu" aria-labelledby="filterButton" style="width: 200px;">
                                <div class="mb-2">
                                    <label class="title-filter mb-2">Type</label>
                                    <div class="form-check mb-1">
                                        <input class="form-check-input mt-1" type="checkbox" value="" id="regularType">
                                        <label class="form-check-label" for="regularType">Regular</label>
                                    </div>
                                    <div class="form-check mb-1">
                                        <input class="form-check-input mt-1" type="checkbox" value="" id="scpType">
                                        <label class="form-check-label" for="scpType">Trust</label>
                                    </div>
                                </div>

                                <div class="mb-2">
                                    <label class="title-filter mb-2">Priority</label>
                                    <div class="form-check mb-1">
                                        <input class="form-check-input mt-1" type="checkbox" value="" id="prefAction">
                                        <label class="form-check-label" for="prefAction">For Pref. Action</label>
                                    </div>
                                    <div class="form-check mb-1">
                                        <input class="form-check-input mt-1" type="checkbox" value="" id="normalPriority">
                                        <label class="form-check-label" for="normalPriority">Normal</label>
                                    </div>
                                    <div class="form-check mb-1">
                                        <input class="form-check-input mt-1" type="checkbox" value="" id="urgentPriority">
                                        <label class="form-check-label" for="urgentPriority">Urgent</label>
                                    </div>
                                    <div class="form-check mb-1">
                                        <input class="form-check-input mt-1" type="checkbox" value="" id="veryUrgentPriority">
                                        <label class="form-check-label" for="veryUrgentPriority">Very Urgent</label>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-between mt-3 gap-2">
                                    <input class="btn btn-primary w-100" type="submit" value="Apply Filter">
                                    <button id="resetFilters" class="btn btn-red d-flex align-items-center justify-content-center" style="width: 49.35px; height: 36px;" title="Reset Filter">
                                        <i class="fa-solid fa-trash-can" style="font-size: 16px;"></i>
                                    </button>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="my-3 px-3 py-2 bg-white rounded shadow-sm">
                    <div class="table-responsive table-wrapper d-flex">
                        <table class="table mb-1 with-action">
                            <thead>
                                <tr>
                                    <th>Tracking Number</th>
                                    <th>
                                        Status 
                                        <a href="?status=active&sort_by=status&order=asc"><i class='bx bxs-sort-alt'></i></a>
                                    </th>
                                    <th>Sender</th>
                                    <th>Particulars</th>
                                    <th>
                                        Type 
                                        <a href="?status=active&sort_by=document_type&order=asc"><i class='bx bxs-sort-alt'></i></a>
                                    </th>
                                    <th>Remarks</th>
                                    <th>Updated</th>
                                    <th>
                                        Due In 
                                        <a href="?status=active&sort_by=deadline&order=asc"><i class='bx bxs-sort-alt'></i></a>
                                    </th>
                                    <th>
                                        Priority 
                                        <a href="?status=active&sort_by=priority_level&order=asc"><i class='bx bxs-sort-alt'></i></a>
                                    </th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            
                            <tbody id="docTableBody">
                            </tbody>
                        </table>           
                    </div>
        
                    <p class="d-block text-start my-0 p-2 fw-semibold" id="record-count" style="color: #000000; opacity: 0.6;">
                        Showing total of <span id="recordCount"></span> record(s)
                    </p>
                </div>
            </main>
        </div>
    </div>

    <!-- View Document Modal -->
    <div class="modal fade" id="viewDocumentModal" tabindex="-1" aria-labelledby="viewDocumentModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content rounded-4 px-3 py-2 bg-white shadow">
                <div class="modal-header pb-0 border-bottom-0">
                    <h5 class="modal-title" id="viewDocumentModalLabel">
                        <i class="fa-solid fa-circle-info" style="color: #2E72EA;"></i>&nbsp; Document Details
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div id="loadingSpinner" class="text-center my-5" style="display: none;">
                        <div class="spinner-border" role="status" style="width: 3rem; height: 3rem;">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>

                    <div class="d-flex flex-wrap" id="documentDetailsContent" style="display: none;">
                        <p class="me-4 mb-2"><strong>Tracking Number:</strong> <span id="documentTrackingNumber"></span></p>
                        <p class="me-4 mb-2"><strong>Sender:</strong> <span id="documentSender"></span></p>
                        <p class="me-4 mb-2"><strong>Status:</strong> <span id="documentStatus"></span></p>
                        <p class="me-4 mb-2"><strong>Type:</strong> <span id="documentType"></span></p>
                        <p class="me-4 mb-2"><strong>Priority:</strong> <span id="documentPriority"></span></p>
                        <p class="me-4 mb-2"><strong>Subject/Particulars:</strong> <span id="documentSubject"></span></p>
                        
                        <div class="w-100 mb-2">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#generateQRCode" id="documentTitleLink" style="font-size: 15px !important;">Document QR Code</a>
                        </div>
                    </div>

                    <div class="table-responsive d-flex" id="activitiesContent" style="display: none;">
                        <table class="table mb-1">
                            <thead>
                                <tr>
                                    <th>Timestamp</th>
                                    <th>User ID</th>
                                    <th>Name</th>
                                    <th>Office</th>
                                    <th>Role/Position</th>
                                    <th>Remarks</th>
                                    <th>Attachment</th>
                                    <th class="text-start">Activity</th>
                                </tr>
                            </thead>
                            
                            <tbody id="activitiesTableBody">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer p-3 pt-0 border-top-0">
                    <button type="button" onclick="openDocumentReportPDF()" class="m-0 mb-2 btn btn-primary" id="generateDocumentReportBtn">Generate Document Report</button>
                </div>
            </div>
        </div>
    </div>

    <!-- View Attachment Modal -->
    <div class="modal fade" id="viewAttachmentModal" tabindex="-1" aria-labelledby="viewAttachmentModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content rounded-4 px-3 py-2 bg-white shadow">
                <div class="modal-header pb-0 border-bottom-0">
                    <h5 class="modal-title" id="viewAttachmentModalLabel">
                        <i class="fa-solid fa-file" style="color: #2E72EA;"></i>&nbsp; <span id="attachmentName">Attachment Name Here</span>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Viewer -->
                    <div class="pdf-container" style="height: 68vh;">
                        <iframe id="pdfFrame" src="https://research.google.com/pubs/archive/44678.pdf" 
                            width="100%" height="100%">
                        </iframe>
                    </div>
                </div>
                <div class="modal-footer p-3 pt-0 mt-2 border-top-0">
                    <button type="button" class="m-0 mb-2 btn btn-primary" id="confirmDownload">Download Attachment</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Document QR Code Modal -->
    <div class="modal fade" id="generateQRCode" tabindex="-1" aria-labelledby="generateQRCodeLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 400px;">
            <div class="modal-content rounded-4 px-3 py-2 bg-white shadow">
                <div class="modal-header pb-0 border-bottom-0 d-flex justify-content-between align-items-center">
                    <button type="button" class="btn-close" style="visibility: hidden;"></button>
                    <h5 class="modal-title" id="generateQRCodeLabel">Document QR Code</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <p class="mb-2">Scan the code to quickly access the document details or perform a specified action.</p>
                    <p class="fw-bold my-0" id="routesInitials"></p>
                    <p class="fw-regular my-0" id="routesTitles" style="display: none;"></p>
                    <img id='qrCodeImage' src="" alt="Generating QR Code..." style="height: 218px; width: auto;">
                    <p class="fw-bold my-0" id="qrModalTrackingNo"></p>
                    <p class="fw-regular my-0" style="display: none;">(Document Tracking Number)</p>
                </div>
                <div class="modal-footer p-3 pt-0 border-top-0 d-flex flex-column align-items-center">
                    <button type="button" class="m-0 mb-2 btn btn-primary w-100" id="saveQR">Save a Copy</button>
                </div>                
            </div>
        </div>
    </div>

    <!-- Endorse Document Modal -->
    <div class="modal fade" id="endorseDocumentModal" tabindex="-1" aria-labelledby="endorseDocumentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 px-3 py-2 bg-white shadow">
                <div class="modal-header pb-0 border-bottom-0">
                    <h5 class="modal-title" id="endorseDocumentModalLabel">Endorse Document</h5>
                    <button type="button" class="btn-close" id="endorseModalCloseBtn" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to endorse this document for resolution? Once endorsed, the document will be ready for either resolution or further routing.</p>
                </div>
                <div class="modal-footer p-3 pt-0 border-top-0">
                    <button type="button" id="cancelEndorseBtn" class="m-0 my-2 btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="m-0 my-2 btn btn-primary" data-user="ACT" id="confirmEndorse">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Remarks and Attachment Modal -->
    <div class="modal fade" id="addRemarksAttachmentModal" tabindex="-1" aria-labelledby="addRemarksAttachmentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 px-3 py-2 bg-white shadow">
                <div class="modal-header pb-0 border-bottom-0">
                    <h5 class="modal-title" id="addRemarksAttachmentModalLabel">Add Remarks & Attachment</h5>
                    <button type="button" id="addRemarksCloseBtn" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="actionMessage" class="mb-3"></p>
                    <form method="post" action="" id="remarksForm" enctype="multipart/form-data">
                        {% csrf_token %}
    
                        <div class="form-group mb-3">
                            <label for="remarksTextarea" class="form-label">Remarks</label>
                            <textarea class="form-control" name="remarks" id="remarks" rows="3" placeholder="Add any additional remarks here..."></textarea>
                        </div>
                    
                        <!-- Attachment Options -->
                        <div class="mb-1">
                            <label class="form-label mb-1">Upload Attachment</label>
                            <div class="d-flex">
                                <div class="form-check ms-2 me-3">
                                    <input class="form-check-input" type="radio" name="attachmentOption" id="directUpload" checked>
                                    <label class="form-check-label" for="directUpload">Direct Upload</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="attachmentOption" id="scanAttachmentQRCode">
                                    <label class="form-check-label" for="scanAttachmentQRCode">Upload through Phone</label>
                                </div>
                            </div>
                        </div>

                        <div id="option1">
                            <input class="form-control form-file" type="file" id="attachmentFile" accept=".pdf" name="attachment">
                        </div>
        
                        <div id="option2" class="d-none" >

                            <div id="qrCodeSpinnerContainer" style="display: flex; justify-content: center; margin: 20px 0;">
                                <div class="spinner-border text-primary" id="qrCodeSpinner"></div>
                            </div>

                            <div id="qrCodeUploadContainer" style="display: none; justify-content: center;">
                                <div class="qr-code-container">
                                    <img src="" id="uploadFileQr" alt="QR Code">
                                    <!-- Corner borders -->
                                    <div class="corner top-left"></div>
                                    <div class="corner top-right"></div>
                                    <div class="corner bottom-left"></div>
                                    <div class="corner bottom-right"></div>
                                </div>
                            </div>
                            <p style="font-size: 12px; opacity: 90%; text-align: center; padding: 0 50px;" >Scan this code with your phone to upload an attachment.</p>
                            <p style="text-align: center; margin-top: 5px;">
                                Uploaded File: <span id="filenamePhoneUpload">No file uploaded</span>   
                                <span>
                                    <i class="fa-solid fa-trash delete-phone-upload-btn" id="deletePhoneUploadFile" style="display:none; color:rgb(220, 11, 11);"></i>
                                </span>
                            </p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer p-3 pt-0 border-top-0">
                    <button type="button" class="m-0 mt-1 mb-2 btn btn-primary w-100" id="saveRemarks">Save Changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Scan QR Code Modal -->
    <div class="modal fade" id="scanQRCodeModal" tabindex="-1" aria-labelledby="scanQRCodeModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 400px;">
            <div class="modal-content rounded-4 px-3 py-2 bg-white shadow">
                <div class="modal-header pb-0 border-bottom-0 d-flex justify-content-between align-items-center" style="font-size: 13.5px;">
                    <button type="button" class="btn-close" style="visibility: hidden;"></button>
                    <h5 class="modal-title" id="scanQRCodeModalLabel">Scan QR Code</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="pt-2 modal-body text-center d-flex justify-content-center align-items-center flex-column">
                    
                    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

                    <dotlottie-player 
                        src="{% static 'gif/qr-scanning.json' %}" 
                        background="transparent" 
                        speed="1" 
                        style="width: 230px; height: 230px;" 
                        loop autoplay>
                    </dotlottie-player>

                    <p class="my-2">You may now scan the QR code. For optimal scanning, keep the code in focus and avoid any obstructions.</p>
                </div>
                <div class="modal-footer p-0 border-top-0 d-flex flex-column align-items-center">
                    <input type="text" id="scannedQrURL" autocomplete="off" style="opacity: 0; position: absolute; pointer-events: none;">
                </div>                
            </div>
        </div>
    </div>

    <!-- Profile Modal -->
    <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 px-0 pb-2 bg-white shadow">
                <div class="title-cover modal-header pb-1 pt-4 border-bottom-0" style="padding-left: 32px; padding-right: 32px;">
                    <h5 class="modal-title" id="departmentReportModalLabel">Your Profile</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="cover modal-body py-3 pb-0" style="padding-left: 32px; padding-right: 32px;">
                    <div class="text-center">
                        <img src="{% if user_profile.profile_picture %}/media/{{ user_profile.profile_picture }}{% else %}{% static 'images/default_profile_picture.png' %}{% endif %}" 
                             id="profilePicture" 
                             class="profile-modal-pic">
                    </div>
                </div>                

                <div class="modal-body pt-1" style="padding-left: 32px; padding-right: 32px;">
                    <div class="mb-3">
                        <h4 id="fullName" class="text-center my-1 p-0">{{ user_profile.firstname }} {% if user_profile.middlename %}{{user_profile.middlename|slice:":1"}}.{%endif%} {{user_profile.lastname}}</h4>
                        <p id="role" class="text-center p-0">{{ user_profile.role }}</p>
                    </div>

                    <div class="row mb-3 g-3">
                        <div class="col text-start">
                            <p id="userIDLabel" class="d-flex align-items-center gap-2">
                                <i class="fa-solid fa-circle-user profile-icon"></i><strong>User ID</strong>
                            </p>
                        </div>
                        <div class="col text-end">
                            <p id="userIDValue">{{ user_profile.user_id }}</p>
                        </div>
                    </div>

                    <div class="row mb-3 g-3">
                        <div class="col text-start">
                            <p id="emailAddress" class="d-flex align-items-center gap-2">
                                <i class="fa-solid fa-envelope profile-icon"></i><strong>Email Address</strong>
                            </p>
                        </div>
                        <div class="col text-end">
                            <p id="employeeEmail">{{ user_profile.email }}</p>
                        </div>
                    </div>
                
                    <div class="row mb-3 g-3">
                        <div class="col text-start">
                            <p id="contactNumber" class="d-flex align-items-center gap-2">
                                <i class="fa-solid fa-phone profile-icon"></i><strong>Contact Number</strong>
                            </p>
                        </div>
                        <div class="col text-end">
                            <p id="employeeContact">{{ user_profile.contact_no }}</p>
                        </div>
                    </div>

                    <button type="button" class="w-100 mt-1 mb-2 btn btn-primary" data-bs-toggle="modal" data-bs-target="#editProfileModal">Edit Profile</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Profile Modal -->
    <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 px-3 py-2 bg-white shadow">
                <div class="modal-header pb-0 border-bottom-0">
                    <h5 class="modal-title" id="departmentReportModalLabel">Edit Profile Information</h5>
                    <button type="button" id="clostEditProfileModalBtn" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form id="editProfileForm" method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="d-flex align-items-center justify-content-center mb-3">
                            <div class="me-3">
                                <img src="{% if user_profile.profile_picture %}/media/{{ user_profile.profile_picture }}{% else %}{% static 'images/default_profile_picture.png' %}{% endif %}" 
                                    alt="Profile Picture" id="editProfilePicture" class="profile-modal-pic" style="width: 115px; height: 115px;">
                            </div>
                            <div>
                                <div class="mb-2">
                                    <input type="file" name="new_profile_photo" id="changePhotoInput" style="display:none;" accept="image/*" value="{% if user_profile.profile_picture %}/media/{{ user_profile.profile_picture }}{% endif %}" onchange="previewImage(event)">
                                    <button type="button" class="btn btn-primary me-2" onclick="document.getElementById('changePhotoInput').click()">Change Photo</button>
                                    <button type="button" class="btn btn-secondary" id="deletePhotoButton" onclick="deletePhoto()">Delete Photo</button>
                                </div>
                                <p class="mt-2 text-muted"><small>Upload PNG or JPG. (max 300 x 300px)</small></p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="editFirstName" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="editFirstName" name="new_firstname" value="{{ user_profile.firstname }}" maxlength="40" required>
                        </div>
                        <div class="mb-3">
                            <label for="editMiddleName" class="form-label">Middle Name (optional)</label>
                            <input type="text" class="form-control" id="editMiddleName" name="new_middlename" value="{{ user_profile.middlename }}" maxlength="40">
                        </div>
                        <div class="mb-3">
                            <label for="editLastName" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="editLastName" name="new_lastname" value="{{ user_profile.lastname }}" maxlength="40" required>
                        </div>
                        <div class="mb-3">
                            <label for="editContactNumber" class="form-label">Contact Number</label>
                            <input type="text" class="form-control" id="editContactNumber" name="new_contact_no" value="{{ user_profile.contact_no }}" maxlength="11" required>
                        </div>
                        <input type="hidden" name="temp_delete_profile" id="tempDeleteProfile" value="no">
                    </form>
                    <button type="button" id="saveEditProfileBtn" class="w-100 mt-1 mb-2 btn btn-primary">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
        
    {% if scanned_status == 'authorized' %}

        {% include "partials/tracking-document-details.html" %}
        {% include "partials/tracking-qr-code-modal.html" %}
        <script src="{% static 'js/track-qr-code.js' %}"></script>
        <script src="{% static 'js/bind-view-attachment.js' %}"></script>

        <script>
            function refreshURL() {
                setTimeout(function() {
                    window.location.href = "/action-officer-records/-1/?status=active";
                }, 500);
            }

            document.addEventListener('DOMContentLoaded', function () {
                
                const trackDocumentModal = new bootstrap.Modal(document.getElementById('trackDocumentModal'),{
                        backdrop: 'static',
                        keyboard: false
                    });

                const trackDocumentModalCloseBtn = document.getElementById('trackDocumentModalCloseBtn');
                trackDocumentModal.show();
                
                scanBindViewAttachment();

                trackDocumentModalCloseBtn.addEventListener('click', function() {
                    refreshURL();
                });

                document.getElementById('trackingGenerateQRCode').addEventListener('hide.bs.modal', function () {
                    trackDocumentModal.show();
                });

                document.getElementById('viewAttachmentModal').addEventListener('hide.bs.modal', function () {
                    trackDocumentModal.show();
                });

                document.getElementById('cancelEndorseBtn').addEventListener('click', function() {
                    trackDocumentModal.show();
                });

                document.getElementById('addRemarksAttachmentModal').addEventListener('hide.bs.modal', function () {
                    refreshURL();
                });
            });

        </script>

    {% elif scanned_status == 'unauthorized' %}
        <!-- Modal for Unauthorized Document -->
        <div class="modal fade" id="unauthorizedDocModal" tabindex="-1" aria-labelledby="unauthorizedDocLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content rounded-4 shadow">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="unauthorizedDocModalLabel" style="color: red;">Failed to Scan Document.</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="fs-6">You are unauthorized to update/track this document with Tracking Number: <strong><span id="scannedTrackingNo">{{ document_details.tracking_no }}</span></strong>.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function refreshURL() {
                setTimeout(function() {
                    window.location.href = "/action-officer-records/-1/?status=active";
                }, 500);
            }

            document.addEventListener('DOMContentLoaded', function () {

                const unauthorizedDocModal = new bootstrap.Modal(document.getElementById('unauthorizedDocModal'));
                unauthorizedDocModal.show();

                document.getElementById('unauthorizedDocModal').addEventListener('hide.bs.modal', function() {
                    refreshURL();
                });

            });
        </script>

    {% endif %}

    {% if scanned_status == 'not-found' %}
        
        <!-- Modal for Documet Not Found -->
        <div class="modal fade" id="documentNotFoundDocModal" tabindex="-1" aria-labelledby="documentNotFoundDocDocLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content rounded-4 shadow">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="documentNotFoundDocLabel" style="color: red;">Document Not Found.</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="fs-6">The document you're trying to access does not exist or may have been deleted.</span></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            
            function refreshURL() {
                setTimeout(function() {
                    window.location.href = "/action-officer-records/-1/?status=active";
                }, 500);
            }

            document.addEventListener('DOMContentLoaded', function () {

                const documentNotFoundDocModal = new bootstrap.Modal(document.getElementById('documentNotFoundDocModal'));
                documentNotFoundDocModal.show();

                document.getElementById('documentNotFoundDocModal').addEventListener('hide.bs.modal', function() {
                    refreshURL();
                });

            });
        </script>
        
    {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/toggle-sidebar.js' %}"></script>
    <script src="{% static 'js/tabs-nav.js' %}"></script>  
    <script src="{% static 'js/clear-search.js' %}"></script> 
    <script src="{% static 'js/fetch-document.js' %}"></script>
    <script src="{% static 'js/qr-code.js' %}"></script>
    <script src="{% static 'js/update-document-status.js' %}"></script>
    <script src="{% static 'js/add-remarks.js' %}"></script>
    <script src="{% static 'js/generate-document-report.js' %}"></script>
    <script src="{% static 'js/filter-dropdown.js' %}"></script>
    <script src="{% static 'js/profile.js' %}"></script>
    {% include "assets/profile-reset-inputs.html" %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Initialize all modals
            const documentModal = new bootstrap.Modal(document.getElementById('viewDocumentModal'));
            const qrCodeModal = new bootstrap.Modal(document.getElementById('generateQRCode'));
            const endorseModal = new bootstrap.Modal(document.getElementById('endorseDocumentModal'),{
                backdrop: 'static',
                keyboard: false
            });
            const remarksModal = new bootstrap.Modal(document.getElementById('addRemarksAttachmentModal'),{
                backdrop: 'static',
                keyboard: false
            });
            const actionMessage = document.getElementById('actionMessage');

            let isQRCodeSelected = false;

            // Show QR Code Modal and hide Document Details Modal
            document.getElementById('documentTitleLink').addEventListener('click', function (e) {
                e.preventDefault();
                documentModal.hide();
                qrCodeModal.show();
            });

            // When QR Code Modal is closed, show Document Details Modal again
            document.getElementById('generateQRCode').addEventListener('hide.bs.modal', function () {
                documentModal.show();
            });

            // Handle Confirm Endorse Action
            document.getElementById('confirmEndorse').addEventListener('click', function () {
                endorseModal.hide();
                actionMessage.textContent = "The document has been successfully endorsed. Add any additional remarks and upload necessary attachment related to this action below, or leave as blank if not applicable.";
                remarksModal.show();
            });

            // Handle radio button changes to show/hide attachment options
            document.querySelectorAll('input[name="attachmentOption"]').forEach((radio) => {
                radio.addEventListener('change', function () {
                    if (this.id === 'directUpload') {
                        document.getElementById('option1').classList.remove('d-none');
                        document.getElementById('option2').classList.add('d-none');
                        isQRCodeSelected = false; 
                    } else if (this.id === 'scanAttachmentQRCode') {
                        document.getElementById('option1').classList.add('d-none');
                        document.getElementById('option2').classList.remove('d-none');
                        isQRCodeSelected = true;
                    }
                });
            });

            document.getElementById('saveRemarks').addEventListener('click', function() {
                clearRemarksAttachmentModal();
                remarksModal.hide();
            });
            
        });
    </script>
</body>
</html>
