{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/logo-icon.png" type="image/png">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Dashboard</title>    
</head>

<body>
    <div class="container">
        {% include "assets/act-sidebar.html" %}

        <div class="right-section">
            <header class="header">
                <button class="toggle-sidebar" id="toggleSidebar"><i class="fa-solid fa-bars"></i></button>
                <div class="header-right">
                    <button class="toggle-notification" id="notification" title="Notifications"><i class="fa-solid fa-bell"></i></button>
                    <!---->
                    <div class="dropdown">
                        <button class="profile m-0" type="button" id="profileDropdown" data-bs-toggle="dropdown">
                            <div class="profile-pic placeholder">
                                <img src="{{ user_data.profile_picture }}" 
                                     alt="{{ user_data.full_name }}'s Profile Picture" 
                                     id="profilePicture" 
                                     class="profile-modal-pic" 
                                     style="width: 50px; height: 50px; object-fit: cover; border-radius: 50%;">
                            </div>                                                                                
                            <div class="profile-info">
                                <span class="profile-name">{{ user_data.full_name }}</span>
                                <span class="profile-role">{{ user_data.role }} (Action Officer)</span>
                            </div>
                        </button>
                        <ul class="drop-profile dropdown-menu" aria-labelledby="profileDropdown">
                            <li>
                                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#profileModal">
                                    <i class='bx bx-user-circle drop-icon'></i>
                                    <span class="drop-name">Profile</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#settingsModal">
                                    <i class='bx bx-cog drop-icon'></i> 
                                    <span class="drop-name">Settings</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'user_logout' %}">
                                    <i class='bx bx-log-out drop-icon'></i> 
                                    <span class="drop-name">Log Out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!---->
                </div>
            </header>
            
            <main class="main-content">
                <div class="title-container d-flex justify-content-between align-items-center">
                    <h3 class="fw-semibold m-0">Dashboard</h3>
                    <div class="m-0" id="datetime-container">
                        <span id="day"></span> | 
                        <span id="date"></span> | 
                        <span id="time"></span>
                    </div>
                </div>

                <!-- 1st Row - Total Documents and Pending Account Approval -->
                <div class="row py-2">
                    <!-- 1st Column | Total Records -->
                    <div class="col-5">
                        <div class="rounded-2 p-3 my-3" style="background-color: #007bff; color:white; height: auto;">
                            <p class="fs-4 p-0 m-0 fw-bold d-flex align-items-center"><i class='bx bxs-wink-smile'></i>&nbsp;Welcome, Action Officer!</p>
                            <p class="p-0 m-0">See latest updates here</p>
                            <div class="py-2 w-25">
                                <select class="form-select" id="inputGroupSelect" style="font-size: 12px !important; background-color: #007bff; color: white;">
                                    <option selected>Today</option>
                                    <option value="1">This Month</option>
                                    <option value="2">This Year</option>
                                </select>
                            </div>
                        </div>

                        <div class="container d-block rounded-2 p-3 my-3" style="background-color: white; height: auto;">
                            <div class="row">
                                <div class="col-7 d-flex align-items-center">
                                    <h4><span class="fw-bolder my-3 px-2 rounded-2" style="background-color: #007bff; color:white;">95</span>&nbsp;Total Records</h4>
                                </div>
                                <div class="col-5 p-2 d-flex justify-content-end">
                                    <select class="form-select w-75" id="inputGroupSelect" style="font-size: 12px !important;">
                                        <option selected>Very Urgent</option>
                                        <option value="1">Urgent</option>
                                        <option value="2">Normal</option>
                                        <option value="3">For Pref. Action</option>
                                    </select>
                                </div> 
                            </div>
                                    
                            <div class="chart-container my-2">
                                <!-- Bar 1 -->
                                <div class="bar">
                                <div class="percent-label">14</div>
                                <div class="bar-shape" style="height: 100px;"></div>
                                <div class="office-label">Completed</div>
                                </div>
                                <!-- Bar 2 -->
                                <div class="bar selected">
                                <div class="percent-label">28</div>
                                <div class="bar-shape" style="height: 200px;"></div>
                                <div class="office-label">Unacted</div>
                                </div>
                                <!-- Bar 3 -->
                                <div class="bar">
                                <div class="percent-label">22</div>
                                <div class="bar-shape" style="height: 150px;"></div>
                                <div class="office-label">For Receive</div>
                                </div>
                            </div>
                        </div>

                        <div class="rounded-2 p-3 my-3" style="background-color: white; height:300px;">
                            <h4 class="mb-0 fw-bold d-flex align-items-center">
                                <i class='bx bxs-pie-chart-alt-2' style="color: #007bff;"></i>&nbsp;Employee Performance
                            </h4>
                            <div class="canvas-container my-2 d-flex align-items-center">
                                <canvas id="unactedDocumentsChart" width="200" height="200"></canvas>
                            </div>
                            <p class="text-center fw-bold text-success">Congratulations, you have a good performance!</p>
                            <!-- <p class="text-center fw-bold text-warning">Your performance is currently going slow.</p> -->
                            <!-- <p class="text-center fw-bold text-danger">You need to address your current performance</p> -->
                        </div>
                        
                        


                    </div>
    
                    <div class="col-7">
                        <!-- 2nd Column | Announcements -->
                        <div class="rounded-2 p-3 my-3" style="background-color: white; height: auto;">
                            <h4 class="mb-0 fw-bold d-flex align-items-center"><i class='bx bxs-megaphone' style="color: #007bff;"></i>&nbsp;Latest Announcements</h4>

                            <!-- Announcements Container -->
                            <div class="container d-block px-2 pt-3" style="max-height: 250px; overflow-y: auto;">
                                {% for announcement in announcements %}
                                <div class="d-flex justify-content-between align-items-center border border-primary rounded-2 my-2 p-3" style="background-color: #F5F7F8; border-color: #007bff; border-radius: 10px;" data-id="{{ announcement.id }}">
                                    <div>
                                        <h5 class="mb-1 fw-bold title" style="color: #5BC0EB;">{{ announcement.title }}</h5>
                                        <p class="mb-0 description">{{ announcement.description }}</p>
                                        <!--<p class="mb-0 text-muted" style="font-size: 0.9em;">
                                            <i class='bx bx-calendar' style="color: #007bff;"></i>
                                            <span class="dateCreated">Created on {{ announcement.created_at|date:"M d, Y" }}</span>
                                        </p>-->
                                        {% if announcement.end_date %}
                                        <p class="mb-0 text-muted" style="font-size: 0.9em;">
                                            <!--<i class='bx bx-calendar-exclamation' style="color: #ff0000;"></i>-->
                                            <!--<span class="dateEnd">Ends on {{ announcement.end_date|date:"M d, Y" }}</span>-->
                                        </p>
                                        {% endif %}
                                    </div>
                                    <div class="d-flex align-items-center">
                                        {% if announcement.attachment %}
                                        <button type="button" class="preview btn btn-sm btn-blue me-2" onclick="viewFile('{{ announcement.attachment.name }}')" title="View File">
                                            <i class="fa-solid fa-eye"></i>
                                        </button>
                                        {% endif %}
                                    </div>
                                </div>
                                {% empty %}
                                <p class="text-muted">No announcements available at this time.</p>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="row px-3 my-3 d-flex justify-content-center">
                            <div class="col-4 ps-0 mt-0 rounded-2">
                                <div class="clickable-box rounded-2 p-3" onclick="window.location.href='{% url 'action_officer_records' '-1' %}?status=active'">
                                    <h5 class="text-center mb-0"><i class='bx bxs-file-find'></i>&nbsp;View<br>All Records</h5>
                                </div>
                            </div>

                            <div class="col-4 mt-0 rounded-2">
                                <div class="clickable-box rounded-2 p-3" onclick="window.location.href='{% url 'action_officer_unacted_records' %}?status=active'">
                                    <h5 class="text-center mb-0"><i class='bx bxs-message-error'></i>&nbsp;Unacted<br>Documents</h5>
                                </div>                                                            
                            </div>

                            <div class="col-4 pe-0 mt-0 rounded-2">
                                <div class="clickable-box rounded-2 p-3" onclick="window.location.href='{% url 'action_officer_activity_logs' 'recent' %}?status=active'">
                                    <h5 class="text-center mb-0"><i class='bx bxs-timer'></i>&nbsp;Recent<br>Activities</h5>
                                </div>
                            </div>

                            <!-- [ANALYTICS] Line Graph -->
                            <div class="container d-block rounded-2 p-3 my-3" style="background-color: white; height: auto;">
                                <div class="row"><h4 class="mb-0 fw-bold d-flex align-items-center"><i class='bx bx-stats' style="color: #007bff;"></i>&nbsp;Document Status</h4></div>
                                <div class="d-flex align-items-center justify-content-center py-2">
                                    <canvas id="multiAreaChart" height="auto"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <!-- Profile Modal -->
    <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 px-0 pb-2 bg-white shadow">
                <div class="title-cover modal-header pb-1 pt-4 border-bottom-0" style="padding-left: 32px; padding-right: 32px;">
                    <h5 class="modal-title" id="departmentReportModalLabel">Your Profile</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="cover modal-body py-3 pb-0" style="padding-left: 32px; padding-right: 32px;">
                    <div class="text-center">
                        <img src="{{ user_data.profile_picture }}" 
                             alt="{{ user_data.full_name }}'s Profile Picture" 
                             id="profilePicture" 
                             class="profile-modal-pic">
                    </div>
                </div>                

                <div class="modal-body pt-1" style="padding-left: 32px; padding-right: 32px;">
                    <div class="mb-3">
                        <h4 id="fullName" class="text-center my-1 p-0">{{ user_data.full_name }}</h4>
                        <p id="role" class="text-center p-0">{{ user_data.role }}</p>
                    </div>

                    <div class="row mb-3 g-3">
                        <div class="col text-start">
                            <p id="userIDLabel" class="d-flex align-items-center gap-2">
                                <i class="fa-solid fa-circle-user profile-icon"></i><strong>User ID</strong>
                            </p>
                        </div>
                        <div class="col text-end">
                            <p id="userIDValue">{{ user_data.user_id }}</p>
                        </div>
                    </div>

                    <div class="row mb-3 g-3">
                        <div class="col text-start">
                            <p id="emailAddress" class="d-flex align-items-center gap-2">
                                <i class="fa-solid fa-envelope profile-icon"></i><strong>Email Address</strong>
                            </p>
                        </div>
                        <div class="col text-end">
                            <p id="employeeEmail">{{ user_data.email }}</p>
                        </div>
                    </div>
                
                    <div class="row mb-3 g-3">
                        <div class="col text-start">
                            <p id="contactNumber" class="d-flex align-items-center gap-2">
                                <i class="fa-solid fa-phone profile-icon"></i><strong>Contact Number</strong>
                            </p>
                        </div>
                        <div class="col text-end">
                            <p id="employeeContact">{{ user_data.contact_no }}</p>
                        </div>
                    </div>

                    <button type="button" class="w-100 mt-1 mb-2 btn btn-primary" data-bs-toggle="modal" data-bs-target="#editProfileModal">Edit Profile</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Profile Modal -->
    <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 px-3 py-2 bg-white shadow">
                <div class="modal-header pb-0 border-bottom-0">
                    <h5 class="modal-title" id="departmentReportModalLabel">Edit Profile Information</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="d-flex align-items-center justify-content-center mb-3">
                        <div class="me-3">
                            <img src="{{ user_data.profile_picture }}" 
                                alt="Profile Picture" id="editProfilePicture" class="profile-modal-pic" style="width: 115px; height: 115px;">
                        </div>
                        <div>
                            <div class="mb-2">
                                <input type="file" id="changePhotoInput" style="display:none;" accept="image/*">
                                <button type="button" class="btn btn-primary me-2" onclick="document.getElementById('changePhotoInput').click()">Change Photo</button>
                                <button type="button" class="btn btn-secondary" id="deletePhotoButton">Delete Photo</button>
                            </div>
                            <p class="mt-2 text-muted"><small>Upload PNG or JPG. (max 300 x 300px)</small></p>
                        </div>
                    </div>

                    <form id="editProfileForm" method="post" action="{% url 'edit_profile' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="editFirstName" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="editFirstName" name="firstname" value="{{ user_data.first_name }}" required>
                        </div>

                        <div class="mb-3">
                            <label for="editMiddleName" class="form-label">Middle Name (optional)</label>
                            <input type="text" class="form-control" id="editMiddleName" name="middlename" value="{{ user_data.middle_name }}" >
                        </div>

                        <div class="mb-3">
                            <label for="editLastName" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="editLastName" name="lastname" value="{{ user_data.last_name }}" required>
                        </div>
                        
                        <div class="mb-3">
                            <label for="editEmailAddress" class="form-label">Email Address</label>
                            <input type="email" class="form-control" id="editEmailAddress" name="email" value="{{ user_data.email }}">
                        </div>
                        
                        <div class="mb-3">
                            <label for="editContactNumber" class="form-label">Contact Number</label>
                            <input type="text" class="form-control" id="editContactNumber" name="contact_no" value="{{ user_data.contact_no }}">
                        </div>

                        <input type="file" id="profilePictureInput" name="profile_picture" style="display:none;">
                        <button type="submit" class="w-100 mt-1 mb-2 btn btn-primary">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Settings Modal -->
    <div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 px-3 py-2 bg-white shadow">
                <div class="modal-header pb-0 border-bottom-0">
                    <h5 class="modal-title" id="settingsModalLabel">Account Settings</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body mt-1 pt-2">
                    <div class="mb-3">
                        <label for="password" class="form-label">Account Password</label>
                        <p class="mb-2">If you wish to change your password, please click the button below.</p>
                        <button type="button" class="btn btn-secondary w-100" data-bs-toggle="modal" data-bs-target="#changePasswordModal" style="font-size: 14px;" >Set New Password</button>
                    </div>

                    <div class="mb-2">
                        <label for="receiveEmails" class="form-label">Receive Emails</label>
                        <div class="row">
                            <div class="col">
                                <p class="mb-2">Choose whether to receive updates and notifications via email.</p>
                            </div>
                            <div class="col-auto">
                                <div class="form-check form-switch mt-2">
                                    <input class="form-check-input" type="checkbox" id="receiveEmails" role="switch" style="transform: scale(1.25);">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mb-1">
                        <label for="twoFactorAuth" class="form-label">Two-Factor Authentication</label>
                        <div class="row">
                            <div class="col">
                                <p class="mb-2">Choose whether to enable two-factor authentication for added security.</p>
                            </div>
                            <div class="col-auto">
                                <div class="form-check form-switch mt-2">
                                    <input class="form-check-input" type="checkbox" id="twoFactorAuth" role="switch" style="transform: scale(1.25);">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Attachment Modal -->
    <div class="modal fade" id="attachmentModal" tabindex="-1" aria-labelledby="attachmentModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="attachmentModalLabel">View Attachment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- The file will be displayed here -->
                    <iframe id="attachmentViewer" src="" frameborder="0" style="width: 100%; height: 500px;"></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- Change Password Modal -->
    <div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 px-3 py-2 bg-white shadow">
                <div class="modal-header pb-0 border-bottom-0">
                    <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="mb-3">Your password must contain at least 8 characters with a special character and an uppercase letter.</p>

                    <form>
                        <div class="mb-3">
                            <label for="currentPassword" class="form-label">Current Password</label>
                            <input type="password" name="current_password" class="form-control" id="password" placeholder="Enter Current Password" required>
                            <i class="fa-regular fa-eye toggle-pass" id="togglePassword"></i>
                        </div>
                        <div class="mb-3">
                            <label for="newPassword" class="form-label">New Password</label>
                            <input type="password" name="new_password" class="form-control" id="password2" placeholder="Enter New Password" required>
                            <i class="fa-regular fa-eye toggle-pass" id="togglePassword2"></i>
                        </div>
                        <div class="mb-3">
                            <label for="confirmNewPassword" class="form-label">Confirm New Password</label>
                            <input type="password" name="confirm_new_password" class="form-control" id="password3" placeholder="Confirm New Password" required>
                            <i class="fa-regular fa-eye toggle-pass" id="togglePassword3"></i>
                        </div>

						<button type="submit" class="w-100 mt-1 mb-2 btn btn-primary">Create New Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="{% static 'js/toggle-sidebar.js' %}"></script>
    <script src="{% static 'js/toggle-pass.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/update-profile.js' %}"></script>
    <script src="{% static 'js/update-profile.js' %}"></script>
    <script>
        function viewFile(fileName) {
            const fileUrl = `/attachments/${fileName}`;

            // Check if the file exists before displaying it
            fetch(fileUrl, { method: 'HEAD' })
                .then(response => {
                    if (response.ok) {
                        document.getElementById('attachmentViewer').src = fileUrl;
                        const attachmentModal = new bootstrap.Modal(document.getElementById('attachmentModal'));
                        attachmentModal.show();
                    } else {
                        console.error("File not found:", fileName);
                    }
                })
                .catch(error => {
                    console.error("Error loading file:", error);
                });
        }
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const params = new URLSearchParams(window.location.search);
            const status = params.get('status');
            if (status) {
                document.querySelector('#dashboard').classList.add(status);
            }
        });
    </script>
    <script>
        function updateTime() {
            const now = new Date();

            const dayOptions = { weekday: 'long' };
            const dateOptions = { year: 'numeric', month: 'short', day: 'numeric' };

            const day = now.toLocaleDateString('en-US', dayOptions);
            const date = now.toLocaleDateString('en-US', dateOptions);
            const time = now.toLocaleTimeString('en-US', { hour12: true });

            document.getElementById('day').textContent = day;
            document.getElementById('date').textContent = date;
            document.getElementById('time').textContent = time;
        }

        setInterval(updateTime, 1000);
        updateTime();
    </script>

    <!-- [ANALYTICS] Line Graph for Document Status -->
    <script>
        const ctx = document.getElementById('multiAreaChart').getContext('2d');
        const multiAreaChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['Last 3 Months', 'Last 2 Months', 'Last Month', 'Current Month'], // Time periods
                datasets: [
                {
                        label: 'Resolved',
                        data: [25, 10, 15, 50], // resolved document tot/unacted+delayed tot
                        borderColor: '#4DA8DA', // Line color
                        backgroundColor: 'rgba(77, 168, 218, 0.2)', // Fill color
                        tension: 0.4,
                        fill: true,
                        pointRadius: 0
                    },
                    {
                        label: 'Pending',
                        data: [3, 15, 8, 25], 
                        borderColor: '#4169E1',
                        backgroundColor: 'rgba(65, 105, 225, 0.2)',
                        tension: 0.4,
                        fill: true,
                        pointRadius: 0
                    },
                    {
                        label: 'Delayed',
                        data: [5, 20, 9, 26], 
                        borderColor: '#003366',
                        backgroundColor: 'rgba(0, 51, 102, 0.2)',
                        tension: 0.4,
                        fill: true,
                        pointRadius: 0
                    },
                    {
                        label: 'Unacted',
                        data: [1, 2, 4, 10], 
                        borderColor: '#008080',
                        backgroundColor: 'rgba(0, 128, 128, 0.2)',
                        tension: 0.4,
                        fill: true,
                        pointRadius: 0
                    }
                ]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    legend: {
                        display: true, // Show the legend
                        position: 'bottom'
                    }
                }
            }
        });
    </script>

    <!-- [ANALYTICS] Pie Chart JavaScript -->
    <script>
        var ctx1 = document.getElementById('unactedDocumentsChart').getContext('2d');
        var chart = new Chart(ctx1, {
            type: 'pie',
            data: {
                labels: ['Resolved', 'Pending', 'Delayed', 'Unacted'],
                datasets: [{
                    label: 'Document',
                    data: [10, 6, 4, 2], // Replace with actual data
                    backgroundColor: ['#4DA8DA', '#4169E1',  '#003366', '#008080']
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
            }
        });
    </script>
</body>
</html>
