{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/logo-icon.png" type="image/png">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/table-content.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
	<link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Action Officer Records</title>
</head>

<body>
    <div class="container">
        {% include "assets/aco-sidebar.html" %}

        <div class="right-section">
            <header class="header">
                <button class="toggle-sidebar" id="toggleSidebar"><i class="fa-solid fa-bars"></i></button>
                <div class="header-right">
                    <button class="toggle-notification" id="notification"><i class="fa-solid fa-bell"></i></button>
                    <button class="profile">
                        <div class="profile-pic placeholder"></div>
                        <div class="profile-info">
                            <span class="profile-name">John Doe</span>
                            <span class="profile-role">Action Officer</span>
                        </div>
                    </button>
                </div>
            </header>
            
            <main class="main-content">
                <div class="title-container d-flex justify-content-between align-items-center">
                    <h3 class="fw-semibold m-0">Records</h3>
                    <div class="d-flex justify-content-between align-items-center" style="gap: 12px;">
                        <div class="search-container">
                            <input type="text" id="searchInput" data-url="{% url 'action_officer_update_records_display' %}" class="form-search form-control shadow-sm" style="font-size: 14px !important;" placeholder="Search a document">
                            <i class="fa-solid fa-search search-icon"></i>  
                            <i class="fa-solid fa-xmark clear-icon" style="display: none;"></i>
                        </div>
                        <button type="button" class="btn btn-primary m-0 shadow-sm" style="font-size: 14px; max-height: 37.85; padding: 7.63px 11.2px;" data-bs-toggle="modal" data-bs-target="#scanQRCodeModal">
                            <i class="fa-solid fa-qrcode" style="font-size: 16px !important;"></i>&nbsp; Scan QR Code
                        </button>
                        <button type="button" class="btn btn-primary m-0 shadow-sm" style="max-height: 37.85; padding: 7.63px 11.2px;" data-bs-toggle="modal" data-bs-target="#selectEndorseModal">
                            Endorse
                        </button>
                    </div>
                </div>

                <div class="my-3 px-3 py-2 bg-white rounded shadow-sm">
                    <div class="table-responsive table-wrapper d-flex">
                        <table class="table mb-1">
                            <thead>
                                <tr>
                                    <th>Tracking Number</th>
                                    <th>
                                        Status 
                                        <a href="?status=active&sort_by=status&order=asc"><i class='bx bxs-sort-alt'></i></a>
                                    </th>
                                    <th>Sender</th>
                                    <th>Particulars</th>
                                    <th>
                                        Type 
                                        <a href="?status=active&sort_by=document_type&order=asc"><i class='bx bxs-sort-alt'></i></a>
                                    </th>
                                    <th>Remarks</th>
                                    <th>Updated</th>
                                    <th>
                                        Due In 
                                        <a href="?status=active&sort_by=deadline&order=asc"><i class='bx bxs-sort-alt'></i></a>
                                    </th>
                                    <th>
                                        Priority 
                                        <a href="?status=active&sort_by=priority_level&order=asc"><i class='bx bxs-sort-alt'></i></a>
                                    </th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            
                            <tbody id="docTableBody">
                            </tbody>
                        </table>           
                    </div>
        
                    <p class="d-block text-start my-0 p-2 fw-semibold" id="record-count" style="color: #000000; opacity: 0.6;">
                        Showing total of <span id="recordCount"></span> record(s)
                    </p>
                </div>
            </main>
        </div>
    </div>

    <!-- View Document Modal -->
    <div class="modal fade" id="viewDocumentModal" tabindex="-1" aria-labelledby="viewDocumentModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content rounded-4 px-3 py-2 bg-white shadow">
                <div class="modal-header pb-0 border-bottom-0">
                    <h5 class="modal-title" id="viewDocumentModalLabel">
                        <i class="fa-solid fa-circle-info" style="color: #2E72EA;"></i>&nbsp; Document Details
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div id="loadingSpinner" class="text-center my-5" style="display: none;">
                        <div class="spinner-border" role="status" style="width: 3rem; height: 3rem;">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>

                    <div class="d-flex flex-wrap" id="documentDetailsContent" style="display: none;">
                        <p class="me-4 mb-2"><strong>Tracking Number:</strong> <span id="documentTrackingNumber"></span></p>
                        <p class="me-4 mb-2"><strong>Sender:</strong> <span id="documentSender"></span></p>
                        <p class="me-4 mb-2"><strong>Status:</strong> <span id="documentStatus"></span></p>
                        <p class="me-4 mb-2"><strong>Type:</strong> <span id="documentType"></span></p>
                        <p class="me-4 mb-2"><strong>Priority:</strong> <span id="documentPriority"></span></p>
                        <p class="me-4 mb-2"><strong>Due In:</strong> <span id="documentDueIn"></span></p>
                        <p class="me-4 mb-2"><strong>Subject/Particulars:</strong> <span id="documentSubject"></span></p>
                        
                        <div class="w-100 mb-2">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#generateQRCode" id="documentTitleLink" style="font-size: 15px !important;">Document QR Code</a>
                        </div>
                    </div>

                    <div class="table-responsive d-flex" id="activitiesContent" style="display: none;">
                        <table class="table mb-1">
                            <thead>
                                <tr>
                                    <th>Timestamp</th>
                                    <th>User ID</th>
                                    <th>Name</th>
                                    <th>Department</th>
                                    <th>Role/Position</th>
                                    <th>Remarks</th>
                                    <th class="text-start">Activity</th>
                                </tr>
                            </thead>
                            
                            <tbody id="activitiesTableBody">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer p-3 pt-0 border-top-0">
                    <button type="button" class="m-0 mb-2 btn btn-primary" id="generateReport">Generate Document Report</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Document QR Code Modal -->
    <div class="modal fade" id="generateQRCode" tabindex="-1" aria-labelledby="generateQRCodeLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 400px;">
            <div class="modal-content rounded-4 px-3 py-2 bg-white shadow">
                <div class="modal-header pb-0 border-bottom-0 d-flex justify-content-between align-items-center" style="font-size: 13.5px;">
                    <button type="button" class="btn-close" style="visibility: hidden;"></button>
                    <h5 class="fw-bold mb-0 text-center flex-grow-1" id="confirmRecordCreationLabel">Document QR Code</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <p class="mb-2">Scan the code to quickly access the document details or perform a specified action.</p>
                    <p class="fw-bold my-0" id="routesInitials"></p>
                    <p class="fw-bold my-0" id="routesTitles" style="display: none;"></p>
                    <img id='qrCodeImage' src="" alt="Generating QR Code..." style="height: 218px; width: auto;">
                    <p class="fw-bold my-0" id="qrModalTrackingNo"></p>
                </div>
                <div class="modal-footer p-3 pt-0 border-top-0 d-flex flex-column align-items-center">
                    <button type="button" class="m-0 mb-2 btn btn-primary w-100" id="saveQR">Save a Copy</button>
                </div>                
            </div>
        </div>
    </div>

    <!-- Endorse Document Modal -->
    <div class="modal fade" id="endorseDocumentModal" tabindex="-1" aria-labelledby="endorseDocumentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 px-3 py-2 bg-white shadow">
                <div class="modal-header pb-0 border-bottom-0">
                    <h5 class="modal-title" id="endorseDocumentModalLabel">Endorse Document</h5>
                    <button type="button" class="btn-close" id="endorseModalCloseBtn" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to endorse this document for resolution? Once endorsed, the document will be ready for either resolution or further routing.</p>
                </div>
                <div class="modal-footer p-3 pt-0 border-top-0">
                    <button type="button" class="m-0 mb-2 btn btn-primary" data-user="ACT" id="confirmEndorse">Confirm</button>
                    <button type="button" class="m-0 mb-2 btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Remarks Modal -->
    <div class="modal fade" id="addRemarksModal" tabindex="-1" aria-labelledby="addRemarksModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 px-3 py-2 bg-white shadow">
                <div class="modal-header pb-0 border-bottom-0">
                    <h5 class="modal-title" id="addRemarksModalLabel">Add Remarks</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="actionMessage" class="mb-3"></p>
                    <div class="form-group">
                        <textarea class="form-control" id="remarks" rows="3" placeholder="Add any additional remarks here..."></textarea>
                    </div>
                </div>
                <div class="modal-footer p-3 pt-0 border-top-0">
                    <button type="button" class="m-0 mb-2 mt-1 btn btn-primary w-100" id="saveRemarks">Save Remarks</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Scan QR Code Modal -->
    <div class="modal fade" id="scanQRCodeModal" tabindex="-1" aria-labelledby="addRemarksModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 400px;">
            <div class="modal-content rounded-4 px-3 py-2 bg-white shadow">
                <div class="modal-header pb-0 border-bottom-0 d-flex justify-content-between align-items-center" style="font-size: 13.5px;">
                    <button type="button" class="btn-close" style="visibility: hidden;"></button>
                    <h5 class="fw-bold mb-0 text-center flex-grow-1" id="confirmRecordCreationLabel">Scan QR Code</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <p class="mb-2">You may now scan the QR code. For optimal scanning, keep the code in focus and avoid any obstructions.</p>
                </div>
                <div class="modal-footer p-3 pt-0 border-top-0 d-flex flex-column align-items-center">
                    
                </div>                
            </div>
        </div>
    </div>

    <!-- Select Document Action - Endorse Modal -->
    <div class="modal fade" id="selectEndorseModal" tabindex="-1" aria-labelledby="selectEndorseModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 400px;">
            <div class="modal-content rounded-4 px-3 py-2 bg-white shadow">
                <div class="modal-header pb-0 border-bottom-0 d-flex justify-content-between align-items-center" style="font-size: 13.5px;">
                    <button type="button" class="btn-close" style="visibility: hidden;"></button>
                    <h5 class="fw-bold mb-0 text-center flex-grow-1" id="selectEndorseLabel">Select Document Action</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center mt-1 mb-2">
                    <div class="d-flex flex-wrap justify-content-center text-center" style="gap: .4rem 1rem !important;">
                        <p class=""><strong>Tracking Number:</strong> <span id="documentTrackingNumber">112922023-DEPT-001</span></p>
                        <p class=""><strong>User ID:</strong> <span id="userID"></span>ACO-1000</p>
                        <p class=""><strong>Role:</strong> <span id="userRole">Action Officer</span></p>
                    </div>
                </div>
                <div class="modal-footer p-3 pt-0 border-top-0 d-flex flex-column align-items-center">
                    <button type="button" class="m-0 mb-1 btn btn-primary w-100" id="endorseDocument">Endorse Document</button>
                    <button type="button" class="m-0 mb-2 btn btn-secondary w-100" id="trackDocument">Track Document</button>
                </div>                
            </div>
        </div>
    </div>

    <script src="{% static 'js/toggle-sidebar.js' %}"></script>
    <script src="{% static 'js/tabs-nav.js' %}"></script>  
    <script src="{% static 'js/clear-search.js' %}"></script> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/fetch-document.js' %}"></script>
    <script src="{% static 'js/qr-code.js' %}"></script>
    <script src="{% static 'js/update-document-status.js' %}"></script>
    <script src="{% static 'js/add-remarks.js' %}"></script>
    <script>
        // On page load, read the URL parameter and update the class
        document.addEventListener('DOMContentLoaded', function () {
            const params = new URLSearchParams(window.location.search);
            const status = params.get('status');
            if (status) {
                // Assuming you want to add the class to the element with ID 'targetElement'
                document.querySelector('#records').classList.add(status);
            }
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const documentModal = new bootstrap.Modal(document.getElementById('viewDocumentModal'));
            const qrCodeModal = new bootstrap.Modal(document.getElementById('generateQRCode'));
        
            // Show QR Code Modal and hide Document Details Modal
            document.getElementById('documentTitleLink').addEventListener('click', function (e) {
                e.preventDefault();
                documentModal.hide();
                qrCodeModal.show();
            });
        
            // When QR Code Modal is closed, show Document Details Modal again
            document.getElementById('generateQRCode').addEventListener('hidden.bs.modal', function () {
                documentModal.show();
            });
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const endorseModal = new bootstrap.Modal(document.getElementById('endorseDocumentModal')); // Endorse Modal
            const remarksModal = new bootstrap.Modal(document.getElementById('addRemarksModal')); // Add Remarks Modal
    
            const actionMessage = document.getElementById('actionMessage');
    
            // Handle Confirm Endorse Action
            document.getElementById('confirmEndorse').addEventListener('click', function () {
                endorseModal.hide();
                actionMessage.textContent = "The document has been successfully endorsed. Add any additional remarks related to this action below, or leave as blank if not applicable.";
                remarksModal.show();
            });
    
            // Handle saving remarks (you can send an AJAX request or form submission here)
            document.getElementById('saveRemarks').addEventListener('click', function () {
                const remarks = document.getElementById('remarks').value;
                console.log('Remarks:', remarks);
                // Logic to save remarks goes here
                remarksModal.hide();
            });
        });
    </script>
    <!-- For select action and and confirm endorse switching -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Select buttons and modals for routing
            const endorseDocument = document.getElementById('endorseDocument');
            const selectEndorseModal = new bootstrap.Modal(document.getElementById('selectEndorseModal'));
            const endorseDocumentModal = new bootstrap.Modal(document.getElementById('endorseDocumentModal'));
            const endorseModalCloseBtn = document.getElementById('endorseModalCloseBtn');

            // When Route Document is clicked
            endorseDocument.addEventListener('click', function () {
                selectEndorseModal.hide();
                endorseDocumentModal.show();
            });

            // When Route Document Modal is closed
            endorseModalCloseBtn.addEventListener('click', function () {
                endorseDocumentModal.hide();
                selectEndorseModal.show();
            });
        });
    </script>
</body>
</html>
