{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/logo-icon.png" type="image/png">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
	<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
	<link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Action Officer All Records</title>
</head>

<body id="bodyPd">
    {% include "assets/action-officer-navbar.html" %}

    <!--Container Main start-->
    <div class="h-100">
        <h3 class="fw-semibold">Action Officer All Records</h3>
    </div>
    <!--Container Main end-->


    <script>
        // On page load, read the URL parameter and update the class
        document.addEventListener('DOMContentLoaded', function () {
            const params = new URLSearchParams(window.location.search);
            const status = params.get('status');
            if (status) {
                // Assuming you want to add the class to the element with ID 'targetElement'
                document.querySelector('#all-records').classList.add(status);
            }
        });
    </script>
</body>
</html>

<!-- TEST COMMIT -->