// TYPEFACE
$font-family-sans-serif: 'Inter', sans-serif;

// COLORS
$primary: #2E72EA;
$body-bg: #F5F7F8;
$body-color: #000000;
$headings-color: #000000;

@import "../../node_modules/bootstrap/scss/bootstrap";

// HEADINGS
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

// LINKS
a {
    color: $primary;
    text-decoration: none;
    font-weight: 700;

    &:hover {
        color: darken($primary, 10%);
        text-decoration: none;
    }
}

.black-link {
    color: #000000; 
    text-decoration: none;
    font-weight: 600;
    
    &:hover {
        color: $primary;
        text-decoration: none;
    }
}

// BUTTONS
.btn-primary {
    background-color: $primary;
    color: #FFFFFF;
    font-weight: 500;
    padding: 0.5rem 1.25rem;

    &:hover {
        background-color: darken($primary, 10%);
        color: #FFFFFF;
    }

    &:active {
        background-color: darken($primary, 15%) !important;
        color: #FFFFFF !important;
        box-shadow: none !important; 
    }
}

.btn-secondary {
    background-color: #FFFFFF;
    color: $primary;
    border: 1px solid $primary;
    font-weight: 500;
    padding: 0.5rem 1.25rem;

    &:hover {
        background-color: #d9e3f5;  
        color: $primary;    
        border: 1px solid $primary;     
    }

    &:active {
        background-color: #c4d4f0 !important;
        color: $primary !important;
        box-shadow: none !important;
        border: 1px solid #c4d4f0 !important;   
    }
}

.btn-blue {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2E72EA;
    color: #FFFFFF;
    width: 25px;
    height: 25px;
    font-size: 14px;
    padding: 0;
    margin: 0;

    &:hover {
        background-color: darken(#2E72EA, 10%); 
        color: #FFFFFF;
    }

    &:active {
        background-color: darken(#2E72EA, 15%) !important;
        color: #FFFFFF !important;
        box-shadow: none !important;
    }
}

.btn-green {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #28A745;
    color: #FFFFFF;
    width: 25px;
    height: 25px;
    font-size: 14px;
    padding: 0;
    margin: 0;

    &:hover {
        background-color: darken(#28A745, 10%); 
        color: #FFFFFF;
    }

    &:active {
        background-color: darken(#28A745, 15%) !important;
        color: #FFFFFF !important;
        box-shadow: none !important;
    }
}

.btn-red {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EA2E2E;
    color: #FFFFFF;
    width: 25px;
    height: 25px;
    font-size: 14px;
    padding: 0;
    margin: 0;

    &:hover {
        background-color: darken(#EA2E2E, 10%); 
        color: #FFFFFF;
    }

    &:active {
        background-color: darken(#EA2E2E, 15%) !important;
        color: #FFFFFF !important;
        box-shadow: none !important;
    }
}

// BADGES
.badge {
    padding: 0.3rem 0.6rem;
}

.badge-yellow {
    background-color: #FFC107;
    color: #FFFFFF;
}

.badge-orange {
    background-color: #FF7E07;
    color: #FFFFFF;
}

.badge-red {
    background-color: #DC3545;
    color: #FFFFFF;
}

.badge-green {
    background-color: #22a03f;
    color: #FFFFFF;
}

// FORM CONTROL
.form-label {
    font-weight: 600;
    margin-bottom: 0.27rem;
}

.form-control, .form-select {
    padding: 0.5rem 0.8rem;
    background-color: #FFFFFF;
    color: #000000;
    border-color: #B1C1CF;
    
    &::placeholder {
        color: #B1C1CF;
    }

    &:focus {
        border-color: $primary;
        box-shadow: 0 0 0 0.15rem rgba(46, 114, 234, 0.15);
    }
}

form select:invalid {
    color: #B1C1CF;
}

form select option:first-child {
    color: #B1C1CF; 
}

form select:invalid option:not(:first-child) {
    color: #000000;
}

input[type=date]:invalid {
    color: #B1C1CF;
  }
  
input:focus::-webkit-datetime-edit {
    color: initial;
}

.form-check-input {
    border-color: #B1C1CF;
    background-color: #FFFFFF;
    padding: 0;
    margin-top: 2.7px;

    &:focus {
        border-color: $primary;
        box-shadow: 0 0 0 0.15rem rgba(46, 114, 234, 0.15);
    }     
}

// TABS

.custom-tabs {
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 2px solid rgba(177, 193, 207, 0.4);
}

.tab-item {
    display: inline-block;
    margin-right: 0rem;
}

.tab-link {
    display: block;
    padding: 0.8rem 1.1rem;
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    position: relative;
    transition: color 0.3s, border-color 0.3s;
}

.tab-link::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: transparent;
    transition: background-color 0.3s;
}

.tab-link.active::after {
    background-color: #2E72EA;
}

.tab-link.active {
    color: #2E72EA;
}

.tab-link:hover {
    color: #2E72EA;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

