{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="/static/images/logo-icon.png" type="image/png">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
	<link rel="stylesheet" href="{% static 'css/login-signup.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
	<link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <title>Create New Password</title>
</head>                    

<body>
	<section class="vh-100">
		<div class="row h-100 g-0">
			<!-- Left BG Side -->
			<div class="col-md-6 bg-side d-none d-md-block">
				<img src="{% static 'images/access-bg.png' %}" alt="TrackIt Background" class="h-100 w-100 object-fit-cover">
			</div>
			<!-- Right Form Side -->
			<div class="col-md-6 form-side">
				<div class="form-container px-lg-5 mx-lg-5">
					<div class="mb-4 pb-3">
						<img src="{% static 'images/logo.png' %}" alt="Company Logo" class="img-fluid" style="max-width: 180px;">
					</div>
					<div class="mb-4">
						<h2 class="mb-2">Create New Password</h2>
						<p>Your password must contain at least 8 characters with a special character and an uppercase letter.</p>
					</div>
					<form method="post" action="{% url 'new_password' uidb64=uidb64 token=token %}">
						{% csrf_token %}
						<div class="row mb-3">
							<div>
								<label for="new_password" class="form-label">New Password</label>
								<input type="password" name="new_password" class="form-control" id="new_password" placeholder="Enter New Password" required>
								<i class="fa-regular fa-eye toggle-pass"></i>
							</div>
						</div>
						<div class="row mb-4">
							<div> 
								<label for="confirm_password" class="form-label">Confirm Password</label>
								<input type="password" name="confirm_password" class="form-control" id="confirm_password" placeholder="Confirm New Password" required>
								<i class="fa-regular fa-eye toggle-pass"></i>
							</div>
						</div>                        
						<button type="submit" class="btn btn-primary w-100 mb-4">Create New Password</button>
					
						<!-- Pass uidb64 and token as hidden fields -->
						<input type="hidden" name="uidb64" value="{{ uidb64 }}">
						<input type="hidden" name="token" value="{{ token }}">
					</form>
				</div>
			</div>
		</div>
	</section>
    <script src="{% static 'js/toggle-pass.js' %}"></script>
	<script>
		document.addEventListener("DOMContentLoaded", function() {
			const toggleIcons = document.querySelectorAll(".toggle-pass");
			
			toggleIcons.forEach(icon => {
				icon.addEventListener("click", function() {
					const input = this.previousElementSibling;
		
					if (input.type === "password") {
						input.type = "text";
						this.classList.remove("fa-eye");
						this.classList.add("fa-eye-slash");
					} else {
						input.type = "password";
						this.classList.remove("fa-eye-slash");
						this.classList.add("fa-eye");
					}
				});
			});
		});
	</script>
</body>
</html>