{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/logo-icon.png" type="image/png">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/table-content.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
	<link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Activity Logs</title>
</head>

<body>
    <div class="container">
        {% include "assets/sys-sidebar.html" %}

        <div class="right-section">
            <header class="header">
                <button class="toggle-sidebar" id="toggleSidebar"><i class="fa-solid fa-bars"></i></button>
                <div class="header-right">
                    <button class="toggle-notification" id="notification" title="Notifications"><i class="fa-solid fa-bell"></i></button>
                    <div class="dropdown">
                        <button class="profile m-0" type="button" id="profileDropdown" data-bs-toggle="dropdown" title="Account Menu">
                            <div class="profile-pic placeholder"></div>
                            <div class="profile-info">
                                <span class="profile-name">{{ user_name }}</span>
                                <span class="profile-role">System Administrator</span>
                            </div>
                        </button>
                        <ul class="drop-profile dropdown-menu" aria-labelledby="profileDropdown">
                            <li>
                                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#profileModal">
                                    <i class='bx bx-user-circle drop-icon'></i>
                                    <span class="drop-name">Profile</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#settingsModal">
                                    <i class='bx bx-cog drop-icon'></i> 
                                    <span class="drop-name">Settings</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'user_logout' %}">
                                    <i class='bx bx-log-out drop-icon'></i> 
                                    <span class="drop-name">Log Out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </header>
            
            <main class="main-content">
                <div class="title-container d-flex justify-content-between align-items-center">
                    <h3 class="fw-semibold m-0">Activity Logs</h3>
                    <div class="d-flex justify-content-between align-items-center" style="gap: 12px;">
                        <div class="search-container">
                            <input type="text" id="searchInput" class="form-search form-control shadow-sm" style="font-size: 14px !important;" placeholder="Search your activity">
                            <i class="fa-solid fa-search search-icon"></i>  
                            <i class="fa-solid fa-xmark clear-icon" style="display: none;"></i>
                        </div>
                    </div>
                </div>

                <div class="my-3 px-3 py-2 bg-white rounded shadow-sm">
                    <ul class="custom-tabs">
                        <li class="tab-item">
                            <a class="tab-link {% if activity_type == 'recent' %}active{% endif %}" href="{% url 'system_admin_activity_logs' 'recent' %}?status=active">Recents</a>
                        </li>
                        <li class="tab-item">
                            <a class="tab-link {% if activity_type == 'records' %}active{% endif %}" href="{% url 'system_admin_activity_logs' 'records' %}?status=active">Records</a>
                        </li>
                        <li class="tab-item">
                            <a class="tab-link {% if activity_type == 'user-management' %}active{% endif %}" href="{% url 'system_admin_activity_logs' 'user-management' %}?status=active">User Management</a>
                        </li>
                        <li class="tab-item">
                            <a class="tab-link {% if activity_type == 'doc-management' %}active{% endif %}" href="{% url 'system_admin_activity_logs' 'doc-management' %}?status=active">Doc. Management</a>
                        </li>
                        <li class="tab-item">
                            <a class="tab-link {% if activity_type == 'reports' %}active{% endif %}" href="{% url 'system_admin_activity_logs' 'reports' %}?status=active">Reports</a>
                        </li>
                    </ul>

                    {% if activity_type == 'recent' %}
                    <div class="activity-tab-wrapper d-flex mt-2">
                        <div class="activity-feed w-100 ">
                            <!-- Today's Activities -->
                            <div class="activity-class">
                                <h6 class="activity-label">Today</h6>
                                <div class="activity-item d-flex justify-content-between align-items-center">
                                    <div class="d-flex">
                                        <div class="activity-icon-wrapper rounded d-flex justify-content-center align-items-center feed-red">
                                            <i class="fa-solid fa-box-archive"></i>
                                        </div>
                                        <p class="mb-0">
                                            <strong class="d-block">Document Archived: Tracking No. 112922032-DEPT-001</strong>
                                            The document has been moved to storage and will no longer appear in active workflows.
                                        </p>
                                    </div>
                                    <p class="text-end mb-0" style="white-space: nowrap;">2024-10-24<br>10:20 AM</p>
                                </div>
                                <div class="activity-item d-flex justify-content-between align-items-center">
                                    <div class="d-flex">
                                        <div class="activity-icon-wrapper rounded d-flex justify-content-center align-items-center feed-green">
                                            <i class="fa-solid fa-flag"></i>
                                        </div>
                                        <p class="mb-0">
                                            <strong class="d-block">Document Resolved - Endorsed for Archive: Tracking No. 112922032-DEPT-001</strong>
                                            The document has been resolved and endorsed for archiving or final processing.
                                        </p>
                                    </div>
                                    <p class="text-end mb-0" style="white-space: nowrap;">2024-10-24<br>10:30 AM</p>
                                </div>
                            </div>
                    
                            <!-- Yesterday's Activities -->
                            <div class="activity-class">
                                <h6 class="activity-label">Yesterday</h6>
                                <div class="activity-item d-flex justify-content-between align-items-center">
                                    <div class="d-flex">
                                        <div class="activity-icon-wrapper rounded d-flex justify-content-center align-items-center feed-green">
                                            <i class="fa-solid fa-thumbs-up"></i>
                                        </div>
                                        <p class="mb-0">
                                            <strong class="d-block">Document Received - Endorsed for Resolution: Tracking No. 112922032-DEPT-001</strong>
                                            The document has been endorsed and is now ready for either resolution or further routing.
                                        </p>
                                    </div>
                                    <p class="text-end mb-0" style="white-space: nowrap;">2024-10-24<br>10:30 AM</p>
                                </div>
                                <div class="activity-item d-flex justify-content-between align-items-center">
                                    <div class="d-flex">
                                        <div class="activity-icon-wrapper rounded d-flex justify-content-center align-items-center feed-green">
                                            <i class="fa-solid fa-share"></i>
                                        </div>
                                        <p class="mb-0">
                                            <strong class="d-block">Document Received - Forwarded to ACT: Tracking No. 112922032-DEPT-001</strong>
                                            The document has been forwarded to the assigned recipient for further processing.
                                        </p>
                                    </div>
                                    <p class="text-end mb-0" style="white-space: nowrap;">2024-10-24<br>10:30 AM</p>
                                </div>
                                <div class="activity-item d-flex justify-content-between align-items-center">
                                    <div class="d-flex">
                                        <div class="activity-icon-wrapper rounded d-flex justify-content-center align-items-center feed-green">
                                            <i class="fa-solid fa-route"></i>
                                        </div>
                                        <p class="mb-0">
                                            <strong class="d-block">Document Routed: Tracking No. 112922032-DEPT-001</strong>
                                            The document has been routed to the assigned recipient for further processing.
                                        </p>
                                    </div>
                                    <p class="text-end mb-0" style="white-space: nowrap;">2024-10-24<br>10:30 AM</p>
                                </div>
                            </div>

                            <!-- This Week Activities -->
                            <div class="activity-class">
                                <h6 class="activity-label">This Week</h6>
                                <div class="activity-item d-flex justify-content-between align-items-center">
                                    <div class="d-flex">
                                        <div class="activity-icon-wrapper rounded d-flex justify-content-center align-items-center feed-green">
                                            <i class="fa-solid fa-check"></i>
                                        </div>
                                        <p class="mb-0">
                                            <strong class="d-block">Document Approved: Tracking No. 112922032-DEPT-001</strong>
                                            The document has been approved and is now ready for routing and further action.
                                        </p>
                                    </div>
                                    <p class="text-end mb-0" style="white-space: nowrap;">2024-10-24<br>10:30 AM</p>
                                </div>
                                <div class="activity-item d-flex justify-content-between align-items-center">
                                    <div class="d-flex">
                                        <div class="activity-icon-wrapper rounded d-flex justify-content-center align-items-center feed-green">
                                            <i class="fa-solid fa-folder-plus"></i>
                                        </div>
                                        <p class="mb-0">
                                            <strong class="d-block">Document Created: Tracking No. 112922032-DEPT-001</strong>
                                            The document has been successfully created and is now awaiting the director's approval.
                                        </p>
                                    </div>
                                    <p class="text-end mb-0" style="white-space: nowrap;">2024-10-24<br>10:30 AM</p>
                                </div>
                            </div>

                            <!-- Last 15 Days Activities -->
                            <div class="activity-class">
                                <h6 class="activity-label">Last 15 Days</h6>
                                <div class="activity-item d-flex justify-content-between align-items-center">
                                    <div class="d-flex">
                                        <div class="activity-icon-wrapper rounded d-flex justify-content-center align-items-center feed-blue">
                                            <i class="fa-solid fa-user-check"></i>
                                        </div>
                                        <p class="mb-0">
                                            <strong class="d-block">User Verified: Employee ID. 137859-PRL</strong>
                                            The user has been validated as an employee and is authorized to proceed.
                                        </p>
                                    </div>
                                    <p class="text-end mb-0" style="white-space: nowrap;">2024-10-24<br>10:30 AM</p>
                                </div>
                                <div class="activity-item d-flex justify-content-between align-items-center">
                                    <div class="d-flex">
                                        <div class="activity-icon-wrapper rounded d-flex justify-content-center align-items-center feed-red">
                                            <i class="fa-solid fa-user-xmark"></i>
                                        </div>
                                        <p class="mb-0">
                                            <strong class="d-block">User Rejected: Employee ID. 137859-CSR</strong>
                                            The user has been rejected due to insufficient details or suspicious activity.
                                        </p>
                                    </div>
                                    <p class="text-end mb-0" style="white-space: nowrap;">2024-10-24<br>10:20 AM</p>
                                </div>
                                <div class="activity-item d-flex justify-content-between align-items-center">
                                    <div class="d-flex">
                                        <div class="activity-icon-wrapper rounded d-flex justify-content-center align-items-center feed-blue">
                                            <i class="fa-solid fa-user-lock"></i>
                                        </div>
                                        <p class="mb-0">
                                            <strong class="d-block">User Deactivated: Employee ID. 137859-ACC</strong>
                                            The user account has been deactivated and will no longer have access.
                                        </p>
                                    </div>
                                    <p class="text-end mb-0" style="white-space: nowrap;">2024-10-24<br>10:30 AM</p>
                                </div>
                                <div class="activity-item d-flex justify-content-between align-items-center">
                                    <div class="d-flex">
                                        <div class="activity-icon-wrapper rounded d-flex justify-content-center align-items-center feed-blue">
                                            <i class="fa-solid fa-user-check"></i>
                                        </div>
                                        <p class="mb-0">
                                            <strong class="d-block">User Reactivated: Employee ID. 137859-ACC</strong>
                                            The user account has been reactivated and is now active again.
                                        </p>
                                    </div>
                                    <p class="text-end mb-0" style="white-space: nowrap;">2024-10-24<br>10:30 AM</p>
                                </div>
                                <div class="activity-item d-flex justify-content-between align-items-center">
                                    <div class="d-flex">
                                        <div class="activity-icon-wrapper rounded d-flex justify-content-center align-items-center feed-red">
                                            <i class="fa-solid fa-user-minus"></i>
                                        </div>
                                        <p class="mb-0">
                                            <strong class="d-block">User Archived: Employee ID. 137859-BMD</strong>
                                            The user account has been archived and will not appear in active user lists.
                                        </p>
                                    </div>
                                    <p class="text-end mb-0" style="white-space: nowrap;">2024-10-24<br>10:20 AM</p>
                                </div>
                                <div class="activity-item d-flex justify-content-between align-items-center">
                                    <div class="d-flex">
                                        <div class="activity-icon-wrapper rounded d-flex justify-content-center align-items-center feed-blue">
                                            <i class="fa-solid fa-file-circle-plus"></i>
                                        </div>
                                        <p class="mb-0">
                                            <strong class="d-block">Document Type Created: Ref. Purchase Order</strong>
                                            The document type has been successfully created and is now added to the available options.
                                        </p>
                                    </div>
                                    <p class="text-end mb-0" style="white-space: nowrap;">2024-10-24<br>10:30 AM</p>
                                </div>
                                <div class="activity-item d-flex justify-content-between align-items-center">
                                    <div class="d-flex">
                                        <div class="activity-icon-wrapper rounded d-flex justify-content-center align-items-center feed-blue">
                                            <i class="fa-solid fa-file-pen"></i>
                                        </div>
                                        <p class="mb-0">
                                            <strong class="d-block">Document Type Edited: Ref. Project Proposal</strong>
                                            The document type has been modified and updated.
                                        </p>
                                    </div>
                                    <p class="text-end mb-0" style="white-space: nowrap;">2024-10-24<br>10:30 AM</p>
                                </div>
                                <div class="activity-item d-flex justify-content-between align-items-center">
                                    <div class="d-flex">
                                        <div class="activity-icon-wrapper rounded d-flex justify-content-center align-items-center feed-red">
                                            <i class="fa-solid fa-file-circle-minus"></i>
                                        </div>
                                        <p class="mb-0">
                                            <strong class="d-block">Document Type Deleted: Ref. Project Fund Release</strong>
                                            The document type has been deleted and is no longer available.
                                        </p>
                                    </div>
                                    <p class="text-end mb-0" style="white-space: nowrap;">2024-10-24<br>10:30 AM</p>
                                </div>
                                <div class="activity-item d-flex justify-content-between align-items-center">
                                    <div class="d-flex">
                                        <div class="activity-icon-wrapper rounded d-flex justify-content-center align-items-center feed-blue">
                                            <i class="fa-solid fa-file-pdf"></i>
                                        </div>
                                        <p class="mb-0">
                                            <strong class="d-block">Report Generated: Ref. 2024 Employee Report</strong>
                                            The report has been successfully generated and is available for preview and download.
                                        </p>
                                    </div>
                                    <p class="text-end mb-0" style="white-space: nowrap;">2024-10-24<br>10:30 AM</p>
                                </div>
                                <div class="activity-item d-flex justify-content-between align-items-center">
                                    <div class="d-flex">
                                        <div class="activity-icon-wrapper rounded d-flex justify-content-center align-items-center feed-red">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </div>
                                        <p class="mb-0">
                                            <strong class="d-block">Report Deleted: Ref. 2024 Administrative Report</strong>
                                            The report has been deleted and is no longer available.
                                        </p>
                                    </div>
                                    <p class="text-end mb-0" style="white-space: nowrap;">2024-10-24<br>10:30 AM</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    <div class="table-tab-wrapper table-responsive d-flex mt-2">
                    {% if activity_type == 'records' %}
                        <table class="table mb-1 table-logs">
                            <thead>
                                <tr>
                                    <th>Timestamp</th>
                                    <th>Tracking Number</th>
                                    <th>Particulars</th>
                                    <th>Sender Name</th>
                                    <th>Remarks</th>
                                    <th>Activity</th>
                                </tr>
                            </thead>
                            <tbody id="docTableBody">
                                <tr>
                                    <td style="white-space: nowrap;">2024-08-05<br>10:15 AM</td>
                                    <td style="white-space: nowrap;">112922032-DEPT-001</td>
                                    <td>Request for Amendment of Expense List for Cash Advance Under Special Order No. 34</td>
                                    <td>Antonio R. Mendoza</td>
                                    <td>This is a sample remarks</td>
                                    <td>Document Created</td>
                                </tr>
                                <tr>
                                    <td style="white-space: nowrap;">2024-08-05<br>10:15 AM</td>
                                    <td style="white-space: nowrap;">112922032-DEPT-001</td>
                                    <td>Request for Amendment of Expense List for Cash Advance Under Special Order No. 34</td>
                                    <td>Antonio R. Mendoza</td>
                                    <td>This is a sample remarks</td>
                                    <td>Document Approved</td>
                                </tr>
                                <tr>
                                    <td style="white-space: nowrap;">2024-08-05<br>10:15 AM</td>
                                    <td style="white-space: nowrap;">112922032-DEPT-001</td>
                                    <td>Request for Amendment of Expense List for Cash Advance Under Special Order No. 34</td>
                                    <td>Antonio R. Mendoza</td>
                                    <td>This is a sample remarks</td>
                                    <td>Document Routed</td>
                                </tr>
                                <tr>
                                    <td style="white-space: nowrap;">2024-08-05<br>10:15 AM</td>
                                    <td style="white-space: nowrap;">112922032-DEPT-001</td>
                                    <td>Request for Amendment of Expense List for Cash Advance Under Special Order No. 34</td>
                                    <td>Antonio R. Mendoza</td>
                                    <td>This is a sample remarks</td>
                                    <td>Document Received - Forwarded to ACT</td>
                                </tr>
                                <tr>
                                    <td style="white-space: nowrap;">2024-08-05<br>10:15 AM</td>
                                    <td style="white-space: nowrap;">112922032-DEPT-001</td>
                                    <td>Request for Amendment of Expense List for Cash Advance Under Special Order No. 34</td>
                                    <td>Antonio R. Mendoza</td>
                                    <td>This is a sample remarks</td>
                                    <td>Document Received - Endorsed for Resolution</td>
                                </tr>
                                <tr>
                                    <td style="white-space: nowrap;">2024-08-05<br>10:15 AM</td>
                                    <td style="white-space: nowrap;">112922032-DEPT-001</td>
                                    <td>Request for Amendment of Expense List for Cash Advance Under Special Order No. 34</td>
                                    <td style="white-space: nowrap;">Antonio R. Mendoza</td>
                                    <td>This is a sample remarks</td>
                                    <td>Document Resolved - Endorsed for Archive</td>
                                </tr>
                                <tr>
                                    <td style="white-space: nowrap;">2024-08-05<br>10:15 AM</td>
                                    <td style="white-space: nowrap;">112922032-DEPT-001</td>
                                    <td>Request for Amendment of Expense List for Cash Advance Under Special Order No. 34</td>
                                    <td>Antonio R. Mendoza</td>
                                    <td>This is a sample remarks</td>
                                    <td>Document Archived</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <p class="d-block text-start my-0 p-2 fw-semibold" id="record-count" style="color: #000000; opacity: 0.6;">
                        Showing total of # record log(s)
                    </p>
                    {% endif %}

                    {% if activity_type == 'user-management' %}
                        <table class="table mb-1 table-user-logs">
                            <thead>
                                <tr>
                                    <th>Timestamp</th>
                                    <th>Employee ID</th>
                                    <th>Name</th>
                                    <th>Office</th>
                                    <th>Role</th>
                                    <th>Activity</th>
                                </tr>
                            </thead>
                            <tbody id="docTableBody">
                                <tr>
                                    <td style="white-space: nowrap;">2024-08-05<br>10:15 AM</td>
                                    <td style="white-space: nowrap;">137859-PRL</td>
                                    <td>Franzel I. Malabanan</td>
                                    <td>Payroll</td>
                                    <td>ACT</td>
                                    <td>User Verified</td>
                                </tr>
                                <tr>
                                    <td style="white-space: nowrap;">2024-08-05<br>10:15 AM</td>
                                    <td style="white-space: nowrap;">137859-CSR</td>
                                    <td>Taylor I. Swift</td>
                                    <td>Cashier</td>
                                    <td>SRO</td>
                                    <td>User Rejected</td>
                                </tr>
                                <tr>
                                    <td style="white-space: nowrap;">2024-08-05<br>10:15 AM</td>
                                    <td style="white-space: nowrap;">137859-ACC</td>
                                    <td>Typhoon A. Kristine</td>
                                    <td>Accounting</td>
                                    <td>ACT</td>
                                    <td>User Deactivated</td>
                                </tr>
                                <tr>
                                    <td style="white-space: nowrap;">2024-08-05<br>10:15 AM</td>
                                    <td style="white-space: nowrap;">137859-ACC</td>
                                    <td>Juan A. Dela Cruz</td>
                                    <td>Accounting</td>
                                    <td>ADO</td>
                                    <td>User Reactivated</td>
                                </tr>
                                <tr>
                                    <td style="white-space: nowrap;">2024-08-05<br>10:15 AM</td>
                                    <td style="white-space: nowrap;">137859-BMD</td>
                                    <td>Ariana A. Grande</td>
                                    <td>Budgeting</td>
                                    <td>SRO</td>
                                    <td>User Archived</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <p class="d-block text-start my-0 p-2 fw-semibold" id="record-count" style="color: #000000; opacity: 0.6;">
                        Showing total of # user management log(s)
                    </p>
                    {% endif %}

                    {% if activity_type == 'doc-management' %}
                        <table class="table mb-1 table-doc-logs">
                            <thead>
                                <tr>
                                    <th>Timestamp</th>
                                    <th>Document Type </th>
                                    <th>Category</th>
                                    <th>Route</th>
                                    <th>Priority Level</th>
                                    <th>Activity</th>
                                </tr>
                            </thead>
                            <tbody id="docTableBody">
                                <tr>
                                    <td style="white-space: nowrap;">2024-08-05<br>10:15 AM</td>
                                    <td>Purchase Order</td>
                                    <td>Regular</td>
                                    <td>Accounting 
                                        <i class="fa-solid fa-chevron-right px-1"></i> Budget
                                        <i class="fa-solid fa-chevron-right px-1"></i> Payroll
                                    </td>
                                    <td><span class="badge badge-red rounded-pill fw-semibold">VERY URGENT</span></td>
                                    <td>Document Type Created</td>
                                </tr>
                                <tr>
                                    <td style="white-space: nowrap;">2024-08-05<br>10:15 AM</td>
                                    <td>Project Proposal</td>
                                    <td>Trust</td>
                                    <td>Budget
                                        <i class="fa-solid fa-chevron-right px-1"></i> Accounting
                                    </td>
                                    <td><span class="badge badge-orange rounded-pill fw-semibold">URGENT</span></td>
                                    <td>Document Type Edited</td>
                                </tr>
                                <tr>
                                    <td style="white-space: nowrap;">2024-08-05<br>10:15 AM</td>
                                    <td>Project Fund Release</td>
                                    <td>Trust</td>
                                    <td>Budget
                                        <i class="fa-solid fa-chevron-right px-1"></i> Budget
                                    </td>
                                    <td><span class="badge badge-red rounded-pill fw-semibold">VERY URGENT</span></td>
                                    <td>Document Type Deleted</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <p class="d-block text-start my-0 p-2 fw-semibold" id="record-count" style="color: #000000; opacity: 0.6;">
                        Showing total of # doc management log(s)
                    </p>
                    {% endif %}

                    {% if activity_type == 'reports' %}
                        <table class="table mb-1 table-reports">
                            <thead>
                                <tr>
                                    <th>Timestamp</th>
                                    <th>Report Name</th>
                                    <th>Type</th>
                                    <th>Target</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Activity</th>
                                </tr>
                            </thead>
                            <tbody id="docTableBody">
                                <tr>
                                    <td style="white-space: nowrap;">2024-08-05<br>10:15 AM</td>
                                    <td>2024 Employee Report</td>
                                    <td>Employee Performance Report</td>
                                    <td>104113-ADM</td>
                                    <td>2024-08-05</td>
                                    <td>2024-08-05</td>
                                    <td>Report Generated</td>
                                </tr>
                                <tr>
                                    <td style="white-space: nowrap;">2024-08-05<br>10:15 AM</td>
                                    <td>2024 Administrative Report</td>
                                    <td>Office Performance Report</td>
                                    <td>104113-ADM</td>
                                    <td>2024-08-05</td>
                                    <td>2024-08-05</td>
                                    <td>Report Deleted</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <p class="d-block text-start my-0 p-2 fw-semibold" id="record-count" style="color: #000000; opacity: 0.6;">
                        Showing total of # report log(s)
                    </p>
                    {% endif %}
                </div>
            </main>
        </div>
    </div>  

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/toggle-sidebar.js' %}"></script>
    <script src="{% static 'js/clear-search.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const params = new URLSearchParams(window.location.search);
            const status = params.get('status');
            if (status) {
                document.querySelector('#act-logs').classList.add(status);
            }
        });
    </script>
</body>
</html>