{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/logo-icon.png" type="image/png">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
	<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/table-content.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
	<link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>New Record</title>
</head>

<body>
    <div class="container">
        {% include "assets/sys-sidebar.html" %}

        <div class="right-section">
            <header class="header">
                <button class="toggle-sidebar" id="toggleSidebar"><i class="fa-solid fa-bars"></i></button>
                <div class="header-right">
                    <button class="toggle-notification" id="notification"><i class="fa-solid fa-bell"></i></button>
                    <button class="profile">
                        <div class="profile-pic placeholder"></div>
                        <div class="profile-info">
                            <span class="profile-name">{{ user_name }}</span>
                            <span class="profile-role">System Administrator</span>
                        </div>
                    </button>
                </div>
            </header>
            
            <main class="main-content">
                <div class="title-container d-flex justify-content-between align-items-center">
                    <h3 class="fw-semibold m-0">Create New Record</h3>
                </div>

                <div class="content-wrapper my-3 p-4 pt-3 bg-white rounded shadow-sm">
                    <p class="fw-semibold pt-1" style="font-size: 18px">
                        <i class="fa-solid fa-circle-info" style="color: #2E72EA;"></i>&nbsp; Document Information
                    </p>
                    <form method="post" action="{% url 'new_record_system_admin' %}" id="recordForm">
                        {% csrf_token %}
                        <div class="row mb-3 g-3">
                            <div class="col-12 col-md-4">
                                <label for="TrackingNumber" class="form-label">Tracking Number</label>
                                <input type="text" class="form-control" name="tracking_no" id="TrackingNumber" aria-describedby="TrackingNumber" placeholder="e.g. 112922032-DEPT-001" required>
                            </div>
        
                            <div class="col-12 col-md-4">
                                <label for="SenderName" class="form-label">Sender Name</label>
                                <input type="text" class="form-control" name="sender_name" id="SenderName" aria-describedby="SenderName" placeholder="e.g. Juan S. Dela Cruz" required>
                            </div>
        
                            <div class="col-12 col-md-4">
                                <label for="SenderDepartment" class="form-label">Sender Department</label>
                                <select class="form-select" name="sender_dept" id="SenderDepartment" aria-label="SenderDepartment" required>
                                    <option value="">Select Sender Department</option>
                                    <option value="Admin">Admin</option>
                                    <option value="Finance">Finance</option>
                                    <option value="Budget">Budget</option>
                                    <option value="Cashier">Cashier</option>
                                </select>
                            </div>
                        </div>
        
                        <div class="row mb-3 g-3">
                            <div class="col-12 col-md-6">
                                <label for="DocumentCategory" class="form-label">Select Document Category</label>
                                <select class="form-select" id="DocumentCategory" aria-label="DocumentCategory" required>
                                    <option value="" disabled selected hidden>Document Category</option>
                                    <option value="Regular">Regular</option>
                                    <option value="SCPF">SCPF</option>
                                </select>
                            </div>
        
                            <div class="col-12 col-md-6">
                                <label for="DocumentType" class="form-label">Select Document Type</label>
                                <select class="form-select" name="doc_type" id="DocumentType" aria-label="DocumentType" disabled required>
                                    <option value="">Select Document Type</option>
                                </select>
                            </div>
                        </div>
        
                        <div class="mb-3">
                            <label for="Subject" class="form-label">Subject / Particulars</label>
                            <input class="form-control" name="subject" id="Subject" placeholder="e.g. Request for Amendment of Expense List for Cash Advance Under Special Order No. 34" required>
                        </div>
        
                        <div class="mb-3">
                            <label for="Remarks" class="form-label">Remarks</label>
                            <textarea type="text" class="form-control" name="remarks"  id="Remarks" placeholder="e.g. For Immediate Approval of Cash Disbursement"></textarea>
                        </div>
        
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-primary" id="submitBtn">Confirm</button>
                        </div>
                    </form>
                </div>
            </main>
        </div>
    </div>

    <!-- Modal to Confirm Record Creation -->
    <div class="modal fade" id="confirmRecordCreation" tabindex="-1" aria-labelledby="confirmRecordCreationLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 px-3 py-2 bg-white shadow">
                <div class="modal-header pb-0 border-bottom-0">
                    <h5 class="modal-title" id="confirmRecordCreationLabel">Create New Record</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to create this new record? Please review the information before proceeding.</p>
                </div>
                <div class="modal-footer p-3 pt-0 border-top-0">
                    <button type="button" class="m-0 mb-2 btn btn-primary" id="confirmCreate" data-bs-toggle="modal">Confirm</button>
                    <button type="button" class="m-0 mb-2 btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal to Generate QR Code -->
    <div class="modal fade" id="generateQRCode" tabindex="-1" aria-labelledby="generateQRCodeLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 mx-auto" id="confirmRecordCreationLabel">Document QR Code</h1>
                    <button type="button" class="btn-close ps-0 ms-0" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>                
                <div class="modal-body text-center">
                    <p class="fs-6">Scan the code to quickly access the document details or perform a specified action.</p>
                    <p class="fs-6 fw-bold my-0" id="routesQr"></p>
                    <p class="fs-6 fw-bold my-0" id="str_routesQr" style="display:none;"></p>
                    <img id='qrCodeImage' src="" alt="Document QR Code" style="height: 218px; width: auto;">
                    <p class="fs-6 fw-bold my-0" id="trackingNoQr"></p>
                </div>
                <div class="modal-footer d-flex flex-column align-items-center">
                    <button type="button" class="btn btn-primary mb-2 w-50" id="printQR">Print QR Code</button>
                    <button type="button" class="btn btn-secondary w-50" id="saveQR">Save a Copy</button>
                </div>                
            </div>
        </div>
    </div>

    <!-- Modal for Record Already Exists Error -->
    <div class="modal fade" id="recordExistsModal" tabindex="-1" aria-labelledby="recordExistsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="recordExistsModalLabel" style="color: red;">Failed to Upload Document.</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="fs-6">A record with Tracking Number: <strong><span id="existingTrackingNo"></span></strong> already exists.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/toggle-sidebar.js' %}"></script>  
    <script src="{% static 'js/tabs-nav.js' %}"></script>
    <script src="{% static 'js/records-count.js' %}"></script>
    <script src="{% static 'js/new-record.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const params = new URLSearchParams(window.location.search);
            const status = params.get('status');
            if (status) {
                // Assuming you want to add the class to the element with ID 'targetElement'
                document.querySelector('#newRecord').classList.add(status);
            }
        });
    </script>

</body>
</html>

<!-- TEST COMMIT -->