{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/logo-icon.png" type="image/png">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
	<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/table-content.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
	<link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Dashboard</title>

    <style>
        .progress-circle {
            position: relative;
            width: 160px;
            height: 160px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .progress-circle .inner-content {
            position: absolute;
            width: 110px;
            height: 110px;
            background: #fff;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    </style>
</head>

<body>
    <div class="container">
        {% include "assets/sys-sidebar.html" %}

        <div class="right-section">
            <header class="header">
                <button class="toggle-sidebar" id="toggleSidebar"><i class="fa-solid fa-bars"></i></button>
                <div class="header-right">
                    <button class="toggle-notification" id="notification" title="Notifications"><i class="fa-solid fa-bell"></i></button>
                 
                    <div class="dropdown">
                        <button class="profile m-0" type="button" id="profileDropdown" data-bs-toggle="dropdown">
                            <div class="profile-pic">
                                <img src="{% if user_profile.profile_picture %}/media/{{ user_profile.profile_picture }}{% else %}{% static 'images/default_profile_picture.png' %}{% endif %}"
                                     id="profilePicture" 
                                     class="profile-modal-pic" 
                                     style="width: 50px; height: 50px; object-fit: cover; border-radius: 50%;">
                            </div>                                                                                
                            <div class="profile-info">
                                <span class="profile-name">{{ user_profile.firstname }} {{user_profile.lastname}}</span>
                                <span class="profile-role">{{ user_profile.role }}</span>
                            </div>
                        </button>
                        <ul class="drop-profile dropdown-menu" aria-labelledby="profileDropdown">
                            <li>
                                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#profileModal">
                                    <i class='bx bx-user-circle drop-icon'></i>
                                    <span class="drop-name">Profile</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#settingsModal">
                                    <i class='bx bx-cog drop-icon'></i> 
                                    <span class="drop-name">Settings</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'user_logout' %}">
                                    <i class='bx bx-log-out drop-icon'></i> 
                                    <span class="drop-name">Log Out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!---->
                </div>
            </header>
            
            <main class="main-content">
                <div class="title-container d-flex justify-content-between align-items-center">
                    <h3 class="fw-semibold m-0">Dashboard</h3>
                    <div class="m-0" id="datetime-container">
                        <span id="day"></span> | 
                        <span id="date"></span> | 
                        <span id="time"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="rounded-2 p-3 mt-3" style="background-color: #007bff; color:white; height: auto;">
                            <div class="row p-2">
                                <div class="col-9 d-flex align-items-center">
                                    <p class="fs-3 p-0 m-0 fw-bolder d-flex align-items-center"><i class='bx bxs-wink-smile'></i>&nbsp;Welcome, System Admin!</p>
                                    <!-- <p class="fs-6 p-0 m-0 fw-bold">Office - ACO</p> -->
                                </div>
                                <div class="col-3">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-6 text-end p-0 m-0">
                                            <p class="p-0 m-0">See latest updates &nbsp;</p>
                                        </div>
                                        <div class="col-6 p-0">
                                            <select class="form-select fw-bold" id="inputGroupSelect" style="font-size: 14px !important; background-color: #007bff; color: white; border-color: white;">
                                                <option value="today" selected>Today</option>
                                                <option value="month">This Month</option>
                                                <option value="year">This Year</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 1st Row - Total Documents and Pending Account Approval -->
                <div class="row py-2">
                    <!-- 1st Column | Total Records -->
                    <div class="col-6">
                        <div class="container d-block rounded-2 p-3 my-3" style="background-color: white; height: auto;">
                            <div class="row">
                                <h3><span id="overallTotalRecords" class="fw-bolder my-3 px-2 rounded-2" style="background-color: #007bff; color:white;">0</span>&nbsp;Total Records</h3>                   
                              </div>
                          
                              <div class="chart-container my-2">
                                <!-- Bar 1 -->
                                <div class="bar">
                                    <div id="directorTotalRecords" class="percent-label">0</div>
                                    <div class="bar-shape"></div>
                                    <div class="office-label">DIR</div>
                                  </div>
                                  <!-- Bar 2 -->
                                  <div class="bar">
                                    <div id="admTotalRecords" class="percent-label">0</div>
                                    <div class="bar-shape"></div>
                                    <div class="office-label">ADM</div>
                                  </div>
                                  <!-- Bar 3 -->
                                  <div class="bar">
                                    <div id="csrTotalRecords" class="percent-label">0</div>
                                    <div class="bar-shape"></div>
                                    <div class="office-label">CSR</div>
                                  </div>
                                  <!-- Bar 4 -->
                                  <div class="bar">
                                    <div id="bdmTotalRecords" class="percent-label">0</div>
                                    <div class="bar-shape"></div>
                                    <div class="office-label">BDM</div>
                                  </div>
                                  <!-- Bar 5 -->
                                  <div class="bar">
                                    <div id="accTotalRecords" class="percent-label">0</div>
                                    <div class="bar-shape"></div>
                                    <div class="office-label">ACC</div>
                                  </div>
                                  <!-- Bar 6 -->
                                  <div class="bar">
                                    <div id="prlTotalRecords" class="percent-label">0</div>
                                    <div class="bar-shape"></div>
                                    <div class="office-label">PRL</div>
                                  </div>
                            </div>
                        </div>

                        <div class="rounded-2 p-3 my-3" style="background-color: white; height:auto;">
                            <div class="row">
                                <div class="col-8">
                                    <h4 class="mb-0 fw-bold d-flex align-items-center">
                                        <i class='bx bx-desktop' style="color: #007bff;"></i>&nbsp;Office Performance
                                    </h4>
                                </div>
                                <div class="col-4">
                                    <select class="form-select" id="inputGroupPerformance" style="font-size: 12px !important;">
                                        <option selected>All</option>
                                        <option value="1">Director</option>
                                        <option value="2">Administrative</option>
                                        <option value="3">Accounting</option>
                                        <option value="4">Cashier</option>
                                        <option value="5">Budget</option>
                                        <option value="6">Payroll</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="canvas-container py-4 d-flex align-items-center">
                                <canvas id="performanceChart" width="200" height="200"></canvas>
                            </div>
                            <p class="text-center fw-bold text-success">Congratulations, you have a good performance!</p>
                            <!-- <p class="text-center fw-bold text-warning">Your performance is currently going slow.</p> -->
                            <!-- <p class="text-center fw-bold text-danger">You need to address your current performance</p> -->
                        </div>
                    </div>
    
                    <div class="col-6">
                        <!-- 2nd Column | Pending Account Application -->
                        <div class="rounded-2 p-3 my-3" style="background-color: white; height: auto;">
                            <div class="row pb-2">
                                <h4 class="mb-0 fw-bold d-flex align-items-center">
                                    <i class='bx bxs-user-badge' style="color: #007bff;"></i>&nbsp;User Application
                                </h4>
                            </div>
                            <div class="row my-2 d-flex align-items-center justify-content-center">
                                <div class="col-4 d-flex align-items-center justify-content-center">
                                    <div id="pending-progress-circle" class="progress-circle">
                                        <div class="inner-content text-center">
                                            <div id="pending-count" class="percentage">0</div>
                                            <div class="label">Pending</div>
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="col-4 d-flex align-items-center justify-content-center">
                                    <div id="active-progress-circle" class="progress-circle">
                                        <div class="inner-content text-center">
                                            <div id="active-count" class="percentage">0</div>
                                            <div class="label">Active</div>
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="col-4 d-flex align-items-center justify-content-center">
                                    <div id="inactive-progress-circle" class="progress-circle">
                                        <div class="inner-content text-center">
                                            <div id="inactive-count" class="percentage">0</div>
                                            <div class="label">Inactive</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>       

                        <div class="row px-3 my-3 d-flex justify-content-center">
                            <div class="col-4 ps-0 mt-0 rounded-2">
                                <a class="clickable-box rounded-2 p-3" href="{% url 'system_admin_user_management' 'all-office' %}?status=active">
                                    <h5 class="text-center mb-0"><i class='bx bxs-user-detail'></i>&nbsp;User<br>Management</h5>
                                </a>
                            </div>

                            <div class="col-4 mt-0 rounded-2">
                                <a class="clickable-box rounded-2 p-3" href="{% url 'system_admin_doc_management' %}?status=active">
                                    <h5 class="text-center mb-0"><i class='bx bxs-file'></i>&nbsp;Document<br>Management</h5>
                                </a>                                                            
                            </div>

                            <div class="col-4 pe-0 mt-0 rounded-2">
                                <a class="clickable-box rounded-2 p-3" href="{% url 'system_admin_announcements' %}?status=active">
                                    <h5 class="text-center mb-0"><i class='bx bxs-megaphone'></i>&nbsp;Post<br>Announcements</h5>
                                </a>
                            </div>
                        </div>
                        
                        <div class="container d-block rounded-2 p-3 mb-3" style="background-color: white; height: 373px;">
                            <div class="row pb-2">
                                <h4 class="mb-0 fw-bold d-flex align-items-center">
                                    <i class='bx bx-stats' style="color: #007bff;"></i>&nbsp;Document Status
                                </h4>
                            </div>
                            <div class="d-flex align-items-center justify-content-center" style="height: 100%;">
                                <canvas class="px-4 pb-5" id="multiAreaChart" style="width: 100%; height: 100%; max-width: 100%; max-height: 100%;"></canvas>
                            </div>
                        </div>                        
                    </div>
                </div>

    <!-- Profile Modal -->
    <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 px-0 pb-2 bg-white shadow">
                <div class="title-cover modal-header pb-1 pt-4 border-bottom-0" style="padding-left: 32px; padding-right: 32px;">
                    <h5 class="modal-title" id="departmentReportModalLabel">Your Profile</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="cover modal-body py-3 pb-0" style="padding-left: 32px; padding-right: 32px;">
                    <div class="text-center">
                        <img src="{% if user_profile.profile_picture %}/media/{{ user_profile.profile_picture }}{% else %}{% static 'images/default_profile_picture.png' %}{% endif %}" 
                             id="profilePicture" 
                             class="profile-modal-pic">
                    </div>
                </div>                

                <div class="modal-body pt-1" style="padding-left: 32px; padding-right: 32px;">
                    <div class="mb-3">
                        <h4 id="fullName" class="text-center my-1 p-0">{{ user_profile.firstname }} {% if user_profile.middlename %}{{user_profile.middlename|slice:":1"}}.{%endif%} {{user_profile.lastname}}</h4>
                        <p id="role" class="text-center p-0">{{ user_profile.role }}</p>
                    </div>

                    <div class="row mb-3 g-3">
                        <div class="col text-start">
                            <p id="userIDLabel" class="d-flex align-items-center gap-2">
                                <i class="fa-solid fa-circle-user profile-icon"></i><strong>User ID</strong>
                            </p>
                        </div>
                        <div class="col text-end">
                            <p id="userIDValue">{{ user_profile.user_id }}</p>
                        </div>
                    </div>

                    <div class="row mb-3 g-3">
                        <div class="col text-start">
                            <p id="emailAddress" class="d-flex align-items-center gap-2">
                                <i class="fa-solid fa-envelope profile-icon"></i><strong>Email Address</strong>
                            </p>
                        </div>
                        <div class="col text-end">
                            <p id="employeeEmail">{{ user_profile.email }}</p>
                        </div>
                    </div>
                
                    <div class="row mb-3 g-3">
                        <div class="col text-start">
                            <p id="contactNumber" class="d-flex align-items-center gap-2">
                                <i class="fa-solid fa-phone profile-icon"></i><strong>Contact Number</strong>
                            </p>
                        </div>
                        <div class="col text-end">
                            <p id="employeeContact">{{ user_profile.contact_no }}</p>
                        </div>
                    </div>

                    <button type="button" class="w-100 mt-1 mb-2 btn btn-primary" data-bs-toggle="modal" data-bs-target="#editProfileModal">Edit Profile</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Profile Modal -->
    <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 px-3 py-2 bg-white shadow">
                <div class="modal-header pb-0 border-bottom-0">
                    <h5 class="modal-title" id="departmentReportModalLabel">Edit Profile Information</h5>
                    <button type="button" id="clostEditProfileModalBtn" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form id="editProfileForm" method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="d-flex align-items-center justify-content-center mb-3">
                            <div class="me-3">
                                <img src="{% if user_profile.profile_picture %}/media/{{ user_profile.profile_picture }}{% else %}{% static 'images/default_profile_picture.png' %}{% endif %}" 
                                    alt="Profile Picture" id="editProfilePicture" class="profile-modal-pic" style="width: 115px; height: 115px;">
                            </div>
                            <div>
                                <div class="mb-2">
                                    <input type="file" name="new_profile_photo" id="changePhotoInput" style="display:none;" accept="image/*" value="{% if user_profile.profile_picture %}/media/{{ user_profile.profile_picture }}{% endif %}" onchange="previewImage(event)">
                                    <button type="button" class="btn btn-primary me-2" onclick="document.getElementById('changePhotoInput').click()">Change Photo</button>
                                    <button type="button" class="btn btn-secondary" id="deletePhotoButton" onclick="deletePhoto()">Delete Photo</button>
                                </div>
                                <p class="mt-2 text-muted"><small>Upload PNG or JPG. (max 300 x 300px)</small></p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="editFirstName" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="editFirstName" name="new_firstname" value="{{ user_profile.firstname }}" maxlength="40" required>
                        </div>
                        <div class="mb-3">
                            <label for="editMiddleName" class="form-label">Middle Name (optional)</label>
                            <input type="text" class="form-control" id="editMiddleName" name="new_middlename" value="{{ user_profile.middlename }}" maxlength="40">
                        </div>
                        <div class="mb-3">
                            <label for="editLastName" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="editLastName" name="new_lastname" value="{{ user_profile.lastname }}" maxlength="40" required>
                        </div>
                        <div class="mb-3">
                            <label for="editContactNumber" class="form-label">Contact Number</label>
                            <input type="text" class="form-control" id="editContactNumber" name="new_contact_no" value="{{ user_profile.contact_no }}" maxlength="11" required>
                        </div>
                        <input type="hidden" name="temp_delete_profile" id="tempDeleteProfile" value="no">
                    </form>
                    <button type="button" id="saveEditProfileBtn" class="w-100 mt-1 mb-2 btn btn-primary">Save Changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Settings Modal -->
    <div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 px-3 py-2 bg-white shadow">
                <div class="modal-header pb-0 border-bottom-0">
                    <h5 class="modal-title" id="settingsModalLabel">Account Settings</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body mt-1 pt-2">
                    <div class="mb-3">
                        <label for="password" class="form-label">Account Password</label>
                        <p class="mb-2">If you wish to change your password, please click the button below.</p>
                        <button type="button" class="btn btn-secondary w-100" data-bs-toggle="modal" data-bs-target="#changePasswordModal" style="font-size: 14px;" >Set New Password</button>
                    </div>

                    <div class="mb-2">
                        <label for="receiveEmails" class="form-label">Receive Emails</label>
                        <div class="row">
                            <div class="col">
                                <p class="mb-2">Choose whether to receive updates and notifications via email.</p>
                            </div>
                            <div class="col-auto">
                                <div class="form-check form-switch mt-2">
                                    <input class="form-check-input" type="checkbox" id="receiveEmails" role="switch" style="transform: scale(1.25);">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mb-1">
                        <label for="twoFactorAuth" class="form-label">Two-Factor Authentication</label>
                        <div class="row">
                            <div class="col">
                                <p class="mb-2">Choose whether to enable two-factor authentication for added security.</p>
                            </div>
                            <div class="col-auto">
                                <div class="form-check form-switch mt-2">
                                    <input class="form-check-input" type="checkbox" id="twoFactorAuth" role="switch" style="transform: scale(1.25);">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Settings Modal -->
    <div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 px-3 py-2 bg-white shadow">
                <div class="modal-header pb-0 border-bottom-0">
                    <h5 class="modal-title" id="settingsModalLabel">Account Settings</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body mt-1 pt-2">
                    <div class="mb-3">
                        <label for="password" class="form-label">Account Password</label>
                        <p class="mb-2">If you wish to change your password, please click the button below.</p>
                        <button type="button" class="btn btn-secondary w-100" data-bs-toggle="modal" data-bs-target="#changePasswordModal" style="font-size: 14px;" >Set New Password</button>
                    </div>

                    <div class="mb-2">
                        <label for="receiveEmails" class="form-label">Receive Emails</label>
                        <div class="row">
                            <div class="col">
                                <p class="mb-2">Choose whether to receive updates and notifications via email.</p>
                            </div>
                            <div class="col-auto">
                                <div class="form-check form-switch mt-2">
                                    <input class="form-check-input" type="checkbox" id="receiveEmails" role="switch" style="transform: scale(1.25);">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mb-1">
                        <label for="twoFactorAuth" class="form-label">Two-Factor Authentication</label>
                        <div class="row">
                            <div class="col">
                                <p class="mb-2">Choose whether to enable two-factor authentication for added security.</p>
                            </div>
                            <div class="col-auto">
                                <div class="form-check form-switch mt-2">
                                    <input class="form-check-input" type="checkbox" id="twoFactorAuth" role="switch" style="transform: scale(1.25);">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Change Password Modal -->
    <div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 px-3 py-2 bg-white shadow">
                <div class="modal-header pb-0 border-bottom-0">
                    <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="mb-3">Your password must contain at least 8 characters with a special character and an uppercase letter.</p>

                    <form>
                        <div class="mb-3">
                            <label for="currentPassword" class="form-label">Current Password</label>
                            <input type="password" name="current_password" class="form-control" id="password" placeholder="Enter Current Password" required>
                            <i class="fa-regular fa-eye toggle-pass" id="togglePassword"></i>
                        </div>
                        <div class="mb-3">
                            <label for="newPassword" class="form-label">New Password</label>
                            <input type="password" name="new_password" class="form-control" id="password2" placeholder="Enter New Password" required>
                            <i class="fa-regular fa-eye toggle-pass" id="togglePassword2"></i>
                        </div>
                        <div class="mb-3">
                            <label for="confirmNewPassword" class="form-label">Confirm New Password</label>
                            <input type="password" name="confirm_new_password" class="form-control" id="password3" placeholder="Confirm New Password" required>
                            <i class="fa-regular fa-eye toggle-pass" id="togglePassword3"></i>
                        </div>

						<button type="submit" class="w-100 mt-1 mb-2 btn btn-primary">Create New Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/toggle-sidebar.js' %}"></script>
    <script src="{% static 'js/profile.js' %}"></script>
    {% include "assets/profile-reset-inputs.html" %}
    <script>

        document.addEventListener('DOMContentLoaded', function () { 

            const inputGroupSelect = document.getElementById('inputGroupSelect');

            function handleSelectChange() {

                const timeSpan = inputGroupSelect.value;

                fetch(`/director-total-records/${timeSpan}/`)
                    .then(response => response.json())
                    .then(data => {
                        
                        document.getElementById('overallTotalRecords').textContent = data.overall_total_records;
                        document.getElementById('directorTotalRecords').textContent = data.director_total_records;
                        document.getElementById('admTotalRecords').textContent = data.adm_total_records;
                        document.getElementById('csrTotalRecords').textContent = data.csr_total_records;
                        document.getElementById('bdmTotalRecords').textContent = data.bdm_total_records;
                        document.getElementById('accTotalRecords').textContent = data.acc_total_records;
                        document.getElementById('prlTotalRecords').textContent = data.prl_total_records;

                        const records = {
                            directorTotalRecords: data.director_total_records,
                            admTotalRecords: data.adm_total_records,
                            csrTotalRecords: data.csr_total_records,
                            bdmTotalRecords: data.bdm_total_records,
                            accTotalRecords: data.acc_total_records,
                            prlTotalRecords: data.prl_total_records
                        };

                        const maxRecord = Math.max(...Object.values(records));
                        const maxRecordId = Object.keys(records).find(key => records[key] === maxRecord);

                        // Scale factor for height; adjust 200px as needed for max height
                        const maxHeight = 200;
                        const scale = maxRecord > 0 ? maxHeight / maxRecord : 0;

                        document.querySelectorAll('.bar').forEach(bar => bar.classList.remove('selected'));
                        Object.keys(records).forEach(recordId => {
                            const barShape = document.querySelector(`#${recordId}`).parentNode.querySelector('.bar-shape');
                            const height = records[recordId] * scale;
                            barShape.style.height = height > 0 ? `${height}px` : '0px'; // Set height to 0 if count is zero
                        });

                        if (maxRecord > 0) {
                            document.getElementById(maxRecordId).parentNode.classList.add('selected');
                        }
                    })
                    .catch(error => console.error('Error:', error));

                updateUserApplicationChart();

            }

            function updateUserApplicationChart() {

                fetch('/system-admin-user-application-analytics/')
                    .then(response => response.json())
                    .then(data => {

                        const pendingCount = data.pending_count;
                        const activeCount = data.active_count;
                        const inactiveCount = data.inactive_count;

                        // Calculate total for percentage
                        const total = pendingCount + activeCount + inactiveCount;

                        // Calculate percentages for design only
                        const pendingPercentage = ((pendingCount / total) * 100).toFixed(0);
                        const activePercentage = ((activeCount / total) * 100).toFixed(0);
                        const inactivePercentage = ((inactiveCount / total) * 100).toFixed(0);

                        // Update Pending Circle
                        const pendingCircle = document.getElementById('pending-progress-circle');
                        const pendingText = document.getElementById('pending-count');
                        pendingCircle.style.background = `conic-gradient(#3589ff 0% ${pendingPercentage}%, #e9ecef ${pendingPercentage}% 100%)`;
                        pendingText.textContent = pendingCount; // Display actual count

                        // Update Active Circle
                        const activeCircle = document.getElementById('active-progress-circle');
                        const activeText = document.getElementById('active-count');
                        activeCircle.style.background = `conic-gradient(#3589ff 0% ${activePercentage}%, #e9ecef ${activePercentage}% 100%)`;
                        activeText.textContent = activeCount; // Display actual count

                        // Update Inactive Circle
                        const inactiveCircle = document.getElementById('inactive-progress-circle');
                        const inactiveText = document.getElementById('inactive-count');
                        inactiveCircle.style.background = `conic-gradient(#3589ff 0% ${inactivePercentage}%, #e9ecef ${inactivePercentage}% 100%)`;
                        inactiveText.textContent = inactiveCount; // Display actual count
                        

                    })
                    .catch(error => console.error('Error:', error));

            }

            inputGroupSelect.addEventListener('change', handleSelectChange);
            handleSelectChange();
            setInterval(handleSelectChange, 3000);

        });

    </script>

    <script>
        function updateTime() {
            const now = new Date();

            const dayOptions = { weekday: 'long' };
            const dateOptions = { year: 'numeric', month: 'short', day: 'numeric' };

            const day = now.toLocaleDateString('en-US', dayOptions);
            const date = now.toLocaleDateString('en-US', dateOptions);
            const time = now.toLocaleTimeString('en-US', { hour12: true });

            document.getElementById('day').textContent = day;
            document.getElementById('date').textContent = date;
            document.getElementById('time').textContent = time;
        }

        setInterval(updateTime, 1000);
        updateTime();
    </script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- [ANALYTICS] Line Graph for Document Status -->
    <script>
        const ctx = document.getElementById('multiAreaChart').getContext('2d');
        const multiAreaChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['Last 3 Months', 'Last 2 Months', 'Last Month', 'Current Month'], // Time periods
                datasets: [
                {
                        label: 'Resolved',
                        data: [25, 10, 15, 50], // resolved document tot/unacted+delayed tot
                        borderColor: '#4DA8DA', // Line color
                        backgroundColor: 'rgba(77, 168, 218, 0.2)', // Fill color
                        tension: 0.4,
                        fill: true,
                        pointRadius: 0
                    },
                    {
                        label: 'Pending',
                        data: [3, 15, 8, 25], 
                        borderColor: '#4169E1',
                        backgroundColor: 'rgba(65, 105, 225, 0.2)',
                        tension: 0.4,
                        fill: true,
                        pointRadius: 0
                    },
                    {
                        label: 'Delayed',
                        data: [5, 20, 9, 26], 
                        borderColor: '#003366',
                        backgroundColor: 'rgba(0, 51, 102, 0.2)',
                        tension: 0.4,
                        fill: true,
                        pointRadius: 0
                    },
                    {
                        label: 'Unacted',
                        data: [1, 2, 4, 10], 
                        borderColor: '#008080',
                        backgroundColor: 'rgba(0, 128, 128, 0.2)',
                        tension: 0.4,
                        fill: true,
                        pointRadius: 0
                    }
                ]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    legend: {
                        display: true, // Show the legend
                        position: 'bottom'
                    }
                }
            }
        });
    </script>

    <!-- [ANALYTICS] Pie Chart JavaScript -->
    <script>
        var ctx1 = document.getElementById('performanceChart').getContext('2d');
        var chart = new Chart(ctx1, {
            type: 'pie',
            data: {
                labels: ['Resolved', 'Pending', 'Delayed', 'Unacted'],
                datasets: [{
                    label: 'Document',
                    data: [10, 6, 4, 2], // Replace with actual data
                    backgroundColor: ['#4DA8DA', '#4169E1',  '#003366', '#008080']
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
            }
        });
    </script>
</body>
</html>