{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
	<link rel="stylesheet" href="{% static 'css/login-signup.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
	<link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <title>TrackIt - System Admin Login</title>
</head>                    

<body>
	<section class="vh-100">
		<div class="row h-100 g-0">
			<!-- Left BG Side -->
			<div class="col-md-6 bg-side d-none d-md-block">
				<img src="{% static 'images/access-bg.png' %}" alt="TrackIt Background" class="h-100 w-100 object-fit-cover">
			</div>
			<!-- Right Form Side -->
			<div class="col-md-6 form-side">
				<div class="form-container px-lg-5 mx-lg-5">
					<div class="mb-4 pb-3">
						<img src="{% static 'images/logo.png' %}" alt="Company Logo" class="img-fluid" style="max-width: 180px;">
					</div>
					<div class="mb-4">
						<h2 class="mb-2">System Admin Login</h2>
						<p>Please login with your account details.</p>
					</div>
					<form>
						<div class="row mb-3">
							<div>
								<label for="employeeID" class="form-label">Admin ID</label>
								<input type="text" class="form-control" placeholder="Enter User ID">
							</div>
						</div>
						<div class="row mb-3">
							<div> 
								<label for="password" class="form-label">Password</label>
								<input type="password" class="form-control" id="password" placeholder="Enter Password">
								<i class="fa-regular fa-eye toggle-pass" id="togglePassword"></i>
							</div>	
						</div>
						<div class="row mb-3">
							<div class="col">
								<div class="form-check py-0 mb-0">
									<input type="checkbox" id="rememberMe" class="form-check-input">
									<label for="rememberMe" class="fw-semibold">Remember me</label>
								</div>
							</div>
							<div class="col text-end">
								<a href="{% url 'forgot_password' %}" class="black-link">Forgot password?</a>
							</div>
						</div>
						<button type="button" class="btn btn-primary w-100 mb-5">Login</button>
					</form>
				</div>
			</div>
		</div>
	</section>
	<script src="{% static 'js/toggle-pass.js' %}"></script>
</body>
</html>