{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/logo-icon.png" type="image/png">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
	<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
	<link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>System Admin Officer New Record</title>
</head>

<body id="bodyPd">
    {% include "assets/system-admin-navbar.html" %}

    <div class="container">
        <h3 class="fw-semibold pb-2">Create New Record</h3>
        <div class="create-record container p-3 rounded" style="background-color: white;">
            <h5 class="fw-semibold pb-2"><i class='bx bxs-info-circle py-0' style="color: #2E72EA;"></i>    Document Information</h5 >
            <form method="post" action="{% url 'new_record_system_admin' %}" id="recordForm">
                {% csrf_token %}
                <div class="row mb-3 g-2">
                    <div class="col-12 col-md-4">
                        <label for="TrackingNumber" class="form-label">Tracking Number</label>
                        <input type="text" class="form-control" name="tracking_no" id="TrackingNumber" aria-describedby="TrackingNumber" placeholder="e.g. 112922032-DEPT-001" required>
                    </div>

                    <div class="col-12 col-md-4">
                        <label for="SenderName" class="form-label">Sender Name</label>
                        <input type="text" class="form-control" name="sender_name" id="SenderName" aria-describedby="SenderName" placeholder="e.g. Juan S. Dela Cruz" required>
                    </div>

                    <div class="col-12 col-md-4">
                        <label for="SenderDepartment" class="form-label">Sender Department</label>
                        <select class="form-select" name="sender_dept" id="SenderDepartment" aria-label="SenderDepartment" required>
                            <option value="">Select Sender Department</option>
                            <option value="Admin">Admin</option>
                            <option value="Finance">Finance</option>
                            <option value="Budget">Budget</option>
                            <option value="Cashier">Cashier</option>
                        </select>
                    </div>
                </div>

                <div class="row mb-3 g-2">
                    <div class="col-12 col-md-6">
                        <label for="DocumentCategory" class="form-label">Select Document Category</label>
                        <select class="form-select" id="DocumentCategory" aria-label="DocumentCategory" required>
                            <option value="" disabled selected hidden>Document Category</option>
                            <option value="Regular">Regular</option>
                            <option value="SCPF">SCPF</option>
                        </select>
                    </div>

                    <div class="col-12 col-md-6">
                        <label for="DocumentType" class="form-label">Select Document Type</label>
                        <select class="form-select" name="doc_type" id="DocumentType" aria-label="DocumentType" disabled required>
                            <option value="">Select Document Type</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="Subject" class="form-label">Subject / Particulars</label>
                    <input class="form-control" name="subject" id="Subject" placeholder="e.g. Request for Amendment of Expense List for Cash Advance Under Special Order No. 34" required>
                </div>

                <div class="mb-3">
                    <label for="Remarks" class="form-label">Remarks</label>
                    <textarea type="text" class="form-control" name="remarks"  id="Remarks" placeholder="e.g. For Immediate Approval of Cash Disbursement"></textarea>
                </div>

                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-primary" id="submitBtn">Confirm</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal to Confirm Record Creation -->
    <div class="modal fade" id="confirmRecordCreation" tabindex="-1" aria-labelledby="confirmRecordCreationLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 px-3 py-2 bg-white shadow">
                <div class="modal-header pb-0 border-bottom-0">
                    <h5 class="modal-title" id="confirmRecordCreationLabel">Create New Record</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to create this new record? Please review the information before proceeding.</p>
                </div>
                <div class="modal-footer p-3 pt-0 border-top-0">
                    <button type="button" class="m-0 mb-2 btn btn-primary" id="confirmCreate" data-bs-toggle="modal" data-bs-target="#generateQRCode">Confirm</button>
                    <button type="button" class="m-0 mb-2 btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal to Generate QR Code -->
    {% if showQRModal %}
        <div class="modal fade" id="generateQRCode" tabindex="-1" aria-labelledby="generateQRCodeLabel" aria-hidden="true">
            <div class="modal-dialog" style="max-width: 400px;">
                <div class="modal-content rounded-4 px-3 py-2 bg-white shadow">
                    <div class="modal-header pb-0 border-bottom-0 d-flex justify-content-between align-items-center" style="font-size: 13.5px;">
                        <button type="button" class="btn-close" style="visibility: hidden;"></button>
                        <h5 class="fw-bold mb-0 text-center flex-grow-1" id="confirmRecordCreationLabel">Document QR Code</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <p class="mb-2">Scan the code to quickly access the document details or perform a specified action.</p>
                        <p class="fw-bold my-0">{{ str_routes }}</p>
                        <img id='qrCodeImage' src="{{ qr_code_url }}" alt="Document QR Code" style="height: 218px; width: auto;">
                        <p class="fw-bold my-0">{{ str_tracking_no }}</p>
                    </div>
                    <div class="modal-footer p-3 pt-0 border-top-0 d-flex flex-column align-items-center">
                        <button type="button" class="m-0 mb-1 btn btn-primary w-100" id="printQR">Print QR Code</button>
                        <button type="button" class="m-0 mb-2 btn btn-secondary w-100" id="saveQR">Save a Copy</button>
                    </div>                
                </div>
            </div>
        </div>
    {% endif %}

    <script src="{% static 'js/tabs-nav.js' %}"></script>  
    <script src="{% static 'js/records-count.js' %}"></script>
    <script src="{% static 'js/new-record.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    

</body>
</html>

<!-- TEST COMMIT -->