body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: 15px;
    overflow: hidden;
}

.form-side {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}

.form-container {
    width: 100%;
    padding: 3rem;
}

.disabled-option {
    color: #aaa;
    opacity: 0.5;
    pointer-events: none;
}