{% load static %}

<aside class="sidebar">
    <nav class="nav d-flex flex-column flex-shrink-0 p-2 pt-0">
        <div class="nav-logo mb-2">
            <img src="{% static 'images/logo-icon.png' %}" alt="Logo Icon" class="nav-logo-icon">
            <img src="{% static 'images/logo-name.png' %}" alt="Logo Name" class="nav-logo-name">
        </div>
        <ul class="nav-list">
            <li>
                <a href="{% url 'admin_officer_dashboard' %}?status=active" class="nav-link mb-2 {% if request.resolver_match.url_name == 'admin_officer_dashboard' %}active{% endif %}" id="dashboard"> 
                    <i class='bx bx-grid-alt nav-icon'></i>
                    <span class="nav-name">Dashboard</span>
                </a> 
            </li>            
            <li>
                <a href="{% url 'admin_officer_new_record' %}?status=active" class="nav-link mb-2 {% if request.resolver_match.url_name == 'admin_officer_new_record' %}active{% endif %}" id="new"> 
                    <i class='bx bx-folder-plus nav-icon'></i>
                    <span class="nav-name">New Record</span>
                </a>
            </li>
            <li>
                <a href="{% url 'admin_officer_all_records'%}?status=active" class="nav-link mb-2 {% if request.resolver_match.url_name == 'admin_officer_all_records' %}active{% endif %}" id="all-records">
                    <i class='bx bx-folder-open nav-icon'></i>
                    <span class="nav-name">All Records</span>
                </a>
            </li>
            <li>
                <a href="{% url 'admin_officer_needs_action' 'all-documents' '-1' %}?status=active" class="nav-link mb-2 {% if request.resolver_match.url_name == 'admin_officer_needs_action' %}active{% endif %}" id="needs-action">
                    <i class='bx bx-calendar-exclamation nav-icon'></i>
                    <span class="nav-name">Needs Action</span>
                </a>
            </li>
            <li>
                <a href="{% url 'admin_officer_unacted_records'%}?status=active" class="nav-link mb-2 {% if request.resolver_match.url_name == 'admin_officer_unacted_records' %}active{% endif %}" id="overdue">
                    <i class='bx bx-calendar-x nav-icon'></i>   
                    <span class="nav-name">Unacted Records</span>
                </a>
            </li>
            <li>
                <a href="{% url 'admin_officer_archive'%}?status=active" class="nav-link mb-2 {% if request.resolver_match.url_name == 'admin_officer_archive' %}active{% endif %}" id="archive">
                    <i class='bx bx-box nav-icon'></i>
                    <span class="nav-name">Archive</span>
                </a>
            </li>
            <li>
                <a href="{% url 'admin_officer_activity_logs' 'recent' %}?status=active" class="nav-link mb-2 {% if request.resolver_match.url_name == 'admin_officer_activity_logs' %}active{% endif %}" id="act-logs">
                    <i class='bx bx-history nav-icon'></i>
                    <span class="nav-name">Activity Logs</span>
                </a>
            </li> 
        </ul>
    </nav>
</aside>
