{% load static %}

<aside class="sidebar">
    <nav class="nav d-flex flex-column flex-shrink-0 p-2 pt-0">
        <div class="nav-logo mb-2">
            <img src="{% static 'images/logo-icon.png' %}" alt="Logo Icon" class="nav-logo-icon">
            <img src="{% static 'images/logo-name.png' %}" alt="Logo Name" class="nav-logo-name">
        </div>
        <ul class="nav-list">
            <li>
                <a href="{% url 'admin_officer_dashboard' %}?status=active" class="nav-link mb-2" id="dashboard"> 
                    <i class='bx bx-grid-alt nav-icon'></i>
                    <span class="nav-name">Dashboard</span>
                </a> 
            </li>            
            <li>
                <a href="{% url 'new_record_admin_officer' %}?status=active" class="nav-link mb-2" id="new"> 
                    <i class='bx bx-folder-plus nav-icon'></i>
                    <span class="nav-name">New Record</span>
                </a>
            </li>
            <li>
                <a href="{% url 'all_records_admin_officer'%}?status=active" class="nav-link mb-2" id="all-records">
                    <i class='bx bx-folder-open nav-icon'></i>
                    <span class="nav-name">All Records</span>
                </a>
            </li>
            <li>
                <a href="{% url 'admin_officer_needs_action' 'all-documents' '-1' %}?status=active" class="nav-link mb-2" id="needs-action">
                    <i class='bx bx-alarm-exclamation nav-icon'></i>
                    <span class="nav-name">Needs Action</span>
                </a>
            </li>
            <li>
                <a href="{% url 'unacted_records_admin_officer'%}?status=active" class="nav-link mb-2" id="overdue">
                    <i class='bx bx-calendar-x nav-icon'></i>   
                    <span class="nav-name">Unacted Records</span>
                </a>
            </li>
            <li>
                <a href="{% url 'archive_admin_officer'%}?status=active" class="nav-link mb-2" id="archive">
                    <i class='bx bx-box nav-icon'></i>
                    <span class="nav-name">Archive</span>
                </a>
            </li>
            <li>
                <a href="{% url 'activity_logs_admin_officer'%}?status=active" class="nav-link mb-2" id="act-logs">
                    <i class='bx bx-history nav-icon'></i>
                    <span class="nav-name">Recent Activities</span>
                </a>
            </li> 
        </ul>
    </nav>
</aside>
