{% load static %}

<aside class="sidebar">
    <div class="nav-logo d-flex flex-shrink-0 mx-2 my-0">
        <img src="{% static 'images/logo-icon.png' %}" alt="Logo Icon" class="nav-logo-icon">
        <img src="{% static 'images/logo-name.png' %}" alt="Logo Name" class="nav-logo-name">
    </div>
    
    <div class="sidebar-content" id="sidebarAccordion">
        <nav class="nav d-flex flex-column flex-shrink-0 p-2 pt-0">
            <ul class="list-unstyled ps-0">
                <li class="my-2">
                    <a href="{% url 'sro_dashboard' %}?status=active" id="dashboard"
                       class="nav-link {% if request.resolver_match.url_name == 'sro_dashboard' %}active{% endif %}"> 
                        <i class='bx bx-grid-alt nav-icon'></i>
                        <span class="nav-name">Dashboard</span>
                    </a> 
                </li>

                <li class="mb-2">
                    <button class="nav-link w-100 d-flex justify-content-between align-items-center collapsed
                        {% if request.resolver_match.url_name == 'sro_records' %}active{% endif %} 
                        {% if request.resolver_match.url_name == 'sro_unacted_records' %}active{% endif %}
                        {% if request.resolver_match.url_name == 'sro_resolved_records' %}active{% endif %}"
                        data-bs-toggle="collapse" data-bs-target="#records-collapse" aria-expanded="true">
                        <div class="d-flex align-items-center">
                            <i class='bx bx-folder-open nav-icon'></i>
                            <span class="nav-name name-margin">Records</span>
                        </div>
                        <i class="bx bx-chevron-right nav-drop-icon fs-5"></i>
                    </button>

                    <div id="records-collapse" data-bs-parent="#sidebarAccordion" class="collapse
                        {% if request.resolver_match.url_name == 'sro_records' %}show{% endif %} 
                        {% if request.resolver_match.url_name == 'sro_unacted_records' %}show{% endif %}
                        {% if request.resolver_match.url_name == 'sro_resolved_records' %}show{% endif %}">
                        <ul class="list-unstyled">
                            <li class="mt-2">
                                <a href="{% url 'sro_records' 'All-Documents' '-1' %}?status=active" id="records"
                                   class="nav-submenu {% if request.resolver_match.url_name == 'sro_records' %}active{% endif %}" >
                                    <i class='bx bx-calendar-exclamation nav-icon'></i>
                                    <span class="nav-name">Pending Records</span>
                                </a>
                            </li>
                            <li class="mt-2">
                                <a href="{% url 'sro_resolved_records'%}?status=active" id="resolved-docs"
                                   class="nav-submenu {% if request.resolver_match.url_name == 'sro_resolved_records' %}active{% endif %}">
                                    <i class='bx bx-calendar-check nav-icon'></i>   
                                    <span class="nav-name">Resolved Records</span>
                                </a>
                            </li>
                            <li class="mt-2">
                                <a href="{% url 'sro_unacted_records'%}?status=active" id="unacted-docs"
                                   class="nav-submenu {% if request.resolver_match.url_name == 'sro_unacted_records' %}active{% endif %}">
                                    <i class='bx bx-calendar-x nav-icon'></i>   
                                    <span class="nav-name">Unacted Records</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="mb-2">
                    <a href="{% url 'sro_pending_reports' 'default' %}?status=active" id="pendingReports"
                       class="nav-link {% if request.resolver_match.url_name == 'sro_pending_reports' %}active{% endif %}"> 
                        <i class='bx bx-chart nav-icon'></i>
                        <span class="nav-name">Pending Reports</span>
                    </a>
                </li>

                <li class="mb-2">
                    <a href="{% url 'sro_activity_logs' 'recent' %}?status=active" id="act-logs"
                       class="nav-link {% if request.resolver_match.url_name == 'sro_activity_logs' %}active{% endif %}">
                        <i class='bx bx-history nav-icon'></i>
                        <span class="nav-name">Activity Logs</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
