<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" rel="stylesheet">

{% load static %}

<header class="header" id="header">
    <div class="header-toggle">
        <i class='bx bx-menu' id="headerToggle"></i>
    </div>
    <div class="header-img">
    </div>
    <a href="{% url 'user_logout' %}" class="nav-link"><i class="fas fa-sign-out-alt me-2"></i> Logout</a>
</header>

<div class="l-navbar" id="navBar">
    <nav class="nav d-flex flex-column flex-shrink-0 p-2 pt-0">
        <div class="nav-logo mb-2">
            <img src="{% static 'images/logo-icon.png' %}" alt="Logo Icon" class="nav-logo-icon">
            <img src="{% static 'images/logo-name.png' %}" alt="Logo Name" class="nav-logo-name">
        </div>
        <ul class="nav-list flex-column mb-auto">
            <li>
                <a href="{% url 'system_admin_dashboard'%}?status=active" class="nav-link mb-1" id="dashboard">
                    <i class='bx bx-grid-alt nav-icon'></i>
                    <span class="nav-name">Dashboard</span>
                </a> 
            </li>
            <li>
                <a href="{% url 'system_admin_user_management' 'all-office' %}?status=active" class="nav-link mb-1" id="userManagement">
                    <i class='bx bx-user nav-icon'></i>
                    <span class="nav-name">User Management</span>
                </a>
            </li>
            <li>
                <a href="{% url 'system_admin_doc_management' %}?status=active" class="nav-link mb-1" id="docManagement">
                    <i class='bx bx-file-blank nav-icon'></i>
                    <span class="nav-name">Doc. Management</span>
                </a>
            </li>
            <li>
                <a href="{% url 'new_record_system_admin' %}?status=active" class="nav-link mb-1" id="newRecord">
                    <i class='bx bx-folder-plus nav-icon'></i>
                    <span class="nav-name">New Record</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link mb-1">
                    <i class='bx bx-folder-open nav-icon'></i>
                    <span class="nav-name">All Records</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link mb-1">
                    <i class='bx bx-box nav-icon'></i>
                    <span class="nav-name">Archive</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link mb-1">
                    <i class='bx bx-history nav-icon'></i>
                    <span class="nav-name">Activity Logs</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link mb-1">
                    <i class='bi bi-megaphone nav-icon'></i>
                    <span class="nav-name">Announcements</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link mb-1">
                    <i class='bx bx-bar-chart-alt-2 nav-icon'></i>
                    <span class="nav-name">Generate Reports</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<!--TEST COMMIT-->

<script src="{% static 'js/toggle-navbar.js' %}"></script>