{% load custom_filters %}
{% load tz %}
{% if documents %}
    {% for document in documents %}
        <tr class="{% if user == 'DIR' %}{% if document.document_type.document_no == most_priority_doc_type.document_no %}highlight-priority{% endif %}{% endif %}">
            
            <td class="{%if not selection%}d-none{%endif%}">
                <div class="d-flex justify-content-center">
                    <input type="checkbox" value="{{document.document_no}}" {% if document.document_no in selected_documents %}checked{% endif %}>
                </div>
            </td>            
        
            
            <td style="white-space: nowrap;">
                {% if search_query %}
                    {{ document.highlighted_tracking_no|safe }}
                {% else %}
                    {{ document.tracking_no }}
                {% endif %}
            </td>
            <td>{% if document.status == 'Rejected' %} <span style="color:rgb(211, 8, 8)">{{document.status}}</span>{% else %}{{ document.status }}{% endif %}</td>
            <td>
                {% if search_query %}
                    {{ document.highlighted_sender_name|safe }}
                {% else %}
                    {{ document.sender_name }}
                {% endif %}
            </td>
            <td>
                {% if search_query %}
                    {{ document.highlighted_subject|safe }}
                {% else %}
                    {{ document.subject }}
                {% endif %}
            </td>
            <td>{{ document.document_type.category|capfirst }}</td>
            {% if document.status != 'Archived' %}
                <td>
                    {% if document.remarks|length > 28 %}
                        {{ document.remarks|slice:":28" }}&hellip;
                    {% else %}
                        {{ document.remarks}}
                    {% endif %}
                </td>
            {% endif %}
            <td style="white-space: nowrap;">
                {{ document.recent_update|date:"Y-m-d" }} <br>
                {{ document.recent_update|timezone:"Asia/Manila"|date:"h:i A" }} 
            </td>
            {% if document.status != 'Archived' %}
                <td>
                    {% with remaining_days=document.ongoing_deadline|date_diff:today %}
                        {% if remaining_days > 0 %}
                            {{ remaining_days }} day{% if remaining_days > 1 %}s{% endif %}
                        {% elif remaining_days == 0 %}
                            Due today
                        {% else %}
                            Overdue
                        {% endif %}
                    {% endwith %}
                </td>

                {% if document.document_type.priority_level.priority_level == "for pref. action" %}
                    <td><span class="badge badge-gray rounded-pill fw-semibold">FOR PREF. ACTION</span></td>
                {% elif document.document_type.priority_level.priority_level == "normal" %}
                    <td><span class="badge badge-green rounded-pill fw-semibold">NORMAL</span></td>
                {% elif document.document_type.priority_level.priority_level == "urgent" %}
                    <td><span class="badge badge-yellow rounded-pill fw-semibold">URGENT</span></td>
                {% elif document.document_type.priority_level.priority_level == "very urgent" %}
                    <td><span class="badge badge-red rounded-pill fw-semibold">VERY URGENT</span></td>   
                {% endif %}

            {% endif %}
            
            <td>
                <div class="table-action" id="tableAction">

                    <button type="button" class="btn btn-sm btn-blue viewDocumentBtn" data-document-no="{{ document.document_no }}" 
                        data-bs-toggle="modal" data-bs-target="#viewDocumentModal"
                        data-bs-toggle="tooltip" title="View Document Details">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                    {% if document.status == 'For DIR Approval' %}
                        {% if user == 'DIR' or user == 'SYS' %}

                            {% if id == '1002' %}
                                <button type="button" class="reroutebtn btn btn-sm btn-blue" 
                                    data-action="re-route"
                                    data-document-no="{{ document.document_no }}"
                                    data-document-type="{{ document.document_type.document_type }}"
                                    data-document-category="{{ document.document_type.category }}"
                                    data-bs-toggle="modal" 
                                    data-bs-target="#editDocumentRouteModal"
                                    data-bs-toggle="tooltip" title="Re-route Document">
                                    <i class="fa-solid fa-route"></i>
                                </button>
                            {% endif %}

                            {% if not document.next_route %}
                                <button type="button" class="reject-btn btn btn-sm btn-red" 
                                    data-action="reject" 
                                    data-document-no="{{ document.document_no }}"
                                    data-bs-toggle="tooltip" title="Reject Document">
                                    <i class="fa-solid fa-xmark"></i>
                                </button>
                            {% endif %}

                            <button type="button" class="approve-btn btn btn-sm btn-green" 
                                data-action="approve" 
                                data-document-no="{{ document.document_no }}"
                                data-bs-toggle="tooltip" title="Approve Document">
                                <i class="fa-solid fa-check"></i>
                            </button>
                            
                        {% endif %}
                    {% elif document.status == 'For Routing' %}
                        {% if user == 'ADO' or user == 'SYS' %}
                            <button type="button" class="route-btn btn btn-sm btn-green routeDocumentBtn" 
                                data-action="route" 
                                data-document-no="{{ document.document_no }}"
                                data-bs-toggle="tooltip" title="Route Document">
                                <i class="fa-solid fa-route"></i>
                            </button>
                        {% endif %}
                    {% elif document.status == 'For Archiving' %}
                        {% if user == 'ADO' or user == 'SYS' %}
                            <button type="button" class="archive-btn btn btn-sm btn-red" 
                                data-action="archive" 
                                data-document-no="{{ document.document_no }}"
                                data-bs-toggle="tooltip" title="Archive Document">
                                <i class="fa-solid fa-box-archive"></i>
                            </button>
                        {% endif %}
                    {% elif document.status == 'For SRO Receiving' %}
                        {% if user == 'SRO' or user == 'SYS' %}
                            <button type="button" class="forward-btn btn btn-sm btn-green" 
                                data-action="forward"
                                data-document-no="{{ document.document_no }}"
                                data-bs-toggle="tooltip" title="Forward Document">
                                <i class="fa-solid fa-share"></i>
                            </button>
                        {% endif %}
                    {% elif document.status == 'For ACT Receiving' %}
                        {% if user == 'ACT' or user == 'SYS' %}
                            <button type="button" class="endorse-btn btn btn-sm btn-green" 
                                data-action="endorse" 
                                data-document-no="{{ document.document_no }}"
                                data-bs-toggle="tooltip" title="Endorse Document">
                                <i class="fa-solid fa-thumbs-up"></i>
                            </button>
                        {% endif %}
                    {% elif document.status == 'For Resolving' %}
                        {% if user == 'SRO' or user == 'SYS' %}
                            <button type="button" class="resolve-btn btn btn-sm btn-green" 
                                data-action="resolve" 
                                data-document-no="{{ document.document_no }}"
                                data-bs-toggle="tooltip" title="Resolve Document">
                                <i class="fa-solid fa-flag"></i>
                            </button>
                        {% endif %}
                    {% elif document.status == 'Archived' %}
                        {% if user == 'SYS' %}
                            <button type="button" class="btn btn-sm btn-red" 
                                data-action="delete" 
                                data-document-no="{{ document.document_no }}" 
                                data-bs-toggle="modal" 
                                data-bs-target="#deleteDocumentModal"
                                data-bs-toggle="tooltip" title="Delete Document">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        {% endif %}
                    {% elif document.status == 'Rejected' %}
                        {% if user == 'ADO' %}
                            <a href="{% url 'admin_officer_new_record' %}?reupload={{document.document_no}}" class="btn btn-sm btn-green" 
                            title="Reupload Document">
                            <i class="fa-solid fa-repeat"></i>
                            </a>
                        {% endif %}
                        {% if user == 'SYS' %}
                            <a href="{% url 'system_admin_new_record' %}?reupload={{document.document_no}}" class="btn btn-sm btn-green" 
                            title="Reupload Document">
                            <i class="fa-solid fa-repeat"></i>
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
            </td>
        </tr>
       
    {% endfor %}
{% else %}
    <tr>
        <td colspan="10" class="text-center table-empty">No data to display in table.</td>
    </tr>
{% endif %}

<input type="hidden" id="docuLength" value="{{ documents|length|default:'0' }}">