{% if reports %}
    {% for report in reports %}
        <tr>
            <td>
                {% if search_query %}
                    {{ report.highlighted_report_name|safe }}
                {% else %}
                    {{ report.report_name }}
                {% endif %}
            </td>
            <td>{{ report.report_type }}</td>
            {% if report.report_type == 'Office Performance' %}
                <td>{{ report.office_id.office_name }}</td>
            {% else %}
                <td>{{ report.employee_id.employee_id }}</td>
            {% endif %}
            <td>{{ report.start_date|date:"Y-m-d" }}</td>
            <td>{{ report.end_date|date:"Y-m-d" }}</td>
            <td style="white-space: nowrap;">{{ report.last_update|date:"Y-m-d" }}<br>{{ report.last_update|date:"h:i A" }}</td>
            <td>
                <div class="table-action">
                    
                    <!--
                    <button type="button" class="preview btn btn-sm btn-blue" data-bs-toggle="modal" data-bs-target="#viewReportModal">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                    -->
                    <button type="button" class="btn btn-sm btn-green downloadButton" data-report-no="{{ report.report_no }}">
                        <i class="fa-solid fa-download"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-red" data-bs-toggle="modal" data-bs-target="#deleteReportModal" data-report-no="{{ report.report_no }}">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </div>
            </td>
        </tr>
    {% endfor %}
{% else %}
    <tr>
        <td colspan="8" class="text-center">No data to display in table.</td>
    </tr>
{% endif %}

<input type="hidden" id="reportsCount" value="{{ reports|length|default:'0' }}">