{% load custom_filters %}
{% load tz %}
{% if documents %}
    {% for document in documents %}
        <tr class="{% if user == 'DIR' %}{% if document.document_type.document_no == most_priority_doc_type.document_no %}highlight-priority{% endif %}{% endif %}">
            <td style="white-space: nowrap;">
                {% if search_query %}
                    {{ document.highlighted_tracking_no|safe }}
                {% else %}
                    {{ document.tracking_no }}
                {% endif %}
            </td>
            <td>{{ document.status }}</td>
            <td>
                {% if search_query %}
                    {{ document.highlighted_sender_name|safe }}
                {% else %}
                    {{ document.sender_name }}
                {% endif %}
            </td>
            <td>
                {% if search_query %}
                    {{ document.highlighted_subject|safe }}
                {% else %}
                    {{ document.subject }}
                {% endif %}
            </td>
            <td>{{ document.document_type.category|capfirst }}</td>
            <td>
                {% if document.remarks|length > 28 %}
                    {{ document.remarks|slice:":28" }}&hellip;
                {% else %}
                    {{ document.remarks}}
                {% endif %}
            </td>
            <td style="white-space: nowrap;">
                {{ document.recent_update|date:"Y-m-d" }} <br>
                {{ document.recent_update|timezone:"Asia/Manila"|date:"h:i A" }} 
            </td>
            <td>
                {% with remaining_days=document.ongoing_deadline|date_diff:today %}
                    {% if remaining_days > 0 %}
                        {{ remaining_days }} day{% if remaining_days > 1 %}s{% endif %}
                    {% elif remaining_days == 0 %}
                        Due today
                    {% else %}
                        Overdue
                    {% endif %}
                {% endwith %}
            </td>

            {% if document.document_type.priority_level.priority_level == "for pref. action" %}
                <td><span class="badge badge-yellow rounded-pill fw-semibold">FOR PREF. ACTION</span></td>
            {% elif document.document_type.priority_level.priority_level == "normal" %}
                <td><span class="badge badge-green rounded-pill fw-semibold">NORMAL</span></td>
            {% elif document.document_type.priority_level.priority_level == "urgent" %}
                <td><span class="badge badge-orange rounded-pill fw-semibold">URGENT</span></td>
            {% elif document.document_type.priority_level.priority_level == "very urgent" %}
                <td><span class="badge badge-red rounded-pill fw-semibold">VERY URGENT</span></td>   
            {% endif %}

            <td>
                <div class="table-action">

                    <button type="button" class="btn btn-sm btn-blue viewDocumentBtn" data-document-no="{{ document.document_no }}" 
                        data-bs-toggle="modal" data-bs-target="#viewDocumentModal"
                        data-bs-toggle="tooltip" title="View Document Details">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                    {% if document.status == 'For DIR Approval' %}
                        {% if user == 'DIR' or user == 'SYS' %}
                            <button type="button" class="btn btn-sm btn-green" 
                                data-action="approve" 
                                data-document-no="{{ document.document_no }}" 
                                data-bs-toggle="modal" 
                                data-bs-target="#approveDocumentModal"
                                data-bs-toggle="tooltip" title="Approve Document">
                                <i class="fa-solid fa-check"></i>
                            </button>
                        {% endif %}
                    {% elif document.status == 'For Routing' %}
                        {% if user == 'ADO' or user == 'SYS' %}
                            <button type="button" class="btn btn-sm btn-green routeDocumentBtn" 
                                data-action="route" 
                                data-document-no="{{ document.document_no }}" 
                                data-bs-toggle="modal" 
                                data-bs-target="#routeDocumentModal"
                                data-bs-toggle="tooltip" title="Route Document">
                                <i class="fa-solid fa-route"></i>
                            </button>
                        {% endif %}
                    {% elif document.status == 'For Archiving' %}
                        {% if user == 'ADO' or user == 'SYS' %}
                            <button type="button" class="btn btn-sm btn-red" 
                                data-action="archive" 
                                data-document-no="{{ document.document_no }}" 
                                data-bs-toggle="modal" 
                                data-bs-target="#archiveDocumentModal"
                                data-bs-toggle="tooltip" title="Archive Document">
                                <i class="fa-solid fa-box-archive"></i>
                            </button>
                        {% endif %}
                    {% elif document.status == 'For SRO Receiving' %}
                        {% if user == 'SRO' or user == 'SYS' %}
                            <button type="button" class="btn btn-sm btn-green" 
                                data-action="forward" 
                                data-document-no="{{ document.document_no }}" 
                                data-bs-toggle="modal" 
                                data-bs-target="#forwardDocumentModal"
                                data-bs-toggle="tooltip" title="Forward Document">
                                <i class="fa-solid fa-share"></i>
                            </button>
                        {% endif %}
                    {% elif document.status == 'For ACT Receiving' %}
                        {% if user == 'ACT' or user == 'SYS' %}
                            <button type="button" class="btn btn-sm btn-green" 
                                data-action="endorse" 
                                data-document-no="{{ document.document_no }}" 
                                data-bs-toggle="modal" 
                                data-bs-target="#endorseDocumentModal"
                                data-bs-toggle="tooltip" title="Endorse Document">
                                <i class="fa-solid fa-thumbs-up"></i>
                            </button>
                        {% endif %}
                    {% elif document.status == 'For Resolving' %}
                        {% if user == 'SRO' or user == 'SYS' %}
                            <button type="button" class="btn btn-sm btn-green" 
                                data-action="resolve" 
                                data-document-no="{{ document.document_no }}" 
                                data-bs-toggle="modal" 
                                data-bs-target="#resolveDocumentModal"
                                data-bs-toggle="tooltip" title="Resolve Document">
                                <i class="fa-solid fa-flag"></i>
                            </button>
                        {% endif %}
                    {% elif document.status == 'Archived' %}
                        {% if user == 'SYS' %}
                            <button type="button" class="btn btn-sm btn-red" 
                                data-action="delete" 
                                data-document-no="{{ document.document_no }}" 
                                data-bs-toggle="modal" 
                                data-bs-target="#deleteDocumentModal"
                                data-bs-toggle="tooltip" title="Delete Document">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        {% endif %}
                    {% endif %}
                </div>
            </td>
        </tr>
       
    {% endfor %}
{% else %}
    <tr>
        <td colspan="10" class="text-center table-empty">No data to display in table.</td>
    </tr>
{% endif %}

<input type="hidden" id="docuLength" value="{{ documents|length|default:'0' }}">